# Spider Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ ÏÇ¨Ïö©Ìïú Llama 3.1 ÌååÏù∏ÌäúÎãù (ÌÖåÏù¥Î∏î Ïä§ÌÇ§Îßà ÌÜµÌï©)

In [3]:
import os
os.environ["PYTORCH_TRITON"] = "0"
os.environ['TRITON_JIT_DISABLE_OPT'] = '1'

In [4]:
# Google Drive Ïó∞Í≤∞
from google.colab import drive
drive.mount('/content/drive')

# Í≤ΩÎ°ú ÏÑ§Ï†ï (Spider Îç∞Ïù¥ÌÑ∞ÏÖãÏù¥ Ï†ÄÏû•Îêú Í≤ΩÎ°úÎ°ú ÏàòÏ†ïÌïòÏÑ∏Ïöî)
SPIDER_DIR = '/content/drive/MyDrive/spider/spider_data'  # ÌïÑÏöîÏóê Îî∞Îùº ÏàòÏ†ï
DATASET_PATH = '/content/drive/MyDrive/spider/spider_data/spider_train_translations_final.csv'  # ÌïÑÏöîÏóê Îî∞Îùº ÏàòÏ†ï

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [1]:

!pip uninstall unsloth triton -y
!pip install triton vllm unsloth tqdm pandas

Found existing installation: unsloth 2025.5.7
Uninstalling unsloth-2025.5.7:
  Successfully uninstalled unsloth-2025.5.7
Found existing installation: triton 3.2.0
Uninstalling triton-3.2.0:
  Successfully uninstalled triton-3.2.0
Collecting triton
  Using cached triton-3.3.0-cp311-cp311-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (1.5 kB)
Requirement already satisfied: vllm in /usr/local/lib/python3.11/dist-packages (0.8.5.post1)
Collecting unsloth
  Using cached unsloth-2025.5.7-py3-none-any.whl.metadata (47 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (4.67.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: setuptools>=40.8.0 in /usr/local/lib/python3.11/dist-packages (from triton) (75.2.0)
Requirement already satisfied: cachetools in /usr/local/lib/python3.11/dist-packages (from vllm) (5.5.2)
Requirement already satisfied: psutil in /usr/local/lib/python3.11/dist-packages (from vllm) (5.9.5)
Requirement already satisfied: sentencepiece in /usr/local/lib/python3.11/dist-packages (from vllm) (0.2.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from vllm) (2.0.2)
Requirement already satisfied: requests>=2.26.0 in /usr/local/lib/python3.11/dist-packages (from vllm) (2.32.3)
Requirement already satisfied: blake3 in /usr/local/lib/python3.11/dist-packages (from vllm) (1.0.5)
Requirement already satisfied: py-cpuinfo in /usr/local/lib/python3.11/dist-packages (from vllm) (9.0.0)
Requirement already satisfied: transformers>=4.51.1 in /usr/local/lib/python3.11/dist-packages (from vllm) (4.51.3)
Requirement already satisfied: huggingface-hub>=0.30.0 in /usr/local/lib/python3.11/dist-packages (from huggingface-hub[hf_xet]>=0.30.0->vllm) (0.31.2)
Requirement already satisfied: tokenizers>=0.21.1 in /usr/local/lib/python3.11/dist-packages (from vllm) (0.21.1)
Requirement already satisfied: protobuf in /usr/local/lib/python3.11/dist-packages (from vllm) (3.20.3)
Requirement already satisfied: fastapi>=0.115.0 in /usr/local/lib/python3.11/dist-packages (from fastapi[standard]>=0.115.0->vllm) (0.115.12)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.11/dist-packages (from vllm) (3.11.15)
Requirement already satisfied: openai>=1.52.0 in /usr/local/lib/python3.11/dist-packages (from vllm) (1.78.1)
Requirement already satisfied: pydantic>=2.9 in /usr/local/lib/python3.11/dist-packages (from vllm) (2.11.4)
Requirement already satisfied: prometheus_client>=0.18.0 in /usr/local/lib/python3.11/dist-packages (from vllm) (0.21.1)
Requirement already satisfied: pillow in /usr/local/lib/python3.11/dist-packages (from vllm) (11.2.1)
Requirement already satisfied: prometheus-fastapi-instrumentator>=7.0.0 in /usr/local/lib/python3.11/dist-packages (from vllm) (7.1.0)
Requirement already satisfied: tiktoken>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from vllm) (0.9.0)
Requirement already satisfied: lm-format-enforcer<0.11,>=0.10.11 in /usr/local/lib/python3.11/dist-packages (from vllm) (0.10.11)
Requirement already satisfied: llguidance<0.8.0,>=0.7.9 in /usr/local/lib/python3.11/dist-packages (from vllm) (0.7.24)
Requirement already satisfied: outlines==0.1.11 in /usr/local/lib/python3.11/dist-packages (from vllm) (0.1.11)
Requirement already satisfied: lark==1.2.2 in /usr/local/lib/python3.11/dist-packages (from vllm) (1.2.2)
Requirement already satisfied: xgrammar==0.1.18 in /usr/local/lib/python3.11/dist-packages (from vllm) (0.1.18)
Requirement already satisfied: typing_extensions>=4.10 in /usr/local/lib/python3.11/dist-packages (from vllm) (4.13.2)
Requirement already satisfied: filelock>=3.16.1 in /usr/local/lib/python3.11/dist-packages (from vllm) (3.18.0)
Requirement already satisfied: partial-json-parser in /usr/local/lib/python3.11/dist-packages (from vllm) (0.2.1.1.post5)
Requirement already satisfied: pyzmq>=25.0.0 in /usr/local/lib/python3.11/dist-packages (from vllm) (26.4.0)
Requirement already satisfied: msgspec in /usr/local/lib/python3.11/dist-packages (from vllm) (0.19.0)
Requirement already satisfied: gguf>=0.13.0 in /usr/local/lib/python3.11/dist-packages (from vllm) (0.16.3)
Requirement already satisfied: importlib_metadata in /usr/local/lib/python3.11/dist-packages (from vllm) (8.0.0)
Requirement already satisfied: mistral_common>=1.5.4 in /usr/local/lib/python3.11/dist-packages (from mistral_common[opencv]>=1.5.4->vllm) (1.5.5)
Requirement already satisfied: opencv-python-headless>=4.11.0 in /usr/local/lib/python3.11/dist-packages (from vllm) (4.11.0.86)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.11/dist-packages (from vllm) (6.0.2)
Requirement already satisfied: einops in /usr/local/lib/python3.11/dist-packages (from vllm) (0.8.1)
Requirement already satisfied: compressed-tensors==0.9.3 in /usr/local/lib/python3.11/dist-packages (from vllm) (0.9.3)
Requirement already satisfied: depyf==0.18.0 in /usr/local/lib/python3.11/dist-packages (from vllm) (0.18.0)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.11/dist-packages (from vllm) (3.1.1)
Requirement already satisfied: watchfiles in /usr/local/lib/python3.11/dist-packages (from vllm) (1.0.5)
Requirement already satisfied: python-json-logger in /usr/local/lib/python3.11/dist-packages (from vllm) (3.3.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.11/dist-packages (from vllm) (1.15.3)
Requirement already satisfied: ninja in /usr/local/lib/python3.11/dist-packages (from vllm) (1.11.1.4)
Requirement already satisfied: opentelemetry-sdk<1.27.0,>=1.26.0 in /usr/local/lib/python3.11/dist-packages (from vllm) (1.26.0)
Requirement already satisfied: opentelemetry-api<1.27.0,>=1.26.0 in /usr/local/lib/python3.11/dist-packages (from vllm) (1.26.0)
Requirement already satisfied: opentelemetry-exporter-otlp<1.27.0,>=1.26.0 in /usr/local/lib/python3.11/dist-packages (from vllm) (1.26.0)
Requirement already satisfied: opentelemetry-semantic-conventions-ai<0.5.0,>=0.4.1 in /usr/local/lib/python3.11/dist-packages (from vllm) (0.4.9)
Requirement already satisfied: numba==0.61.2 in /usr/local/lib/python3.11/dist-packages (from vllm) (0.61.2)
Requirement already satisfied: ray!=2.44.*,>=2.43.0 in /usr/local/lib/python3.11/dist-packages (from ray[cgraph]!=2.44.*,>=2.43.0->vllm) (2.46.0)
Requirement already satisfied: torch==2.6.0 in /usr/local/lib/python3.11/dist-packages (from vllm) (2.6.0+cu124)
Requirement already satisfied: torchaudio==2.6.0 in /usr/local/lib/python3.11/dist-packages (from vllm) (2.6.0+cu124)
Requirement already satisfied: torchvision==0.21.0 in /usr/local/lib/python3.11/dist-packages (from vllm) (0.21.0+cu124)
Requirement already satisfied: xformers==0.0.29.post2 in /usr/local/lib/python3.11/dist-packages (from vllm) (0.0.29.post2)
Requirement already satisfied: astor in /usr/local/lib/python3.11/dist-packages (from depyf==0.18.0->vllm) (0.8.1)
Requirement already satisfied: dill in /usr/local/lib/python3.11/dist-packages (from depyf==0.18.0->vllm) (0.3.7)
Requirement already satisfied: llvmlite<0.45,>=0.44.0dev0 in /usr/local/lib/python3.11/dist-packages (from numba==0.61.2->vllm) (0.44.0)
Requirement already satisfied: interegular in /usr/local/lib/python3.11/dist-packages (from outlines==0.1.11->vllm) (0.3.3)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.11/dist-packages (from outlines==0.1.11->vllm) (3.1.6)
Requirement already satisfied: nest_asyncio in /usr/local/lib/python3.11/dist-packages (from outlines==0.1.11->vllm) (1.6.0)
Requirement already satisfied: diskcache in /usr/local/lib/python3.11/dist-packages (from outlines==0.1.11->vllm) (5.6.3)
Requirement already satisfied: referencing in /usr/local/lib/python3.11/dist-packages (from outlines==0.1.11->vllm) (0.36.2)
Requirement already satisfied: jsonschema in /usr/local/lib/python3.11/dist-packages (from outlines==0.1.11->vllm) (4.23.0)
Requirement already satisfied: pycountry in /usr/local/lib/python3.11/dist-packages (from outlines==0.1.11->vllm) (24.6.1)
Requirement already satisfied: airportsdata in /usr/local/lib/python3.11/dist-packages (from outlines==0.1.11->vllm) (20250224)
Requirement already satisfied: outlines_core==0.1.26 in /usr/local/lib/python3.11/dist-packages (from outlines==0.1.11->vllm) (0.1.26)
Requirement already satisfied: networkx in /usr/local/lib/python3.11/dist-packages (from torch==2.6.0->vllm) (3.4.2)
Requirement already satisfied: fsspec in /usr/local/lib/python3.11/dist-packages (from torch==2.6.0->vllm) (2025.3.0)
Requirement already satisfied: nvidia-cuda-nvrtc-cu12==12.4.127 in /usr/local/lib/python3.11/dist-packages (from torch==2.6.0->vllm) (12.4.127)
Requirement already satisfied: nvidia-cuda-runtime-cu12==12.4.127 in /usr/local/lib/python3.11/dist-packages (from torch==2.6.0->vllm) (12.4.127)
Requirement already satisfied: nvidia-cuda-cupti-cu12==12.4.127 in /usr/local/lib/python3.11/dist-packages (from torch==2.6.0->vllm) (12.4.127)
Requirement already satisfied: nvidia-cudnn-cu12==9.1.0.70 in /usr/local/lib/python3.11/dist-packages (from torch==2.6.0->vllm) (9.1.0.70)
Requirement already satisfied: nvidia-cublas-cu12==12.4.5.8 in /usr/local/lib/python3.11/dist-packages (from torch==2.6.0->vllm) (12.4.5.8)
Requirement already satisfied: nvidia-cufft-cu12==11.2.1.3 in /usr/local/lib/python3.11/dist-packages (from torch==2.6.0->vllm) (11.2.1.3)
Requirement already satisfied: nvidia-curand-cu12==10.3.5.147 in /usr/local/lib/python3.11/dist-packages (from torch==2.6.0->vllm) (10.3.5.147)
Requirement already satisfied: nvidia-cusolver-cu12==11.6.1.9 in /usr/local/lib/python3.11/dist-packages (from torch==2.6.0->vllm) (11.6.1.9)
Requirement already satisfied: nvidia-cusparse-cu12==12.3.1.170 in /usr/local/lib/python3.11/dist-packages (from torch==2.6.0->vllm) (12.3.1.170)
Requirement already satisfied: nvidia-cusparselt-cu12==0.6.2 in /usr/local/lib/python3.11/dist-packages (from torch==2.6.0->vllm) (0.6.2)
Requirement already satisfied: nvidia-nccl-cu12==2.21.5 in /usr/local/lib/python3.11/dist-packages (from torch==2.6.0->vllm) (2.21.5)
Requirement already satisfied: nvidia-nvtx-cu12==12.4.127 in /usr/local/lib/python3.11/dist-packages (from torch==2.6.0->vllm) (12.4.127)
Requirement already satisfied: nvidia-nvjitlink-cu12==12.4.127 in /usr/local/lib/python3.11/dist-packages (from torch==2.6.0->vllm) (12.4.127)
Collecting triton
  Using cached triton-3.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.4 kB)
Requirement already satisfied: sympy==1.13.1 in /usr/local/lib/python3.11/dist-packages (from torch==2.6.0->vllm) (1.13.1)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /usr/local/lib/python3.11/dist-packages (from sympy==1.13.1->torch==2.6.0->vllm) (1.3.0)
Requirement already satisfied: unsloth_zoo>=2025.5.8 in /usr/local/lib/python3.11/dist-packages (from unsloth) (2025.5.8)
Requirement already satisfied: bitsandbytes in /usr/local/lib/python3.11/dist-packages (from unsloth) (0.45.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from unsloth) (24.2)
Requirement already satisfied: tyro in /usr/local/lib/python3.11/dist-packages (from unsloth) (0.9.21)
Requirement already satisfied: datasets>=3.4.1 in /usr/local/lib/python3.11/dist-packages (from unsloth) (3.6.0)
Requirement already satisfied: wheel>=0.42.0 in /usr/local/lib/python3.11/dist-packages (from unsloth) (0.45.1)
Requirement already satisfied: accelerate>=0.34.1 in /usr/local/lib/python3.11/dist-packages (from unsloth) (1.6.0)
Requirement already satisfied: trl!=0.15.0,!=0.9.0,!=0.9.1,!=0.9.2,!=0.9.3,<=0.15.2,>=0.7.9 in /usr/local/lib/python3.11/dist-packages (from unsloth) (0.15.2)
Requirement already satisfied: peft!=0.11.0,>=0.7.1 in /usr/local/lib/python3.11/dist-packages (from unsloth) (0.15.2)
Requirement already satisfied: hf_transfer in /usr/local/lib/python3.11/dist-packages (from unsloth) (0.1.9)
Requirement already satisfied: diffusers in /usr/local/lib/python3.11/dist-packages (from unsloth) (0.33.1)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.11/dist-packages (from transformers>=4.51.1->vllm) (2024.11.6)
Requirement already satisfied: safetensors>=0.4.3 in /usr/local/lib/python3.11/dist-packages (from transformers>=4.51.1->vllm) (0.5.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: pyarrow>=15.0.0 in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth) (18.1.0)
Requirement already satisfied: xxhash in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth) (3.5.0)
Requirement already satisfied: multiprocess<0.70.17 in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth) (0.70.15)
Requirement already satisfied: starlette<0.47.0,>=0.40.0 in /usr/local/lib/python3.11/dist-packages (from fastapi>=0.115.0->fastapi[standard]>=0.115.0->vllm) (0.46.2)
Requirement already satisfied: fastapi-cli>=0.0.5 in /usr/local/lib/python3.11/dist-packages (from fastapi-cli[standard]>=0.0.5; extra == "standard"->fastapi[standard]>=0.115.0->vllm) (0.0.7)
Requirement already satisfied: httpx>=0.23.0 in /usr/local/lib/python3.11/dist-packages (from fastapi[standard]>=0.115.0->vllm) (0.28.1)
Requirement already satisfied: python-multipart>=0.0.18 in /usr/local/lib/python3.11/dist-packages (from fastapi[standard]>=0.115.0->vllm) (0.0.20)
Requirement already satisfied: email-validator>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from fastapi[standard]>=0.115.0->vllm) (2.2.0)
Requirement already satisfied: uvicorn>=0.12.0 in /usr/local/lib/python3.11/dist-packages (from uvicorn[standard]>=0.12.0; extra == "standard"->fastapi[standard]>=0.115.0->vllm) (0.34.2)
Requirement already satisfied: hf-xet<2.0.0,>=1.1.1 in /usr/local/lib/python3.11/dist-packages (from huggingface-hub[hf_xet]>=0.30.0->vllm) (1.1.2)
Requirement already satisfied: anyio<5,>=3.5.0 in /usr/local/lib/python3.11/dist-packages (from openai>=1.52.0->vllm) (4.9.0)
Requirement already satisfied: distro<2,>=1.7.0 in /usr/local/lib/python3.11/dist-packages (from openai>=1.52.0->vllm) (1.9.0)
Requirement already satisfied: jiter<1,>=0.4.0 in /usr/local/lib/python3.11/dist-packages (from openai>=1.52.0->vllm) (0.9.0)
Requirement already satisfied: sniffio in /usr/local/lib/python3.11/dist-packages (from openai>=1.52.0->vllm) (1.3.1)
Requirement already satisfied: deprecated>=1.2.6 in /usr/local/lib/python3.11/dist-packages (from opentelemetry-api<1.27.0,>=1.26.0->vllm) (1.2.18)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.11/dist-packages (from importlib_metadata->vllm) (3.21.0)
Requirement already satisfied: opentelemetry-exporter-otlp-proto-grpc==1.26.0 in /usr/local/lib/python3.11/dist-packages (from opentelemetry-exporter-otlp<1.27.0,>=1.26.0->vllm) (1.26.0)
Requirement already satisfied: opentelemetry-exporter-otlp-proto-http==1.26.0 in /usr/local/lib/python3.11/dist-packages (from opentelemetry-exporter-otlp<1.27.0,>=1.26.0->vllm) (1.26.0)
Requirement already satisfied: googleapis-common-protos~=1.52 in /usr/local/lib/python3.11/dist-packages (from opentelemetry-exporter-otlp-proto-grpc==1.26.0->opentelemetry-exporter-otlp<1.27.0,>=1.26.0->vllm) (1.70.0)
Requirement already satisfied: grpcio<2.0.0,>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from opentelemetry-exporter-otlp-proto-grpc==1.26.0->opentelemetry-exporter-otlp<1.27.0,>=1.26.0->vllm) (1.71.0)
Requirement already satisfied: opentelemetry-exporter-otlp-proto-common==1.26.0 in /usr/local/lib/python3.11/dist-packages (from opentelemetry-exporter-otlp-proto-grpc==1.26.0->opentelemetry-exporter-otlp<1.27.0,>=1.26.0->vllm) (1.26.0)
Requirement already satisfied: opentelemetry-proto==1.26.0 in /usr/local/lib/python3.11/dist-packages (from opentelemetry-exporter-otlp-proto-grpc==1.26.0->opentelemetry-exporter-otlp<1.27.0,>=1.26.0->vllm) (1.26.0)
Requirement already satisfied: opentelemetry-semantic-conventions==0.47b0 in /usr/local/lib/python3.11/dist-packages (from opentelemetry-sdk<1.27.0,>=1.26.0->vllm) (0.47b0)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from pydantic>=2.9->vllm) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in /usr/local/lib/python3.11/dist-packages (from pydantic>=2.9->vllm) (2.33.2)
Requirement already satisfied: typing-inspection>=0.4.0 in /usr/local/lib/python3.11/dist-packages (from pydantic>=2.9->vllm) (0.4.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.11/dist-packages (from ray!=2.44.*,>=2.43.0->ray[cgraph]!=2.44.*,>=2.43.0->vllm) (8.2.0)
Requirement already satisfied: msgpack<2.0.0,>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from ray!=2.44.*,>=2.43.0->ray[cgraph]!=2.44.*,>=2.43.0->vllm) (1.1.0)
Requirement already satisfied: cupy-cuda12x in /usr/local/lib/python3.11/dist-packages (from ray[cgraph]!=2.44.*,>=2.43.0->vllm) (13.3.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.26.0->vllm) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests>=2.26.0->vllm) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests>=2.26.0->vllm) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests>=2.26.0->vllm) (2025.4.26)
Requirement already satisfied: rich in /usr/local/lib/python3.11/dist-packages (from trl!=0.15.0,!=0.9.0,!=0.9.1,!=0.9.2,!=0.9.3,<=0.15.2,>=0.7.9->unsloth) (13.9.4)
Requirement already satisfied: cut_cross_entropy in /usr/local/lib/python3.11/dist-packages (from unsloth_zoo>=2025.5.8->unsloth) (25.1.1)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp->vllm) (2.6.1)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.11/dist-packages (from aiohttp->vllm) (1.3.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp->vllm) (25.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.11/dist-packages (from aiohttp->vllm) (1.6.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.11/dist-packages (from aiohttp->vllm) (6.4.3)
Requirement already satisfied: propcache>=0.2.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp->vllm) (0.3.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp->vllm) (1.20.0)
Requirement already satisfied: docstring-parser>=0.15 in /usr/local/lib/python3.11/dist-packages (from tyro->unsloth) (0.16)
Requirement already satisfied: shtab>=1.5.6 in /usr/local/lib/python3.11/dist-packages (from tyro->unsloth) (1.7.2)
Requirement already satisfied: typeguard>=4.0.0 in /usr/local/lib/python3.11/dist-packages (from tyro->unsloth) (4.4.2)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.11/dist-packages (from deprecated>=1.2.6->opentelemetry-api<1.27.0,>=1.26.0->vllm) (1.17.2)
Requirement already satisfied: dnspython>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from email-validator>=2.0.0->fastapi[standard]>=0.115.0->vllm) (2.7.0)
Requirement already satisfied: typer>=0.12.3 in /usr/local/lib/python3.11/dist-packages (from fastapi-cli>=0.0.5->fastapi-cli[standard]>=0.0.5; extra == "standard"->fastapi[standard]>=0.115.0->vllm) (0.15.3)

In [5]:
# Ïä§ÌÇ§Îßà Ï†ïÎ≥¥ Ï∂îÏ∂ú Î∞è Îç∞Ïù¥ÌÑ∞ÏÖã Ï§ÄÎπÑ ÏΩîÎìú
import os
import json
import pandas as pd
from tqdm import tqdm

def load_tables_data(spider_dir):
    """tables.json ÌååÏùºÏóêÏÑú ÌÖåÏù¥Î∏î Îç∞Ïù¥ÌÑ∞ Î°úÎìú."""
    tables_path = os.path.join(spider_dir, "tables.json")

    if not os.path.exists(tables_path):
        print(f"Error: {tables_path} not found!")
        # Îã§Î•∏ Í∞ÄÎä•Ìïú Í≤ΩÎ°ú ÏãúÎèÑ
        alt_paths = [
            os.path.join(spider_dir, "evaluation_examples/examples/tables.json"),
            os.path.join(spider_dir, "examples/tables.json")
        ]

        for alt_path in alt_paths:
            if os.path.exists(alt_path):
                print(f"Found tables.json at alternative path: {alt_path}")
                tables_path = alt_path
                break
        else:
            print("Please check your Spider dataset path or provide the correct path to tables.json")
            return None

    print(f"Loading tables from: {tables_path}")
    with open(tables_path, 'r') as f:
        return json.load(f)


def create_schema_mapping(tables_data):
    """db_idÏóêÏÑú Ïä§ÌÇ§Îßà Ï†ïÎ≥¥Î°úÏùò Îß§Ìïë ÏÉùÏÑ±."""
    schema_mapping = {}

    for item in tables_data:
        db_id = item["db_id"]
        tables = item["table_names_original"]
        columns = {}
        column_types = {}

        # Ïó¥ Ï†ïÎ≥¥ Ï≤òÎ¶¨
        for i, (table_id, col_name) in enumerate(item["column_names_original"]):
            if table_id == -1:
                # ÌäπÏàò "*" Ïó¥ Í±¥ÎÑàÎõ∞Í∏∞
                continue

            table_name = tables[table_id]

            if table_name not in columns:
                columns[table_name] = []
                column_types[table_name] = {}

            # Í∞ÄÎä•Ìïú Í≤ΩÏö∞ Ïó¥ Ïú†Ìòï Ï∂îÍ∞Ä
            col_type = ""
            if "column_types" in item and i < len(item["column_types"]):
                col_type = item["column_types"][i]
                column_types[table_name][col_name] = col_type

            columns[table_name].append(col_name)

        # Ïô∏Îûò ÌÇ§ Îß§Ìïë
        foreign_keys = []
        for fk_pair in item.get("foreign_keys", []):
            if len(fk_pair) == 2:
                col1_idx, col2_idx = fk_pair

                if (col1_idx < len(item["column_names_original"]) and
                    col2_idx < len(item["column_names_original"])):

                    table1_idx, col1_name = item["column_names_original"][col1_idx]
                    table2_idx, col2_name = item["column_names_original"][col2_idx]

                    if table1_idx >= 0 and table2_idx >= 0:
                        table1_name = tables[table1_idx]
                        table2_name = tables[table2_idx]
                        foreign_keys.append({
                            "source": f"{table1_name}.{col1_name}",
                            "target": f"{table2_name}.{col2_name}"
                        })

        # Í∏∞Î≥∏ ÌÇ§ Îß§Ìïë
        primary_keys = []
        for pk in item.get("primary_keys", []):
            if pk < len(item["column_names_original"]):
                table_id, col_name = item["column_names_original"][pk]
                if table_id >= 0:
                    table_name = tables[table_id]
                    primary_keys.append(f"{table_name}.{col_name}")

        schema_mapping[db_id] = {
            "tables": tables,
            "columns": columns,
            "column_types": column_types,
            "foreign_keys": foreign_keys,
            "primary_keys": primary_keys
        }

    return schema_mapping


def get_schema_text(db_id, schema_mapping):
    """Ï£ºÏñ¥ÏßÑ db_idÏóê ÎåÄÌïú Ïä§ÌÇ§Îßà ÌÖçÏä§Ìä∏ ÏÉùÏÑ±."""
    if db_id not in schema_mapping:
        return "Schema information not available"

    schema = schema_mapping[db_id]
    tables = schema["tables"]
    columns = schema["columns"]
    column_types = schema["column_types"]
    foreign_keys = schema["foreign_keys"]
    primary_keys = schema["primary_keys"]

    schema_text = "Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ Ïä§ÌÇ§Îßà:\n"

    for table in tables:
        schema_text += f"ÌÖåÏù¥Î∏î: {table}\n"
        if table in columns:
            schema_text += "Ïª¨Îüº:\n"
            for column in columns[table]:
                # Í∏∞Î≥∏ ÌÇ§ ÌëúÏãúÍ∏∞ Ï∂îÍ∞Ä
                pk_marker = " (Í∏∞Î≥∏ ÌÇ§)" if f"{table}.{column}" in primary_keys else ""

                # Í∞ÄÎä•Ìïú Í≤ΩÏö∞ Ïó¥ Ïú†Ìòï Ï∂îÍ∞Ä
                type_info = ""
                if table in column_types and column in column_types[table]:
                    type_info = f" ({column_types[table][column]})"

                schema_text += f"  - {column}{type_info}{pk_marker}\n"

    if foreign_keys:
        schema_text += "\nÏô∏Îûò ÌÇ§ Í¥ÄÍ≥Ñ:\n"
        for fk in foreign_keys:
            schema_text += f"  - {fk['source']} ‚Üí {fk['target']}\n"

    return schema_text


def add_schema_to_dataset(csv_path, output_path, schema_mapping):
    """Îç∞Ïù¥ÌÑ∞ÏÖãÏùò Í∞Å ÏòàÏ†úÏóê Ïä§ÌÇ§Îßà Ï†ïÎ≥¥ Ï∂îÍ∞Ä."""
    # CSV ÌååÏùº Î°úÎìú
    df = pd.read_csv(csv_path)

    if 'db_id' not in df.columns:
        print("Error: 'db_id' column not found in the CSV file!")
        return None

    # Ïä§ÌÇ§Îßà Ï†ïÎ≥¥Î•º ÏúÑÌïú ÏÉà Ïó¥ ÏÉùÏÑ±
    df['schema_info'] = ""

    # Í∞Å ÌñâÏóê Ïä§ÌÇ§Îßà Ï†ïÎ≥¥ Ï∂îÍ∞Ä
    print("Adding schema information to dataset...")
    for idx, row in tqdm(df.iterrows(), total=len(df)):
        db_id = row['db_id']
        df.at[idx, 'schema_info'] = get_schema_text(db_id, schema_mapping)

    # Ìñ•ÏÉÅÎêú Îç∞Ïù¥ÌÑ∞ÏÖã Ï†ÄÏû•
    df.to_csv(output_path, index=False)
    print(f"Enhanced dataset saved to {output_path}")
    return df

# ÌÖåÏù¥Î∏î Îç∞Ïù¥ÌÑ∞ Î°úÎìú Î∞è Ïä§ÌÇ§Îßà Îß§Ìïë ÏÉùÏÑ±
print(f"Loading tables data from {SPIDER_DIR}...")
tables_data = load_tables_data(SPIDER_DIR)

if tables_data:
    print("Creating schema mapping...")
    schema_mapping = create_schema_mapping(tables_data)
    print(f"Schema mapping created for {len(schema_mapping)} databases")

    # Ïä§ÌÇ§Îßà Ï†ïÎ≥¥Í∞Ä Ï∂îÍ∞ÄÎêú Îç∞Ïù¥ÌÑ∞ÏÖã ÏÉùÏÑ±
    output_csv = '/content/spider_train_with_schema.csv'
    df_with_schema = add_schema_to_dataset(DATASET_PATH, output_csv, schema_mapping)

    # Í≤∞Í≥º ÌôïÏù∏
    if df_with_schema is not None:
        print("\nSample row with schema information:")
        print(df_with_schema.iloc[0][['question_ko', 'schema_info', 'query']].to_dict())
else:
    print("Failed to load tables data. Please check the path to tables.json")

Loading tables data from /content/drive/MyDrive/spider/spider_data...
Loading tables from: /content/drive/MyDrive/spider/spider_data/tables.json
Creating schema mapping...
Schema mapping created for 166 databases
Adding schema information to dataset...

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 7000/7000 [00:00<00:00, 11172.49it/s]

Enhanced dataset saved to /content/spider_train_with_schema.csv

Sample row with schema information:
{'question_ko': 'Î∂ÄÏÑúÏû•Îì§ Ï§ë 56ÏÑ∏Î≥¥Îã§ ÎÇòÏù¥Í∞Ä ÎßéÏùÄ ÏÇ¨ÎûåÏù¥ Î™á Î™ÖÏûÖÎãàÍπå?', 'schema_info': 'Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ Ïä§ÌÇ§Îßà:\nÌÖåÏù¥Î∏î: department\nÏª¨Îüº:\n  - Department_ID (number) (Í∏∞Î≥∏ ÌÇ§)\n  - Name (text)\n  - Creation (text)\n  - Ranking (number)\n  - Budget_in_Billions (number)\n  - Num_Employees (number)\nÌÖåÏù¥Î∏î: head\nÏª¨Îüº:\n  - head_ID (number) (Í∏∞Î≥∏ ÌÇ§)\n  - name (text)\n  - born_state (text)\n  - age (number)\nÌÖåÏù¥Î∏î: management\nÏª¨Îüº:\n  - department_ID (number) (Í∏∞Î≥∏ ÌÇ§)\n  - head_ID (number)\n  - temporary_acting (text)\n\nÏô∏Îûò ÌÇ§ Í¥ÄÍ≥Ñ:\n  - management.head_ID ‚Üí head.head_ID\n  - management.department_ID ‚Üí department.Department_ID\n', 'query': 'SELECT count(*) FROM head WHERE age > 56'}

## 3. Î™®Îç∏ Î∞è ÌÜ†ÌÅ¨ÎÇòÏù¥Ï†Ä Î°úÎìú

In [9]:
from unsloth import FastLanguageModel
import torch

# Î™®Îç∏ Íµ¨ÏÑ±
max_seq_length = 2048  # ÌïÑÏöîÏóê Îî∞Îùº Ï°∞Ï†ï
dtype = None  # ÏûêÎèô Í∞êÏßÄ
load_in_4bit = True
model_name = "unsloth/Meta-Llama-3.1-8B-Instruct-bnb-4bit"

# Î™®Îç∏ Î∞è ÌÜ†ÌÅ¨ÎÇòÏù¥Ï†Ä Î°úÎìú
print("Loading model and tokenizer...")
model, tokenizer = FastLanguageModel.from_pretrained(
    model_name=model_name,
    max_seq_length=max_seq_length,
    dtype=dtype,
    load_in_4bit=load_in_4bit,
)

# LoRA ÌååÏù∏ÌäúÎãù ÏÑ§Ï†ï
model = FastLanguageModel.get_peft_model(
    model,
    r=16,
    target_modules=["q_proj", "k_proj", "v_proj", "o_proj",
                   "gate_proj", "up_proj", "down_proj"],
    lora_alpha=32,
    lora_dropout=0,
    bias="none",
    use_gradient_checkpointing="unsloth",
    random_state=3407,
    use_rslora=False,
    loftq_config=None,
)

ü¶• Unsloth: Will patch your computer to enable 2x faster free finetuning.
ü¶• Unsloth Zoo will now patch everything to make training faster!
INFO 05-22 03:45:09 [importing.py:53] Triton module has been replaced with a placeholder.
INFO 05-22 03:45:09 [__init__.py:239] Automatically detected platform cuda.
Loading model and tokenizer...
==((====))==  Unsloth 2025.5.7: Fast Llama patching. Transformers: 4.51.3. vLLM: 0.8.5.post1.
   \\   /|    Tesla T4. Num GPUs = 1. Max memory: 14.741 GB. Platform: Linux.
O^O/ \_/ \    Torch: 2.6.0+cu124. CUDA: 7.5. CUDA Toolkit: 12.4. Triton: 3.2.0
\        /    Bfloat16 = FALSE. FA [Xformers = 0.0.29.post2. FA2 = False]
 "-____-"     Free license: http://github.com/unslothai/unsloth
Unsloth: Fast downloading is enabled - ignore downloading bars which are red colored!

model.safetensors:   0%|          | 0.00/5.70G [00:00<?, ?B/s]

generation_config.json:   0%|          | 0.00/239 [00:00<?, ?B/s]

tokenizer_config.json:   0%|          | 0.00/55.5k [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/454 [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/17.2M [00:00<?, ?B/s]

Unsloth 2025.5.7 patched 32 layers with 32 QKV layers, 32 O layers and 32 MLP layers.

### Ï†ÄÏû•Îêú Î™®Îç∏ÏùÑ Î∂àÎü¨Ïò§Îäî ÏΩîÎìú

In [6]:
from unsloth import FastLanguageModel
import torch

output_dir = "/content/drive/MyDrive/spider/spider_schema_model"

# Î™®Îç∏Í≥º ÌÜ†ÌÅ¨ÎÇòÏù¥Ï†Ä Î°úÎìú
model, tokenizer = FastLanguageModel.from_pretrained(
    output_dir,  # Ï†ÄÏû•Ìïú ÎîîÎ†âÌÜ†Î¶¨
    device_map="auto",
    load_in_4bit=True  # ÏñëÏûêÌôî ÏÇ¨Ïö© Ïãú
)

ü¶• Unsloth: Will patch your computer to enable 2x faster free finetuning.
ü¶• Unsloth Zoo will now patch everything to make training faster!
INFO 05-23 00:59:17 [importing.py:53] Triton module has been replaced with a placeholder.
INFO 05-23 00:59:17 [__init__.py:239] Automatically detected platform cuda.
==((====))==  Unsloth 2025.5.7: Fast Llama patching. Transformers: 4.51.3. vLLM: 0.8.5.post1.
   \\   /|    Tesla T4. Num GPUs = 1. Max memory: 14.741 GB. Platform: Linux.
O^O/ \_/ \    Torch: 2.6.0+cu124. CUDA: 7.5. CUDA Toolkit: 12.4. Triton: 3.2.0
\        /    Bfloat16 = FALSE. FA [Xformers = 0.0.29.post2. FA2 = False]
 "-____-"     Free license: http://github.com/unslothai/unsloth
Unsloth: Fast downloading is enabled - ignore downloading bars which are red colored!

model.safetensors:   0%|          | 0.00/5.70G [00:00<?, ?B/s]

generation_config.json:   0%|          | 0.00/239 [00:00<?, ?B/s]

Unsloth 2025.5.7 patched 32 layers with 32 QKV layers, 32 O layers and 32 MLP layers.

## 4. Îç∞Ïù¥ÌÑ∞ÏÖã Ï§ÄÎπÑ

In [7]:
# Ï§ÄÎπÑÎêú ÌÖåÏù¥Î∏î Ïä§ÌÇ§Îßà Îç∞Ïù¥ÌÑ∞ÏÖã Î°úÎìú
from datasets import load_dataset
dataset = load_dataset("csv", data_files="/content/spider_train_with_schema.csv")

def formatting_prompts_with_schema(examples):
    instructions = examples["question_ko"]
    outputs = examples["query"]
    schemas = examples["schema_info"]

    formatted_chats = []

    for instruction, output, schema in zip(instructions, outputs, schemas):
        # ÏûÖÎ†•Ïóê Ïä§ÌÇ§Îßà Ï†ïÎ≥¥Î•º Ìè¨Ìï®Ìïú ÌîÑÎ°¨ÌîÑÌä∏ Íµ¨ÏÑ±
        input_with_schema = f"ÎãπÏã†ÏùÄ ÏûêÏó∞Ïñ¥ ÏßàÎ¨∏ÏùÑ SQL ÏøºÎ¶¨Î°ú Î≥ÄÌôòÌïòÎäî Ï†ÑÎ¨∏ AI Ïñ¥ÏãúÏä§ÌÑ¥Ìä∏ÏûÖÎãàÎã§. ÏÇ¨Ïö©ÏûêÍ∞Ä Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ÏóêÏÑú Ï†ïÎ≥¥Î•º ÏñªÍ∏∞ ÏúÑÌï¥ ÏùºÏÉÅ Ïñ∏Ïñ¥Î°ú ÏßàÎ¨∏ÌïòÎ©¥, ÎãπÏã†ÏùÄ Ìï¥Îãπ ÏßàÎ¨∏ÏùÑ Ï†ïÌôïÌïú SQL ÏøºÎ¶¨Î°ú Î≥ÄÌôòÌï¥Ïïº Ìï©ÎãàÎã§.\n\n{schema}\n\nÏßàÎ¨∏: {instruction}"

        # Ï±ÑÌåÖ ÌòïÏãùÏúºÎ°ú Î≥ÄÌôò
        chat = [
            {"role": "user", "content": input_with_schema},
            {"role": "assistant", "content": output}
        ]

        # apply_chat_template Ï†ÅÏö©
        formatted_text = tokenizer.apply_chat_template(chat, tokenize=False, add_generation_prompt=False)
        formatted_chats.append(formatted_text)

    return {"text": formatted_chats}

# Îç∞Ïù¥ÌÑ∞ÏÖã Ï≤òÎ¶¨
processed_dataset = dataset.map(formatting_prompts_with_schema, batched=True)

# Î∂àÌïÑÏöîÌïú Ïª¨Îüº Ï†úÍ±∞
columns_to_remove = ["db_id", "question", "query_toks", "query_toks_no_value",
                     "question_toks", "query", "question_ko", "schema_info"]
train_dataset = processed_dataset.map(remove_columns=columns_to_remove, batched=True)["train"]

# Í≤∞Í≥º ÌôïÏù∏
print("Dataset processed. Sample example:")
print(train_dataset[0])

Generating train split: 0 examples [00:00, ? examples/s]

Map:   0%|          | 0/7000 [00:00<?, ? examples/s]

Map:   0%|          | 0/7000 [00:00<?, ? examples/s]

Dataset processed. Sample example:
{'text': '<|begin_of_text|><|start_header_id|>system<|end_header_id|>\n\nCutting Knowledge Date: December 2023\nToday Date: 26 Jul 2024\n\n<|eot_id|><|start_header_id|>user<|end_header_id|>\n\nÎãπÏã†ÏùÄ ÏûêÏó∞Ïñ¥ ÏßàÎ¨∏ÏùÑ SQL ÏøºÎ¶¨Î°ú Î≥ÄÌôòÌïòÎäî Ï†ÑÎ¨∏ AI Ïñ¥ÏãúÏä§ÌÑ¥Ìä∏ÏûÖÎãàÎã§. ÏÇ¨Ïö©ÏûêÍ∞Ä Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ÏóêÏÑú Ï†ïÎ≥¥Î•º ÏñªÍ∏∞ ÏúÑÌï¥ ÏùºÏÉÅ Ïñ∏Ïñ¥Î°ú ÏßàÎ¨∏ÌïòÎ©¥, ÎãπÏã†ÏùÄ Ìï¥Îãπ ÏßàÎ¨∏ÏùÑ Ï†ïÌôïÌïú SQL ÏøºÎ¶¨Î°ú Î≥ÄÌôòÌï¥Ïïº Ìï©ÎãàÎã§.\n\nÎç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ Ïä§ÌÇ§Îßà:\nÌÖåÏù¥Î∏î: department\nÏª¨Îüº:\n  - Department_ID (number) (Í∏∞Î≥∏ ÌÇ§)\n  - Name (text)\n  - Creation (text)\n  - Ranking (number)\n  - Budget_in_Billions (number)\n  - Num_Employees (number)\nÌÖåÏù¥Î∏î: head\nÏª¨Îüº:\n  - head_ID (number) (Í∏∞Î≥∏ ÌÇ§)\n  - name (text)\n  - born_state (text)\n  - age (number)\nÌÖåÏù¥Î∏î: management\nÏª¨Îüº:\n  - department_ID (number) (Í∏∞Î≥∏ ÌÇ§)\n  - head_ID (number)\n  - temporary_acting (text)\n\nÏô∏Îûò ÌÇ§ Í¥ÄÍ≥Ñ:\n  - management.head_ID ‚Üí head.head_ID\n  - management.department_ID ‚Üí department.Department_ID\n\n\nÏßàÎ¨∏: Î∂ÄÏÑúÏû•Îì§ Ï§ë 56ÏÑ∏Î≥¥Îã§ ÎÇòÏù¥Í∞Ä ÎßéÏùÄ ÏÇ¨ÎûåÏù¥ Î™á Î™ÖÏûÖÎãàÍπå?<|eot_id|><|start_header_id|>assistant<|end_header_id|>\n\nSELECT count(*) FROM head WHERE age > 56<|eot_id|>'}

## 5. Ìä∏Î†àÏù¥ÎÑà ÏÑ§Ï†ï Î∞è ÌååÏù∏ÌäúÎãù ÏãúÏûë

In [11]:
# GPU Î©îÎ™®Î¶¨ ÏÉÅÌÉú Ï≤¥ÌÅ¨
if torch.cuda.is_available():
    gpu_stats = torch.cuda.get_device_properties(0)
    start_gpu_memory = round(torch.cuda.max_memory_reserved() / 1024 / 1024 / 1024, 3)
    max_memory = round(gpu_stats.total_memory / 1024 / 1024 / 1024, 3)
    print(f"GPU = {gpu_stats.name}. Max memory = {max_memory} GB.")
    print(f"{start_gpu_memory} GB of memory reserved.")

GPU = Tesla T4. Max memory = 14.741 GB.
7.137 GB of memory reserved.

In [12]:
from trl import SFTTrainer
from transformers import TrainingArguments
from unsloth import is_bfloat16_supported

# Ìä∏Î†àÏù¥ÎÑà ÏÑ§Ï†ï
trainer = SFTTrainer(
      model=model,
      tokenizer=tokenizer,
      train_dataset=train_dataset,
      dataset_text_field="text",
      max_seq_length=2048,  # Ï†ÅÎãπÌïú Í∏∏Ïù¥
      dataset_num_proc=2,   # Î≥ëÎ†¨ Ï≤òÎ¶¨
      args=TrainingArguments(
          per_device_train_batch_size=2,
          gradient_accumulation_steps=4,
          learning_rate=5e-4,  # ÌïôÏäµÎ•† Ï¶ùÍ∞Ä
          fp16=True,
          logging_steps=5,
          optim="adamw_8bit",  # 8ÎπÑÌä∏ ÏòµÌã∞ÎßàÏù¥Ï†Ä
          num_train_epochs = 1,
          weight_decay=0.01,
          lr_scheduler_type="cosine",  # ÏΩîÏÇ¨Ïù∏ Ïä§ÏºÄÏ§ÑÎü¨
          warmup_ratio=0.05,  # ÏõúÏóÖ Ï†ÅÏö©
          seed=42,
          output_dir="outputs",
          report_to="none",
          gradient_checkpointing=True,
          eval_strategy="no",  # ÌèâÍ∞Ä Îã®Í≥Ñ ÏÉùÎûµ
          save_strategy="steps",
          save_steps=100,   # 100 Ïä§ÌÖùÎßàÎã§ Ï†ÄÏû•
      ),
)

Unsloth: Tokenizing ["text"] (num_proc=2):   0%|          | 0/7000 [00:00<?, ? examples/s]

In [13]:
# ÌååÏù∏ÌäúÎãù ÏãúÏûë
trainer_stats = trainer.train()

==((====))==  Unsloth - 2x faster free finetuning | Num GPUs used = 1
   \\   /|    Num examples = 7,000 | Num Epochs = 1 | Total steps = 875
O^O/ \_/ \    Batch size per device = 2 | Gradient accumulation steps = 4
\        /    Data Parallel GPUs = 1 | Total batch size (2 x 4 x 1) = 8
 "-____-"     Trainable parameters = 41,943,040/8,000,000,000 (0.52% trained)

Unsloth: Will smartly offload gradients to save VRAM!

## 6. Í≤∞Í≥º Î∞è Î™®Îç∏ Ï†ÄÏû•

In [17]:
# GPU Î©îÎ™®Î¶¨ Î∞è ÌïôÏäµ ÏãúÍ∞Ñ ÌÜµÍ≥Ñ
if torch.cuda.is_available():
    used_memory = round(torch.cuda.max_memory_reserved() / 1024 / 1024 / 1024, 3)
    used_memory_for_lora = round(used_memory - start_gpu_memory, 3)
    used_percentage = round(used_memory / max_memory * 100, 3)
    lora_percentage = round(used_memory_for_lora / max_memory * 100, 3)
    print(f"{trainer_stats.metrics['train_runtime']} seconds used for training.")
    print(f"{round(trainer_stats.metrics['train_runtime']/60, 2)} minutes used for training.")
    print(f"Peak reserved memory = {used_memory} GB.")
    print(f"Peak reserved memory for training = {used_memory_for_lora} GB.")
    print(f"Peak reserved memory % of max memory = {used_percentage} %.")
    print(f"Peak reserved memory for training % of max memory = {lora_percentage} %.")

14350.9361 seconds used for training.
239.18 minutes used for training.
Peak reserved memory = 7.584 GB.
Peak reserved memory for training = 0.447 GB.
Peak reserved memory % of max memory = 51.448 %.
Peak reserved memory for training % of max memory = 3.032 %.

In [18]:
# Î™®Îç∏ Ï†ÄÏû•
output_dir = "/content/drive/MyDrive/spider/spider_schema_model"
model.save_pretrained(output_dir)
tokenizer.save_pretrained(output_dir)
print(f"Model saved to {output_dir}")

Model saved to /content/drive/MyDrive/spider/spider_schema_model

## 7. Ï∂îÎ°† ÌÖåÏä§Ìä∏

In [8]:
# Ï∂îÎ°†ÏùÑ ÏúÑÌïú ÏÑ§Ï†ï
FastLanguageModel.for_inference(model)

def generate_sql_query_with_schema(question, db_id):
    # Ïä§ÌÇ§Îßà Ï†ïÎ≥¥ Í∞ÄÏ†∏Ïò§Í∏∞
    if db_id in schema_mapping:
        schema_text = get_schema_text(db_id, schema_mapping)
    else:
        schema_text = "Schema information not available"

    # Ïä§ÌÇ§ÎßàÎ•º Ìè¨Ìï®Ìïú ÏûÖÎ†• Íµ¨ÏÑ±
    input_with_schema = f"ÎãπÏã†ÏùÄ ÏûêÏó∞Ïñ¥ ÏßàÎ¨∏ÏùÑ SQL ÏøºÎ¶¨Î°ú Î≥ÄÌôòÌïòÎäî Ï†ÑÎ¨∏ AI Ïñ¥ÏãúÏä§ÌÑ¥Ìä∏ÏûÖÎãàÎã§. ÏÇ¨Ïö©ÏûêÍ∞Ä Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ÏóêÏÑú Ï†ïÎ≥¥Î•º ÏñªÍ∏∞ ÏúÑÌï¥ ÏùºÏÉÅ Ïñ∏Ïñ¥Î°ú ÏßàÎ¨∏ÌïòÎ©¥, ÎãπÏã†ÏùÄ Ìï¥Îãπ ÏßàÎ¨∏ÏùÑ Ï†ïÌôïÌïú SQL ÏøºÎ¶¨Î°ú Î≥ÄÌôòÌï¥Ïïº Ìï©ÎãàÎã§.\n\n{schema_text}\n\nÏßàÎ¨∏: {question}"

    # Ï±ÑÌåÖ Î©îÏãúÏßÄÎ°ú Ìè¨Îß∑ÌåÖ
    messages = [{"role": "user", "content": input_with_schema}]

    # Ï±ÑÌåÖ ÌÖúÌîåÎ¶ø Ï†ÅÏö©
    inputs = tokenizer.apply_chat_template(
        messages,
        tokenize=True,
        add_generation_prompt=True,
        return_tensors="pt"
    ).to(model.device)

    # SQL ÏøºÎ¶¨ ÏÉùÏÑ±
    outputs = model.generate(
        inputs,
        max_new_tokens=150,
        temperature=0.1,
        do_sample=True,
        use_cache=True
    )

    # ÏùëÎãµ ÎîîÏΩîÎî©
    response = tokenizer.decode(outputs[0], skip_special_tokens=True)

    # ÏÉùÏÑ±Îêú SQL ÏøºÎ¶¨Îßå Ï∂îÏ∂ú
    assistant_part = response.split(input_with_schema)[-1].strip()

    return assistant_part

In [9]:
# ÏòàÏãúÎ°ú ÌÖåÏä§Ìä∏
test_dbs = ["department_management"]  # Ï≤òÏùå 3Í∞úÏùò Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ ÏÇ¨Ïö©
test_questions = [
    "Ìïú Î≤àÏóê 3ÏùÑ Ï¥àÍ≥ºÌïòÎäî Î∂ÄÏÑúÏû• ÏûàÎäî Î∂ÄÏÑúÏùò ID, Ïù¥Î¶ÑÍ≥º Î∂ÄÏÑúÏû• ÏàòÎ•º ÏïåÎ†§Ï£ºÏáº"
]

print("\nTesting with examples:")
for i, (question, db_id) in enumerate(zip(test_questions, test_dbs)):
    print(f"\nExample {i+1}:")
    print(f"Question: {question}")
    print(f"Database: {db_id}")

    sql = generate_sql_query_with_schema(question, db_id)
    print(f"Generated SQL: {sql}")

The attention mask is not set and cannot be inferred from input because pad token is same as eos token. As a consequence, you may observe unexpected behavior. Please pass your input's `attention_mask` to obtain reliable results.

Testing with examples:

Example 1:
Question: Ìïú Î≤àÏóê 3ÏùÑ Ï¥àÍ≥ºÌïòÎäî Î∂ÄÏÑúÏû• ÏûàÎäî Î∂ÄÏÑúÏùò ID, Ïù¥Î¶ÑÍ≥º Î∂ÄÏÑúÏû• ÏàòÎ•º ÏïåÎ†§Ï£ºÏáº
Database: department_management
Generated SQL: assistant

SELECT T1.department_id, T1.name, count(*) FROM department AS T1 JOIN management AS T2 ON T1.department_id = T2.department_id GROUP BY T1.department_id HAVING count(*) > 3

## 8. TextStreamerÎ•º ÏÇ¨Ïö©Ìïú Ïó∞ÏÜç Ï∂îÎ°† (ÏÑ†ÌÉù ÏÇ¨Ìï≠)

In [ ]:
from transformers import TextStreamer

def generate_sql_with_streamer(question, db_id):
    # Ïä§ÌÇ§Îßà Ï†ïÎ≥¥ Í∞ÄÏ†∏Ïò§Í∏∞
    if db_id in schema_mapping:
        schema_text = get_schema_text(db_id, schema_mapping)
    else:
        schema_text = "Schema information not available"

    # Ïä§ÌÇ§ÎßàÎ•º Ìè¨Ìï®Ìïú ÏûÖÎ†• Íµ¨ÏÑ±
    input_with_schema = f"ÎãπÏã†ÏùÄ ÏûêÏó∞Ïñ¥ ÏßàÎ¨∏ÏùÑ SQL ÏøºÎ¶¨Î°ú Î≥ÄÌôòÌïòÎäî Ï†ÑÎ¨∏ AI Ïñ¥ÏãúÏä§ÌÑ¥Ìä∏ÏûÖÎãàÎã§. ÏÇ¨Ïö©ÏûêÍ∞Ä Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ÏóêÏÑú Ï†ïÎ≥¥Î•º ÏñªÍ∏∞ ÏúÑÌï¥ ÏùºÏÉÅ Ïñ∏Ïñ¥Î°ú ÏßàÎ¨∏ÌïòÎ©¥, ÎãπÏã†ÏùÄ Ìï¥Îãπ ÏßàÎ¨∏ÏùÑ Ï†ïÌôïÌïú SQL ÏøºÎ¶¨Î°ú Î≥ÄÌôòÌï¥Ïïº Ìï©ÎãàÎã§.\n\n{schema_text}\n\nÏßàÎ¨∏: {question}"

    # Ï±ÑÌåÖ Î©îÏãúÏßÄÎ°ú Ìè¨Îß∑ÌåÖ
    messages = [{"role": "user", "content": input_with_schema}]

    # Ï±ÑÌåÖ ÌÖúÌîåÎ¶ø Ï†ÅÏö©
    inputs = tokenizer.apply_chat_template(
        messages,
        tokenize=True,
        add_generation_prompt=True,
        return_tensors="pt"
    ).to(model.device)

    # TextStreamer ÏÑ§Ï†ï
    text_streamer = TextStreamer(tokenizer)

    print("\nGenerating SQL with TextStreamer:")
    # SQL ÏøºÎ¶¨ ÏÉùÏÑ± Î∞è Ïä§Ìä∏Î¶¨Î∞ç
    _ = model.generate(
        inputs,
        streamer=text_streamer,
        max_new_tokens=150,
        temperature=0.1,
        do_sample=True,
        use_cache=True
    )

# ÏòàÏ†ú ÏãúÏó∞
question = "ÏòÅÏñ¥ Í≥ºÎ™©ÏùÑ ÏàòÍ∞ïÌïòÎäî Î™®Îì† ÌïôÏÉùÏùò Ïù¥Î¶ÑÍ≥º ÌïôÎÖÑÏùÑ ÏïåÎ†§Ï£ºÏÑ∏Ïöî."
db_id = test_dbs[0]  # Ï≤´ Î≤àÏß∏ ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ ÏÇ¨Ïö©

print(f"Question: {question}")
print(f"Database: {db_id}")
generate_sql_with_streamer(question, db_id)

# 9. ÌÖåÏä§Ìä∏ ÏàòÌñâ

In [37]:
## 10. ÌèâÍ∞Ä (Evaluation)

# ÌïÑÏöîÌïú ÎùºÏù¥Î∏åÎü¨Î¶¨ Í∞ÄÏ†∏Ïò§Í∏∞
import json
import os
import sqlite3
import sys
import random
from tqdm import tqdm

# ÌèâÍ∞Ä ÎèÑÏö∞ÎØ∏ Ìï®Ïàò
def load_tables_data(tables_file):
    """ÌÖåÏù¥Î∏î Ïä§ÌÇ§Îßà Ï†ïÎ≥¥Î•º Î°úÎìúÌï©ÎãàÎã§."""
    if not os.path.exists(tables_file):
        print(f"Ïò§Î•ò: {tables_file}Î•º Ï∞æÏùÑ Ïàò ÏóÜÏäµÎãàÎã§!")
        return None

    print(f"{tables_file}ÏóêÏÑú ÌÖåÏù¥Î∏î Î°úÎî© Ï§ë...")
    with open(tables_file, 'r') as f:
        return json.load(f)

def create_schema_mapping(tables_data):
    """db_idÏóêÏÑú Ïä§ÌÇ§Îßà Ï†ïÎ≥¥Î°úÏùò Îß§Ìïë ÏÉùÏÑ±."""
    schema_mapping = {}

    for item in tables_data:
        db_id = item["db_id"]
        tables = item["table_names_original"]
        columns = {}
        column_types = {}

        # Ïó¥ Ï†ïÎ≥¥ Ï≤òÎ¶¨
        for i, (table_id, col_name) in enumerate(item["column_names_original"]):
            if table_id == -1:
                # ÌäπÏàò "*" Ïó¥ Í±¥ÎÑàÎõ∞Í∏∞
                continue

            table_name = tables[table_id]

            if table_name not in columns:
                columns[table_name] = []
                column_types[table_name] = {}

            # Í∞ÄÎä•Ìïú Í≤ΩÏö∞ Ïó¥ Ïú†Ìòï Ï∂îÍ∞Ä
            col_type = ""
            if "column_types" in item and i < len(item["column_types"]):
                col_type = item["column_types"][i]
                column_types[table_name][col_name] = col_type

            columns[table_name].append(col_name)

        # Ïô∏Îûò ÌÇ§ Îß§Ìïë
        foreign_keys = []
        for fk_pair in item.get("foreign_keys", []):
            if len(fk_pair) == 2:
                col1_idx, col2_idx = fk_pair

                if (col1_idx < len(item["column_names_original"]) and
                    col2_idx < len(item["column_names_original"])):

                    table1_idx, col1_name = item["column_names_original"][col1_idx]
                    table2_idx, col2_name = item["column_names_original"][col2_idx]

                    if table1_idx >= 0 and table2_idx >= 0:
                        table1_name = tables[table1_idx]
                        table2_name = tables[table2_idx]
                        foreign_keys.append({
                            "source": f"{table1_name}.{col1_name}",
                            "target": f"{table2_name}.{col2_name}"
                        })

        # Í∏∞Î≥∏ ÌÇ§ Îß§Ìïë
        primary_keys = []
        for pk in item.get("primary_keys", []):
            if pk < len(item["column_names_original"]):
                table_id, col_name = item["column_names_original"][pk]
                if table_id >= 0:
                    table_name = tables[table_id]
                    primary_keys.append(f"{table_name}.{col_name}")

        schema_mapping[db_id] = {
            "tables": tables,
            "columns": columns,
            "column_types": column_types,
            "foreign_keys": foreign_keys,
            "primary_keys": primary_keys
        }

    return schema_mapping

def get_schema_text(db_id, schema_mapping):
    """Ï£ºÏñ¥ÏßÑ db_idÏóê ÎåÄÌïú Ïä§ÌÇ§Îßà ÌÖçÏä§Ìä∏ ÏÉùÏÑ±."""
    if db_id not in schema_mapping:
        return "Schema information not available"

    schema = schema_mapping[db_id]
    tables = schema["tables"]
    columns = schema["columns"]
    column_types = schema["column_types"]
    foreign_keys = schema["foreign_keys"]
    primary_keys = schema["primary_keys"]

    schema_text = "Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ Ïä§ÌÇ§Îßà:\n"

    for table in tables:
        schema_text += f"ÌÖåÏù¥Î∏î: {table}\n"
        if table in columns:
            schema_text += "Ïª¨Îüº:\n"
            for column in columns[table]:
                # Í∏∞Î≥∏ ÌÇ§ ÌëúÏãúÍ∏∞ Ï∂îÍ∞Ä
                pk_marker = " (Í∏∞Î≥∏ ÌÇ§)" if f"{table}.{column}" in primary_keys else ""

                # Í∞ÄÎä•Ìïú Í≤ΩÏö∞ Ïó¥ Ïú†Ìòï Ï∂îÍ∞Ä
                type_info = ""
                if table in column_types and column in column_types[table]:
                    type_info = f" ({column_types[table][column]})"

                schema_text += f"  - {column}{type_info}{pk_marker}\n"

    if foreign_keys:
        schema_text += "\nÏô∏Îûò ÌÇ§ Í¥ÄÍ≥Ñ:\n"
        for fk in foreign_keys:
            schema_text += f"  - {fk['source']} ‚Üí {fk['target']}\n"

    return schema_text

def generate_sql_query(model, tokenizer, schema_mapping, question, db_id):
    """Ï£ºÏñ¥ÏßÑ ÏßàÎ¨∏Í≥º Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§Ïóê ÎåÄÌïú SQL ÏøºÎ¶¨Î•º ÏÉùÏÑ±Ìï©ÎãàÎã§."""
    try:
        # Ïä§ÌÇ§Îßà ÌÖçÏä§Ìä∏ Í∞ÄÏ†∏Ïò§Í∏∞
        if db_id in schema_mapping:
            schema_text = get_schema_text(db_id, schema_mapping)
        else:
            schema_text = "Schema information not available"

        # Ïä§ÌÇ§ÎßàÎ•º Ìè¨Ìï®Ìïú ÏûÖÎ†• Íµ¨ÏÑ±
        input_with_schema = f"ÎãπÏã†ÏùÄ ÏûêÏó∞Ïñ¥ ÏßàÎ¨∏ÏùÑ SQL ÏøºÎ¶¨Î°ú Î≥ÄÌôòÌïòÎäî Ï†ÑÎ¨∏ AI Ïñ¥ÏãúÏä§ÌÑ¥Ìä∏ÏûÖÎãàÎã§. ÏÇ¨Ïö©ÏûêÍ∞Ä Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ÏóêÏÑú Ï†ïÎ≥¥Î•º ÏñªÍ∏∞ ÏúÑÌï¥ ÏùºÏÉÅ Ïñ∏Ïñ¥Î°ú ÏßàÎ¨∏ÌïòÎ©¥, ÎãπÏã†ÏùÄ Ìï¥Îãπ ÏßàÎ¨∏ÏùÑ Ï†ïÌôïÌïú SQL ÏøºÎ¶¨Î°ú Î≥ÄÌôòÌï¥Ïïº Ìï©ÎãàÎã§.\n\n{schema_text}\n\nÏßàÎ¨∏: {question}"

        # Ï±ÑÌåÖ Î©îÏãúÏßÄÎ°ú Ìè¨Îß∑ÌåÖ
        messages = [{"role": "user", "content": input_with_schema}]

        # Ï±ÑÌåÖ ÌÖúÌîåÎ¶ø Ï†ÅÏö©
        inputs = tokenizer.apply_chat_template(
            messages,
            tokenize=True,
            add_generation_prompt=True,
            return_tensors="pt"
        ).to(model.device)

        # SQL ÏøºÎ¶¨ ÏÉùÏÑ±
        outputs = model.generate(
            inputs,
            max_new_tokens=150,
            temperature=0.1,
            do_sample=True,
            use_cache=True
        )

        # ÏùëÎãµ ÎîîÏΩîÎî©
        response = tokenizer.decode(outputs[0], skip_special_tokens=True)

        # ÏÉùÏÑ±Îêú SQL ÏøºÎ¶¨ Ï∂îÏ∂ú
        assistant_part = response.split(input_with_schema)[-1].strip()

        # ÏùëÎãµ Ï†ïÎ¶¨ÌïòÏó¨ SQL ÏøºÎ¶¨Îßå Ï∂îÏ∂ú
        if assistant_part.startswith("assistant"):
            assistant_part = assistant_part[len("assistant"):].strip()

        # SQLÍ≥º Ïú†ÏÇ¨Ìïú Ï≤´ Î≤àÏß∏ Î¨∏Ïû• Ï∞æÍ∏∞
        lines = assistant_part.split("\n")
        sql_query = ""
        in_sql = False
        for line in lines:
            line = line.strip()
            if not line:
                continue

            # SQL ÌÇ§ÏõåÎìúÎ°ú ÏøºÎ¶¨ ÏãúÏûë ÏãùÎ≥Ñ
            if not in_sql and (line.lower().startswith("select") or
                             line.lower().startswith("with") or
                             line.lower().startswith("(select")):
                in_sql = True

            if in_sql:
                sql_query += line + " "

                # ÏΩîÎìú ÌéúÏä§ÎÇò Ï¢ÖÎ£å ÌëúÏãúÎ•º Ï∞æÏúºÎ©¥ Ï§ëÏßÄ
                if line.endswith(";") or line.endswith("```"):
                    break

        # Î™ÖÌôïÌïú SQL ÏøºÎ¶¨Î•º Ï∞æÏßÄ Î™ªÌïú Í≤ΩÏö∞ Ï†ÑÏ≤¥ ÏùëÎãµ ÏÇ¨Ïö©
        if not sql_query:
            sql_query = assistant_part

        # ÏΩîÎìú ÎßàÏª§, Î∞±Ìã± Îì± Ï†ïÎ¶¨
        sql_query = sql_query.replace("```sql", "").replace("```", "").strip()

        return sql_query

    except Exception as e:
        print(f"SQL ÏøºÎ¶¨ ÏÉùÏÑ± Ïò§Î•ò: {str(e)}")
        return "SELECT * FROM table"  # Ïò§Î•ò Î∞úÏÉù Ïãú Í∏∞Î≥∏ ÏøºÎ¶¨

def evaluate_predictions(preds, golds, db_dir, tables_file):
    """
    ÏÉùÏÑ±Îêú SQL ÏòàÏ∏°ÏùÑ ÌèâÍ∞ÄÌï©ÎãàÎã§.

    Args:
        preds: [(sql, db_id), ...] ÌòïÏãùÏùò ÏòàÏ∏° Î™©Î°ù
        golds: [(sql, db_id), ...] ÌòïÏãùÏùò Ï†ïÎãµ Î™©Î°ù
        db_dir: SQLite Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§Í∞Ä ÏûàÎäî ÎîîÎ†âÌÜ†Î¶¨
        tables_file: tables.json ÌååÏùº Í≤ΩÎ°ú

    Returns:
        Ï†ïÌôïÎèÑ Ï†êÏàòÎ•º Ìè¨Ìï®ÌïòÎäî ÎîïÏÖîÎÑàÎ¶¨
    """
    # Spider evaluation.pyÏôÄ Ïú†ÏÇ¨Ìïú ÌèâÍ∞Ä Î°úÏßÅ Íµ¨ÌòÑ
    scores = {
        'exact_match': 0,
        'execution': 0,
        'total': len(preds),
        'details': []  # Í∞Å ÏòàÏ†úÎ≥Ñ ÏÑ∏Î∂Ä ÌèâÍ∞Ä Í≤∞Í≥º
    }

    for i, ((pred_sql, db_id), (gold_sql, _)) in enumerate(zip(preds, golds)):
        # ÏÑ∏Î∂Ä ÌèâÍ∞Ä Í≤∞Í≥º Ï¥àÍ∏∞Ìôî
        result = {
            'index': i,
            'db_id': db_id,
            'pred_sql': pred_sql,
            'gold_sql': gold_sql,
            'exact_match': False,
            'execution_match': False
        }

        # DB Í≤ΩÎ°ú Íµ¨ÏÑ±
        db_path = os.path.join(db_dir, db_id, f"{db_id}.sqlite")
        if not os.path.exists(db_path):
            print(f"Í≤ΩÍ≥†: Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ ÌååÏùºÏùÑ Ï∞æÏùÑ Ïàò ÏóÜÏùå: {db_path}")
            result['error'] = f"DB ÌååÏùºÏùÑ Ï∞æÏùÑ Ïàò ÏóÜÏùå: {db_path}"
            scores['details'].append(result)
            continue

        # Ïã§Ìñâ Ï†ïÌôïÎèÑ ÌèâÍ∞Ä
        try:
            conn = sqlite3.connect(db_path)
            cursor = conn.cursor()

            # ÏòàÏ∏° SQL Ïã§Ìñâ
            cursor.execute(pred_sql)
            pred_result = cursor.fetchall()
            result['pred_result_count'] = len(pred_result)

            # Ï†ïÎãµ SQL Ïã§Ìñâ
            cursor.execute(gold_sql)
            gold_result = cursor.fetchall()
            result['gold_result_count'] = len(gold_result)

            # Í≤∞Í≥º ÎπÑÍµê
            execution_match = set(pred_result) == set(gold_result)
            if execution_match:
                scores['execution'] += 1
                result['execution_match'] = True

            conn.close()
        except Exception as e:
            result['error'] = f"Ïã§Ìñâ Ïò§Î•ò: {str(e)}"

        # Ï†ïÌôïÌïú ÏùºÏπò ÌèâÍ∞Ä (Î¨∏ÏûêÏó¥ Í∏∞Î∞ò Îã®Ïàú ÎπÑÍµê)
        if normalize_sql(pred_sql) == normalize_sql(gold_sql):
            scores['exact_match'] += 1
            result['exact_match'] = True

        # Í≤∞Í≥º Ï†ÄÏû•
        scores['details'].append(result)

    # Î∞±Î∂ÑÏú®Î°ú Î≥ÄÌôò
    if scores['total'] > 0:
        scores['exact_match_pct'] = scores['exact_match'] / scores['total'] * 100
        scores['execution_pct'] = scores['execution'] / scores['total'] * 100

    return scores

# ÌèâÍ∞Ä Ïã§Ìñâ Ìï®Ïàò
def run_evaluation(model_path=None, sample_size=10, show_all=False):
    """
    Î™®Îç∏ ÌèâÍ∞ÄÎ•º Ïã§ÌñâÌï©ÎãàÎã§.

    Args:
        model_path: ÌèâÍ∞ÄÌï† Î™®Îç∏Ïùò Í≤ΩÎ°ú (NoneÏù¥Î©¥ ÌòÑÏû¨ Î©îÎ™®Î¶¨Ïùò Î™®Îç∏ ÏÇ¨Ïö©)
        sample_size: ÌèâÍ∞ÄÌï† ÏòàÏ†ú Ïàò (NoneÏù¥Î©¥ Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞ÏÖã ÏÇ¨Ïö©)
        show_all: Î™®Îì† ÏòàÏ†ú Í≤∞Í≥ºÎ•º ÌëúÏãúÌï†ÏßÄ Ïó¨Î∂Ä
    """
    try:
        # ÌïÑÏöîÌïú ÎùºÏù¥Î∏åÎü¨Î¶¨ Î®ºÏ†Ä ÏûÑÌè¨Ìä∏
        from unsloth import FastLanguageModel
        import torch
        import pandas as pd
        from IPython.display import display

        # Í≤ΩÎ°ú ÏÑ§Ï†ï Î∞è Ï°¥Ïû¨ ÌôïÏù∏
        dev_file = os.path.join(SPIDER_DIR, "dev.json")
        tables_file = os.path.join(SPIDER_DIR, "tables.json")
        db_dir = os.path.join(SPIDER_DIR, "database")

        # Í≤ΩÎ°ú ÌôïÏù∏
        for path, name in [(dev_file, "dev.json"), (tables_file, "tables.json"), (db_dir, "database")]:
            if not os.path.exists(path):
                print(f"{name} Í≤ΩÎ°úÎ•º Ï∞æÏùÑ Ïàò ÏóÜÏäµÎãàÎã§: {path}")
                print(f"SPIDER_DIR = {SPIDER_DIR}")
                print("SPIDER_DIR Î≥ÄÏàòÍ∞Ä Ïò¨Î∞îÎ•¥Í≤å ÏÑ§Ï†ïÎêòÏóàÎäîÏßÄ ÌôïÏù∏ÌïòÏÑ∏Ïöî.")
                return

        # Í∞úÎ∞ú Îç∞Ïù¥ÌÑ∞ÏÖã Î°úÎìú
        print(f"Í∞úÎ∞ú Îç∞Ïù¥ÌÑ∞ÏÖã Î°úÎìú Ï§ë: {dev_file}")
        with open(dev_file, 'r') as f:
            dev_data = json.load(f)

        # ÏÉòÌîå ÌÅ¨Í∏∞Í∞Ä ÏßÄÏ†ïÎêú Í≤ΩÏö∞ ÏòàÏ†ú Ïàò Ï†úÌïú
        if sample_size and sample_size < len(dev_data):
            print(f"Ï†ÑÏ≤¥ {len(dev_data)}Í∞ú Ï§ë {sample_size}Í∞ú ÏòàÏ†úÎ°ú ÏÉòÌîåÎßÅ")
            dev_data = random.sample(dev_data, sample_size)

        # ÌÖåÏù¥Î∏î Ïä§ÌÇ§Îßà Î°úÎìú
        print(f"ÌÖåÏù¥Î∏î Ïä§ÌÇ§Îßà Î°úÎìú Ï§ë: {tables_file}")
        tables_data = load_tables_data(tables_file)
        if not tables_data:
            print("ÌÖåÏù¥Î∏î Îç∞Ïù¥ÌÑ∞Î•º Î°úÎìúÌïòÏßÄ Î™ªÌñàÏäµÎãàÎã§. ÌèâÍ∞ÄÎ•º Ï¢ÖÎ£åÌï©ÎãàÎã§.")
            return

        schema_mapping = create_schema_mapping(tables_data)
        print(f"{len(schema_mapping)}Í∞ú Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§Ïóê ÎåÄÌïú Ïä§ÌÇ§Îßà Îß§Ìïë ÏÉùÏÑ±")

        # Î™®Îç∏Ïù¥ Î©îÎ™®Î¶¨Ïóê Î°úÎìúÎêú ÏÉÅÌÉúÏùº ÎïåÎäî Í∑∏ÎåÄÎ°ú ÏÇ¨Ïö©, ÏïÑÎãàÎ©¥ Î°úÎìú
        global model, tokenizer
        if model_path:
            print(f"Î™®Îç∏ÏùÑ {model_path}ÏóêÏÑú Î°úÎìúÌï©ÎãàÎã§...")
            model, tokenizer = FastLanguageModel.from_pretrained(
                model_path,
                device_map="auto",
                load_in_4bit=True
            )

        # Î™®Îç∏ ÌôïÏù∏
        if 'model' not in globals() or 'tokenizer' not in globals():
            print("Î™®Îç∏Í≥º ÌÜ†ÌÅ¨ÎÇòÏù¥Ï†ÄÍ∞Ä Î°úÎìúÎêòÏßÄ ÏïäÏïòÏäµÎãàÎã§.")
            return

        # Ï∂îÎ°† Î™®ÎìúÎ°ú ÏÑ§Ï†ï
        if hasattr(model, "for_inference"):
            print("Î™®Îç∏ÏùÑ Ï∂îÎ°† Î™®ÎìúÎ°ú ÏÑ§Ï†ïÌï©ÎãàÎã§...")
            FastLanguageModel.for_inference(model)

        # SQL ÏòàÏ∏° ÏÉùÏÑ±
        preds = []
        golds = []
        questions = []

        print("\nSQL ÏòàÏ∏° ÏÉùÏÑ± Ï§ë:")
        for example in tqdm(dev_data):
            question = example["question"]
            db_id = example["db_id"]
            gold_sql = example["query"]

            # SQL ÏøºÎ¶¨ ÏÉùÏÑ±
            pred_sql = generate_sql_query(model, tokenizer, schema_mapping, question, db_id)

            # Í≤∞Í≥º Ï†ÄÏû•
            questions.append(question)
            preds.append((pred_sql, db_id))
            golds.append((gold_sql, db_id))

        # ÌèâÍ∞Ä ÏàòÌñâ
        print("\nÌèâÍ∞Ä Ïã§Ìñâ Ï§ë...")
        scores = evaluate_predictions(preds, golds, db_dir, tables_file)

        # Í≤∞Í≥º Ï∂úÎ†•
        print("\nÌèâÍ∞Ä Í≤∞Í≥º:")
        print(f"Ï¥ù ÏòàÏ†ú Ïàò: {scores['total']}")
        print(f"ÏôÑÏ†Ñ ÏùºÏπò Ï†ïÌôïÎèÑ: {scores['exact_match_pct']:.2f}% ({scores['exact_match']}/{scores['total']})")
        print(f"Ïã§Ìñâ Ï†ïÌôïÎèÑ: {scores['execution_pct']:.2f}% ({scores['execution']}/{scores['total']})")

        # Í≤∞Í≥º Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÏÉùÏÑ±
        results = []
        for i, detail in enumerate(scores['details']):
            results.append({
                "ÏòàÏ†ú Î≤àÌò∏": i + 1,
                "ÏßàÎ¨∏": questions[i],
                "DB": detail['db_id'],
                "Ï†ïÌôïÌïú ÏùºÏπò": "‚úÖ" if detail['exact_match'] else "‚ùå",
                "Ïã§Ìñâ ÏùºÏπò": "‚úÖ" if detail['execution_match'] else "‚ùå",
                "ÏòàÏ∏° SQL": detail['pred_sql'],
                "Ï†ïÎãµ SQL": detail['gold_sql']
            })

        # Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÏÉùÏÑ±
        df = pd.DataFrame(results)

        # show_allÏù¥ TrueÏù¥Î©¥ Î™®Îì† ÏòàÏ†ú ÌëúÏãú, ÏïÑÎãàÎ©¥ ÏùºÎ∂ÄÎßå ÌëúÏãú
        if show_all:
            print(f"\nÎ™®Îì† ÏòàÏ†ú Í≤∞Í≥º ({len(results)}Í∞ú):")
            display(df)
        else:
            # ÏµúÎåÄ 5Í∞ú ÏÉòÌîåÎßå ÌëúÏãú
            max_samples = min(5, len(results))
            print(f"\nÏÉòÌîå ÏòàÏ†ú Í≤∞Í≥º ({max_samples}Í∞ú):")
            display(df.head(max_samples))
            if len(results) > max_samples:
                print(f"...Ïô∏ {len(results) - max_samples}Í∞ú Îçî ÏûàÏùå. Î™®Îëê Î≥¥Î†§Î©¥ show_all=True ÏòµÏÖò ÏÇ¨Ïö©")

        return df, scores

    except Exception as e:
        print(f"ÌèâÍ∞Ä Ï§ë Ïò§Î•ò Î∞úÏÉù: {str(e)}")
        import traceback
        traceback.print_exc()
        return None

# Î©îÏù∏ ÌèâÍ∞Ä ÏòàÏãú (Î™®Îì† ÏòàÏ†ú ÌèâÍ∞Ä Í≤∞Í≥ºÎ•º Î≥¥Î†§Î©¥ show_all=True ÏòµÏÖò Ï∂îÍ∞Ä)
# run_evaluation(sample_size=10, show_all=True)  # 10Í∞ú ÏòàÏ†ú Ï†ÑÏ≤¥ Í≤∞Í≥º ÌëúÏãú

In [ ]:
# Î™®Îì† ÏòàÏ†ú ÏòàÏ∏° Í≤∞Í≥ºÎ•º Î≥¥Ïó¨Ï£ºÎäî Ìï®Ïàò
def show_all_predictions(model_path=None, sample_size=None):
    """
    Î™®Îì† ÏòàÏ†úÏóê ÎåÄÌïú SQL ÏòàÏ∏° Í≤∞Í≥ºÎ•º ÏÉùÏÑ±ÌïòÏó¨ ÌëúÏãúÌï©ÎãàÎã§.

    Args:
        model_path: ÌèâÍ∞ÄÌï† Î™®Îç∏Ïùò Í≤ΩÎ°ú (NoneÏù¥Î©¥ ÌòÑÏû¨ Î©îÎ™®Î¶¨Ïùò Î™®Îç∏ ÏÇ¨Ïö©)
        sample_size: ÌèâÍ∞ÄÌï† ÏòàÏ†ú Ïàò (NoneÏù¥Î©¥ Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞ÏÖã ÏÇ¨Ïö©)
    """
    try:
        # ÌïÑÏöîÌïú ÎùºÏù¥Î∏åÎü¨Î¶¨ Î®ºÏ†Ä ÏûÑÌè¨Ìä∏
        from unsloth import FastLanguageModel
        import torch
        import pandas as pd
        from IPython.display import display

        # Í≤ΩÎ°ú ÏÑ§Ï†ï Î∞è Ï°¥Ïû¨ ÌôïÏù∏
        dev_file = os.path.join(SPIDER_DIR, "dev.json")
        tables_file = os.path.join(SPIDER_DIR, "tables.json")

        # Í≤ΩÎ°ú ÌôïÏù∏
        for path, name in [(dev_file, "dev.json"), (tables_file, "tables.json")]:
            if not os.path.exists(path):
                print(f"{name} Í≤ΩÎ°úÎ•º Ï∞æÏùÑ Ïàò ÏóÜÏäµÎãàÎã§: {path}")
                print(f"SPIDER_DIR = {SPIDER_DIR}")
                return

        # Í∞úÎ∞ú Îç∞Ïù¥ÌÑ∞ÏÖã Î°úÎìú
        print(f"Í∞úÎ∞ú Îç∞Ïù¥ÌÑ∞ÏÖã Î°úÎìú Ï§ë: {dev_file}")
        with open(dev_file, 'r') as f:
            dev_data = json.load(f)

        # ÏÉòÌîå ÌÅ¨Í∏∞Í∞Ä ÏßÄÏ†ïÎêú Í≤ΩÏö∞ ÏòàÏ†ú Ïàò Ï†úÌïú
        if sample_size and sample_size < len(dev_data):
            print(f"Ï†ÑÏ≤¥ {len(dev_data)}Í∞ú Ï§ë {sample_size}Í∞ú ÏòàÏ†úÎ°ú ÏÉòÌîåÎßÅ")
            dev_data = random.sample(dev_data, sample_size)

        # ÌÖåÏù¥Î∏î Ïä§ÌÇ§Îßà Î°úÎìú
        print(f"ÌÖåÏù¥Î∏î Ïä§ÌÇ§Îßà Î°úÎìú Ï§ë: {tables_file}")
        tables_data = load_tables_data(tables_file)
        if not tables_data:
            print("ÌÖåÏù¥Î∏î Îç∞Ïù¥ÌÑ∞Î•º Î°úÎìúÌïòÏßÄ Î™ªÌñàÏäµÎãàÎã§. Ï¢ÖÎ£åÌï©ÎãàÎã§.")
            return

        schema_mapping = create_schema_mapping(tables_data)
        print(f"{len(schema_mapping)}Í∞ú Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§Ïóê ÎåÄÌïú Ïä§ÌÇ§Îßà Îß§Ìïë ÏÉùÏÑ±")

        # Î™®Îç∏Ïù¥ Î©îÎ™®Î¶¨Ïóê Î°úÎìúÎêú ÏÉÅÌÉúÏùº ÎïåÎäî Í∑∏ÎåÄÎ°ú ÏÇ¨Ïö©, ÏïÑÎãàÎ©¥ Î°úÎìú
        global model, tokenizer
        if model_path:
            print(f"Î™®Îç∏ÏùÑ {model_path}ÏóêÏÑú Î°úÎìúÌï©ÎãàÎã§...")
            model, tokenizer = FastLanguageModel.from_pretrained(
                model_path,
                device_map="auto",
                load_in_4bit=True
            )

        # Î™®Îç∏ ÌôïÏù∏
        if 'model' not in globals() or 'tokenizer' not in globals():
            print("Î™®Îç∏Í≥º ÌÜ†ÌÅ¨ÎÇòÏù¥Ï†ÄÍ∞Ä Î°úÎìúÎêòÏßÄ ÏïäÏïòÏäµÎãàÎã§.")
            return

        # Ï∂îÎ°† Î™®ÎìúÎ°ú ÏÑ§Ï†ï
        if hasattr(model, "for_inference"):
            print("Î™®Îç∏ÏùÑ Ï∂îÎ°† Î™®ÎìúÎ°ú ÏÑ§Ï†ïÌï©ÎãàÎã§...")
            FastLanguageModel.for_inference(model)

        # SQL ÏòàÏ∏° ÏÉùÏÑ±
        results = []
        print("\nSQL ÏòàÏ∏° ÏÉùÏÑ± Ï§ë:")
        for i, example in enumerate(tqdm(dev_data)):
            question = example["question"]
            db_id = example["db_id"]
            gold_sql = example["query"]

            # SQL ÏøºÎ¶¨ ÏÉùÏÑ±
            pred_sql = generate_sql_query(model, tokenizer, schema_mapping, question, db_id)

            # Í≤∞Í≥º Ï†ÄÏû•
            results.append({
                "ÏòàÏ†ú #": i+1,
                "ÏßàÎ¨∏": question,
                "DB": db_id,
                "ÏòàÏ∏° SQL": pred_sql,
                "Ï†ïÎãµ SQL": gold_sql
            })

        # Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Î≥ÄÌôò
        df = pd.DataFrame(results)

        # Í≤∞Í≥º ÌëúÏãú
        print(f"\nÏ¥ù {len(results)}Í∞ú ÏòàÏ†ú ÌèâÍ∞Ä ÏôÑÎ£å")

        # Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÌëúÏãú
        display(df)

        return df

    except Exception as e:
        print(f"Ïò§Î•ò Î∞úÏÉù: {str(e)}")
        import traceback
        traceback.print_exc()
        return None

# Ìï®Ïàò Ìò∏Ï∂ú (ÌïÑÏöîÏãú Ï£ºÏÑù Ìï¥Ï†ú)
# show_all_predictions(sample_size=10)  # 10Í∞ú ÏòàÏ†úÎßå ÌëúÏãú

In [ ]:
import pandas as pd
import random
import re
import sqlite3

def normalize_sql(sql):
    import re

    if not isinstance(sql, str):
        return sql

    # 1. Îî∞Ïò¥ÌëúÎ°ú Î¨∂Ïù∏ Í∞íÎì§ÏùÑ Ï∂îÏ∂úÌïòÏó¨ ÏûÑÏãú Ï†ÄÏû•
    quoted_values = []

    def replace_quotes(match):
        content = match.group(1) or match.group(2)
        placeholder = f"__QUOTED_VALUE_{len(quoted_values)}__"
        quoted_values.append(content)
        return f"'{placeholder}'"

    pattern = r"'([^']*)'|\"([^\"]*)\""
    sql_with_placeholders = re.sub(pattern, replace_quotes, sql)

    # 2. ÎÇòÎ®∏ÏßÄ SQL Ï†ïÍ∑úÌôî (ÏãùÎ≥ÑÏûê, ÌÇ§ÏõåÎìú Îì±)
    normalized_sql = sql_with_placeholders.lower().strip()

    # Ïó∞ÏÜçÎêú Í≥µÎ∞±ÏùÑ ÌïòÎÇòÎ°ú Î≥ÄÌôò
    normalized_sql = re.sub(r'\s+', ' ', normalized_sql)

    # ÏâºÌëú Ï£ºÎ≥Ä Í≥µÎ∞± Ï†ïÍ∑úÌôî
    normalized_sql = re.sub(r'\s*,\s*', ', ', normalized_sql)

    # Î¨∏Ïû• ÎÅù ÏÑ∏ÎØ∏ÏΩúÎ°†(;) Ï†úÍ±∞
    normalized_sql = re.sub(r';+\s*$', '', normalized_sql)

    # Ïó∞ÏÇ∞Ïûê Ï£ºÎ≥Ä Í≥µÎ∞± Ï†ïÍ∑úÌôî - Í∞úÏÑ†Îêú Î≤ÑÏ†Ñ
    # ÎπÑÍµê Ïó∞ÏÇ∞ÏûêÎ•º Î®ºÏ†Ä Ï≤òÎ¶¨ (ÏàúÏÑú Ï§ëÏöî!)
    comparison_ops = ['!=', '<>', '>=', '<=', '=', '>', '<']
    for op in comparison_ops:
        # Ïó∞ÏÇ∞Ïûê Ï£ºÎ≥ÄÏùò Î™®Îì† Í≥µÎ∞±ÏùÑ Ï†úÍ±∞Ìïú ÌõÑ ÏñëÏ™ΩÏóê Í≥µÎ∞± ÌïòÎÇòÏî© Ï∂îÍ∞Ä
        pattern = r'\s*' + re.escape(op) + r'\s*'
        normalized_sql = re.sub(pattern, f' {op} ', normalized_sql)

    # ÏÇ∞Ïà† Ïó∞ÏÇ∞Ïûê
    arithmetic_ops = ['+', '-', '*', '/']
    for op in arithmetic_ops:
        pattern = r'\s*' + re.escape(op) + r'\s*'
        normalized_sql = re.sub(pattern, f' {op} ', normalized_sql)

    # ÌÇ§ÏõåÎìú Ïó∞ÏÇ∞Ïûê (Ïù¥ÎØ∏ Í≥µÎ∞±Ïù¥ Ìè¨Ìï®ÎêòÏñ¥ ÏûàÏùå)
    keyword_ops = ['and', 'or', 'not', 'in', 'like', 'between']
    for op in keyword_ops:
        # Îã®Ïñ¥ Í≤ΩÍ≥ÑÎ•º ÏÇ¨Ïö©ÌïòÏó¨ Ï†ïÌôïÌïú Îß§Ïπ≠
        pattern = r'\s+' + op + r'\s+'
        normalized_sql = re.sub(pattern, f' {op} ', normalized_sql, flags=re.IGNORECASE)

    # Ï§ëÎ≥µ Í≥µÎ∞± Ï†úÍ±∞
    normalized_sql = re.sub(r'\s+', ' ', normalized_sql)

    # 3. Ï†ÄÏû•ÌñàÎçò ÏõêÎûò Í∞íÎì§ Îã§Ïãú ÎÑ£Í∏∞
    for i, value in enumerate(quoted_values):
        placeholder = f"__quoted_value_{i}__"
        normalized_sql = normalized_sql.replace(f"'{placeholder}'", f"'{value}'")

    return normalized_sql.strip()


def execute_sql(db_path, sql):
    """SQLite Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ÏóêÏÑú SQLÏùÑ Ïã§ÌñâÌïòÍ≥† Í≤∞Í≥ºÎ•º Î∞òÌôòÌï©ÎãàÎã§."""
    try:
        conn = sqlite3.connect(db_path)
        cursor = conn.cursor()
        cursor.execute(sql)
        results = cursor.fetchall()
        conn.close()
        return True, results
    except Exception as e:
        return False, str(e)

def compare_sql_results(result1, result2):
    """Îëê SQL Ïã§Ìñâ Í≤∞Í≥ºÍ∞Ä ÎèôÏùºÌïúÏßÄ ÎπÑÍµêÌï©ÎãàÎã§."""
    if result1 is None or result2 is None:
        return False

    # Í≤∞Í≥ºÎ•º Ï†ïÎ†¨Îêú ÏßëÌï©ÏúºÎ°ú Î≥ÄÌôòÌïòÏó¨ ÎπÑÍµê (ÏàúÏÑú Î¨¥Í¥Ä)
    try:
        set1 = set(map(tuple, result1))
        set2 = set(map(tuple, result2))
        return set1 == set2
    except:
        # Îã®Ïàú ÎπÑÍµê
        return result1 == result2

def generate_sql(model, tokenizer, prompt):
    """ÌîÑÎ°¨ÌîÑÌä∏Î°úÎ∂ÄÌÑ∞ SQL ÏøºÎ¶¨Î•º ÏÉùÏÑ±Ìï©ÎãàÎã§."""
    # Ï±ÑÌåÖ Î©îÏãúÏßÄÎ°ú Ìè¨Îß∑ÌåÖ
    messages = [{"role": "user", "content": prompt}]

    # Ï±ÑÌåÖ ÌÖúÌîåÎ¶ø Ï†ÅÏö©
    inputs = tokenizer.apply_chat_template(
        messages,
        tokenize=True,
        add_generation_prompt=True,
        return_tensors="pt"
    ).to(model.device)

    # SQL ÏøºÎ¶¨ ÏÉùÏÑ±
    outputs = model.generate(
        inputs,
        max_new_tokens=150,
        temperature=0.1,
        do_sample=True,
        use_cache=True,
        pad_token_id=tokenizer.eos_token_id
    )

    # ÏùëÎãµ ÎîîÏΩîÎî©
    response = tokenizer.decode(outputs[0], skip_special_tokens=True)

    # ÌîÑÎ°¨ÌîÑÌä∏ Ïù¥ÌõÑÏùò ÏùëÎãµÎßå Ï∂îÏ∂ú
    if prompt in response:
        sql_part = response.split(prompt)[-1].strip()
    else:
        # ÌîÑÎ°¨ÌîÑÌä∏Î•º Ï∞æÏùÑ Ïàò ÏóÜÎäî Í≤ΩÏö∞, 'assistant' ÌÉúÍ∑∏ ÌõÑÏùò ÎÇ¥Ïö© Ï∂îÏ∂ú
        sql_part = response

    # 'assistant' ÌÉúÍ∑∏ Ï†úÍ±∞
    if sql_part.startswith("assistant"):
        sql_part = sql_part[len("assistant"):].strip()

    # SQL ÏøºÎ¶¨Îßå Ï∂îÏ∂ú (Ï≤´ Î≤àÏß∏ SQLÎ¨∏)
    lines = sql_part.split('\n')
    sql_query = ""
    for line in lines:
        line = line.strip()
        if line.lower().startswith(('select', 'with', '(select')):
            sql_query = line
            break

    # SQL ÏøºÎ¶¨Î•º Ï∞æÏßÄ Î™ªÌïú Í≤ΩÏö∞ Ï†ÑÏ≤¥ ÏùëÎãµ Î∞òÌôò
    if not sql_query:
        sql_query = sql_part.strip()

    return sql_query

def run_evaluation_ko_from_csv(model, tokenizer, n_samples=10, show_all=False, random_seed=42, check_execution=True):
    """
    CSV ÌååÏùº(spider_validation_final.csv)ÏóêÏÑú ÌïúÍµ≠Ïñ¥ ÏßàÎ¨∏ÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ Î™®Îç∏ÏùÑ ÌèâÍ∞ÄÌï©ÎãàÎã§.

    Args:
        model: ÌèâÍ∞ÄÌï† Î™®Îç∏
        tokenizer: ÌÜ†ÌÅ¨ÎÇòÏù¥Ï†Ä
        n_samples: ÌèâÍ∞ÄÌï† ÏÉòÌîå Ïàò (Í∏∞Î≥∏Í∞í: 10)
        show_all: Î™®Îì† ÏòàÏãúÎ•º Î≥¥Ïó¨Ï§ÑÏßÄ Ïó¨Î∂Ä (Í∏∞Î≥∏Í∞í: False)
        random_seed: ÎûúÎç§ ÏãúÎìú (Í∏∞Î≥∏Í∞í: 42)
        check_execution: SQL Ïã§Ìñâ Í≤∞Í≥ºÎèÑ ÎπÑÍµêÌï†ÏßÄ Ïó¨Î∂Ä (Í∏∞Î≥∏Í∞í: True)
    """
    try:
        # CSV ÌååÏùº Í≤ΩÎ°ú
        csv_path = os.path.join(SPIDER_DIR, 'spider_validation_final.csv')

        if not os.path.exists(csv_path):
            print(f"‚ùå CSV ÌååÏùºÏùÑ Ï∞æÏùÑ Ïàò ÏóÜÏäµÎãàÎã§: {csv_path}")
            return

        # CSV ÌååÏùº Î°úÎìú
        print(f"Loading CSV file from {csv_path}...")
        df = pd.read_csv(csv_path)

        # Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏
        print(f"Total examples in CSV: {len(df)}")
        print(f"Columns: {df.columns.tolist()}")

        # ÌïÑÏöîÌïú Ïó¥Ïù¥ ÏûàÎäîÏßÄ ÌôïÏù∏
        required_columns = ['db_id', 'question_ko', 'query']
        missing_columns = [col for col in required_columns if col not in df.columns]
        if missing_columns:
            print(f"‚ùå Missing required columns: {missing_columns}")
            return

        # ÎûúÎç§ ÏÉòÌîå ÏÑ†ÌÉù
        random.seed(random_seed)
        sample_indices = random.sample(range(len(df)), min(n_samples, len(df)))
        sampled_df = df.iloc[sample_indices]

        print(f"\nEvaluating {len(sampled_df)} random samples...")
        print(f"Execution checking: {'ON' if check_execution else 'OFF'}")
        print("=" * 80)

        # Spider ÌÖåÏù¥Î∏î Ï†ïÎ≥¥ Î°úÎìú
        tables_file = os.path.join(SPIDER_DIR, 'tables.json')
        tables_data = load_tables_data(tables_file)
        schema_dict = create_schema_mapping(tables_data)

        # Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ ÎîîÎ†âÌÜ†Î¶¨
        db_dir = os.path.join(SPIDER_DIR, 'database')

        results = []

        for idx, row in sampled_df.iterrows():
            db_id = row['db_id']
            question_ko = row['question_ko']
            gold_sql = row['query']

            # Ïä§ÌÇ§Îßà Ï†ïÎ≥¥ Í∞ÄÏ†∏Ïò§Í∏∞
            if db_id not in schema_dict:
                print(f"‚ùå Database '{db_id}' not found in schema")
                continue

            schema_info = get_schema_text(db_id, schema_dict)

            # ÌîÑÎ°¨ÌîÑÌä∏ ÏÉùÏÑ±
            prompt = f"""Îã§Ïùå Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ Ïä§ÌÇ§ÎßàÎ•º Ï∞∏Í≥†ÌïòÏó¨ ÏßàÎ¨∏Ïóê ÎåÄÌïú SQL ÏøºÎ¶¨Î•º ÏÉùÏÑ±ÌïòÏÑ∏Ïöî.

### Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ Ïä§ÌÇ§Îßà:
{schema_info}

### ÏßàÎ¨∏: {question_ko}

### SQL ÏøºÎ¶¨:"""

            # Î™®Îç∏ ÏòàÏ∏°
            pred_sql = generate_sql(model, tokenizer, prompt)

            # SQL Ï†ïÍ∑úÌôîÌïòÏó¨ ÎπÑÍµê
            normalized_gold = normalize_sql(gold_sql)
            normalized_generated = normalize_sql(pred_sql)

            # Í≤∞Í≥º Ï†ÄÏû•
            result = {
                'index': idx,
                'db_id': db_id,
                'question_ko': question_ko,
                'gold_sql': gold_sql,
                'generated_sql': pred_sql,
                'normalized_gold': normalized_gold,
                'normalized_generated': normalized_generated,
                'exact_match': normalized_gold == normalized_generated,
                'execution_match': False,
                'execution_error': None
            }

            # SQL Ïã§Ìñâ Í≤∞Í≥º ÎπÑÍµê
            if check_execution:
                db_path = os.path.join(db_dir, db_id, f"{db_id}.sqlite")
                if os.path.exists(db_path):
                    # Gold SQL Ïã§Ìñâ
                    gold_success, gold_result = execute_sql(db_path, gold_sql)
                    # Generated SQL Ïã§Ìñâ
                    gen_success, gen_result = execute_sql(db_path, pred_sql)

                    if gold_success and gen_success:
                        result['execution_match'] = compare_sql_results(gold_result, gen_result)
                    else:
                        if not gen_success:
                            result['execution_error'] = gen_result
                else:
                    result['execution_error'] = f"Database file not found: {db_path}"

            results.append(result)

            # ÏßÑÌñâ ÏÉÅÌô© Ï∂úÎ†•
            print(f"\nExample {len(results)}/{len(sampled_df)}:")
            print(f"Database: {db_id}")
            print(f"Question (KO): {question_ko}")
            print(f"Gold SQL: {gold_sql}")
            print(f"Generated SQL: {pred_sql}")
            print(f"Exact Match: {'‚úÖ' if result['exact_match'] else '‚ùå'}")

            if check_execution:
                if result['execution_error']:
                    print(f"Execution: ‚ùå (Error: {result['execution_error'][:100]}...)")
                else:
                    print(f"Execution Match: {'‚úÖ' if result['execution_match'] else '‚ùå'}")

            print("-" * 80)

        # Ï†ÑÏ≤¥ Í≤∞Í≥º ÏöîÏïΩ
        total_examples = len(results)
        exact_match_count = sum(1 for r in results if r['exact_match'])
        execution_match_count = sum(1 for r in results if r['execution_match'])

        exact_match_accuracy = exact_match_count / total_examples * 100 if total_examples > 0 else 0
        execution_accuracy = execution_match_count / total_examples * 100 if total_examples > 0 else 0

        print(f"\n{'='*80}")
        print(f"Evaluation Summary (Korean Questions from CSV):")
        print(f"Total examples evaluated: {total_examples}")
        print(f"Exact match: {exact_match_count}/{total_examples} ({exact_match_accuracy:.2f}%)")

        if check_execution:
            print(f"Execution match: {execution_match_count}/{total_examples} ({execution_accuracy:.2f}%)")
            execution_errors = sum(1 for r in results if r['execution_error'] is not None)
            print(f"Execution errors: {execution_errors}")

        print(f"{'='*80}")

        # Î™®Îì† Í≤∞Í≥ºÎ•º DataFrameÏúºÎ°ú Î≥¥Ïó¨Ï£ºÍ∏∞
        if show_all or n_samples <= 10:
            print("\n### All Results ###")
            results_df = pd.DataFrame(results)
            results_df['exact_match_icon'] = results_df['exact_match'].apply(lambda x: '‚úÖ' if x else '‚ùå')
            results_df['execution_match_icon'] = results_df['execution_match'].apply(lambda x: '‚úÖ' if x else '‚ùå')

            display_columns = ['index', 'db_id', 'question_ko', 'exact_match_icon']
            if check_execution:
                display_columns.append('execution_match_icon')

            print(results_df[display_columns].to_string(index=False))

        return results

    except Exception as e:
        print(f"‚ùå Error during evaluation: {str(e)}")
        import traceback
        traceback.print_exc()

# ÏÇ¨Ïö© ÏòàÏãú:
results = run_evaluation_ko_from_csv(model, tokenizer, n_samples=1034, show_all=False, check_execution=True, random_seed=15)

Ïä§Ìä∏Î¶¨Î∞ç Ï∂úÎ†• ÎÇ¥Ïö©Ïù¥ Í∏∏Ïñ¥ÏÑú ÎßàÏßÄÎßâ 5000Ï§ÑÏù¥ ÏÇ≠Ï†úÎêòÏóàÏäµÎãàÎã§.
Gold SQL: SELECT COUNT( DISTINCT Continent) FROM country AS T1 JOIN countrylanguage AS T2 ON T1.Code  =  T2.CountryCode WHERE T2.Language  =  "Chinese"
Generated SQL: SELECT count(DISTINCT T1.continent) FROM country AS T1 JOIN countrylanguage AS T2 ON T1.code = T2.countrycode WHERE T2.language = "Chinese"
Exact Match: ‚ùå
Execution Match: ‚úÖ
--------------------------------------------------------------------------------

Example 389/1034:
Database: flight_2
Question (KO): APGÏóêÏÑú Ï∂úÎ∞úÌïòÎäî Ìï≠Í≥µÌé∏Ïùò Ìï≠Í≥µÌé∏ Î≤àÌò∏Î•º ÏïåÎ†§Ï£ºÏÑ∏Ïöî.
Gold SQL: SELECT FlightNo FROM FLIGHTS WHERE SourceAirport  =  "APG"
Generated SQL: SELECT T1.FlightNo FROM Flights AS T1 JOIN Airports AS T2 ON T1.DestAirport = T2.AirportCode WHERE T2.AirportName = "APG"
Exact Match: ‚ùå
Execution Match: ‚úÖ
--------------------------------------------------------------------------------

Example 390/1034:
Database: flight_2
Question (KO): Ïñ¥Îñ§ ÎèÑÏãúÍ∞Ä Í∞ÄÏû• ÎßéÏùÄ ÎèÑÏ∞© Ìï≠Í≥µÌé∏ÏùÑ Í∞ÄÏßÄÍ≥† ÏûàÏäµÎãàÍπå?
Gold SQL: SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport GROUP BY T1.City ORDER BY count(*) DESC LIMIT 1
Generated SQL: SELECT T1.city FROM airports AS T1 JOIN flights AS T2 ON T1.AirportCode = T2.DestAirport GROUP BY T1.city ORDER BY count(*) DESC LIMIT 1
Exact Match: ‚úÖ
Execution Match: ‚úÖ
--------------------------------------------------------------------------------

Example 391/1034:
Database: dog_kennels
Question (KO): Í∞Å ÏÜåÏú†ÏûêÏùò Ïù¥Î¶ÑÍ≥º Í∑∏Îì§Ïùò Í∞úÏùò Ïù¥Î¶ÑÏùÄ Î¨¥ÏóáÏûÖÎãàÍπå?
Gold SQL: SELECT T1.first_name ,  T2.name FROM Owners AS T1 JOIN Dogs AS T2 ON T1.owner_id  =  T2.owner_id
Generated SQL: SELECT T1.first_name, T2.name FROM owners AS T1 JOIN dogs AS T2 ON T1.owner_id = T2.owner_id
Exact Match: ‚úÖ
Execution Match: ‚úÖ
--------------------------------------------------------------------------------

Example 392/1034:
Database: wta_1
Question (KO): Î™®Îì† Í≤ΩÍ∏∞ÏóêÏÑú ÏäπÏûêÏùò ÌèâÍ∑† ÏàúÏúÑÎäî ÏñºÎßàÏûÖÎãàÍπå?
Gold SQL: SELECT avg(winner_rank) FROM matches
Generated SQL: SELECT avg(winner_rank) FROM matches
Exact Match: ‚úÖ
Execution Match: ‚úÖ
--------------------------------------------------------------------------------

Example 393/1034:
Database: flight_2
Question (KO): Í∞ÄÏû• ÎßéÏùÄ Ìï≠Í≥µÌé∏Ïù¥ ÏûàÎäî Í≥µÌï≠Ïùò Í≥µÌï≠ ÏΩîÎìúÎäî Î¨¥ÏóáÏûÖÎãàÍπå?
Gold SQL: SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport OR T1.AirportCode  =  T2.SourceAirport GROUP BY T1.AirportCode ORDER BY count(*) DESC LIMIT 1
Generated SQL: SELECT DestAirport FROM flights GROUP BY DestAirport ORDER BY count(*) DESC LIMIT 1
Exact Match: ‚ùå
Execution Match: ‚ùå
--------------------------------------------------------------------------------

Example 394/1034:
Database: tvshow
Question (KO): Í∞ÄÏû• ÏµúÍ∑ºÏóê Î∞©ÏÜ°Îêú ÎßåÌôîÏùò Ï†úÏûë ÏΩîÎìúÏôÄ Ï±ÑÎÑêÏùÑ Ï∞æÏúºÏÑ∏Ïöî.
Gold SQL: select production_code ,  channel from cartoon order by original_air_date desc limit 1
Generated SQL: SELECT T1.production_code,  T1.channel FROM cartoon AS T1 JOIN tv_channel AS T2 ON T1.channel  =  T2.id ORDER BY T1.original_air_date DESC LIMIT 1
Exact Match: ‚ùå
Execution Match: ‚úÖ
--------------------------------------------------------------------------------

Example 395/1034:
Database: dog_kennels
Question (KO): ÌïòÏôÄÏù¥ Ï£ºÎÇò ÏúÑÏä§ÏΩòÏã† Ï£ºÏóê Í±∞Ï£ºÌïòÎäî Ï†ÑÎ¨∏Í∞ÄÎì§Ïùò Ïù¥Î©îÏùºÏùÑ ÎÇòÏó¥ÌïòÏÑ∏Ïöî.
Gold SQL: SELECT email_address FROM Professionals WHERE state  =  'Hawaii' OR state  =  'Wisconsin'
Generated SQL: SELECT email_address FROM professionals WHERE state  =  "Hawaii" OR state  =  "Wisconsin"
Exact Match: ‚úÖ
Execution Match: ‚úÖ
--------------------------------------------------------------------------------

Example 396/1034:
Database: world_1
Question (KO): ÏòÅÏñ¥Í∞Ä Í≥µÏãù Ïñ∏Ïñ¥Í∞Ä ÏïÑÎãå ÎÇòÎùºÎì§Ïùò ÌèâÍ∑† Í∏∞ÎåÄ ÏàòÎ™ÖÏùÑ ÏïåÎ†§Ï£ºÏÑ∏Ïöî.
Gold SQL: SELECT avg(LifeExpectancy) FROM country WHERE Name NOT IN (SELECT T1.Name FROM country AS T1 JOIN countrylanguage AS T2 ON T1.Code  =  T2.CountryCode WHERE T2.Language  =  "English" AND T2.IsOfficial  =  "T")
Generated SQL: SELECT avg(LifeExpectancy) FROM country WHERE Code NOT IN (SELECT CountryCode FROM countrylanguage WHERE Language = "english" AND IsOfficial = "Yes")
Exact Match: ‚ùå
Execution Match: ‚ùå
--------------------------------------------------------------------------------

Example 397/1034:
Database: wta_1
Question (KO): Í∞Å Ïó∞ÎèÑÎ≥ÑÎ°ú Î∞úÏÉùÌïú Í≤ΩÍ∏∞ ÏàòÎ•º Ï∞æÏúºÏÑ∏Ïöî.
Gold SQL: SELECT count(*) ,  YEAR FROM matches GROUP BY YEAR
Generated SQL: SELECT YEAR, COUNT(*) FROM matches GROUP BY YEAR
Exact Match: ‚ùå
Execution Match: ‚ùå
--------------------------------------------------------------------------------

Example 398/1034:
Database: museum_visit
Question (KO): ÌöåÏõê Îì±Í∏âÏù¥ 4Î≥¥Îã§ ÎÜíÏùÄ Î∞©Î¨∏ÏûêÎì§Ïùò Ïù¥Î¶ÑÏùÑ Ï∞æÍ≥†, Í≤∞Í≥ºÎ•º Îì±Í∏âÎ≥ÑÎ°ú ÎÜíÏùÄ Í≤ÉÎ∂ÄÌÑ∞ ÎÇÆÏùÄ ÏàúÏúºÎ°ú Ï†ïÎ†¨ÌïòÏÑ∏Ïöî.
Gold SQL: SELECT name FROM visitor WHERE Level_of_membership  >  4 ORDER BY Level_of_membership DESC
Generated SQL: SELECT Name FROM visitor WHERE Level_of_membership > 4 ORDER BY Level_of_membership DESC
Exact Match: ‚úÖ
Execution Match: ‚úÖ
--------------------------------------------------------------------------------

Example 399/1034:
Database: tvshow
Question (KO): Ben JonesÏôÄ Michael ChangÏù¥ Í∞êÎèÖÌïú ÎßåÌôîÎ•º Î∞©ÏÜ°ÌïòÎäî TV Ï±ÑÎÑêÏùò ÏãúÎ¶¨Ï¶à Ïù¥Î¶ÑÍ≥º Íµ≠Í∞ÄÎ•º Ï∞æÏúºÏÑ∏Ïöî.
Gold SQL: SELECT T1.series_name ,  T1.country FROM TV_Channel AS T1 JOIN cartoon AS T2 ON T1.id = T2.Channel WHERE T2.directed_by  =  'Michael Chang' INTERSECT SELECT T1.series_name ,  T1.country FROM TV_Channel AS T1 JOIN cartoon AS T2 ON T1.id = T2.Channel WHERE T2.directed_by  =  'Ben Jones'
Generated SQL: SELECT T1.series_name,  T1.country FROM TV_channel AS T1 JOIN cartoon AS T2 ON T1.id  =  T2.channel WHERE T2.directed_by  =  "Ben Jones" INTERSECT SELECT T1.series_name,  T1.country FROM TV_channel AS T1 JOIN cartoon AS T2 ON T1.id  =  T2.channel WHERE T2.directed_by  =  "Michael Chang"
Exact Match: ‚ùå
Execution Match: ‚úÖ
--------------------------------------------------------------------------------

Example 400/1034:
Database: world_1
Question (KO): ÏïÑÌîÑÎ¶¨Ïπ¥ÏóêÎäî Î™á Í∞ÄÏßÄ Ïú†ÌòïÏùò Ï†ïÎ∂ÄÍ∞Ä ÏûàÎÇòÏöî?
Gold SQL: SELECT count(DISTINCT GovernmentForm) FROM country WHERE Continent  =  "Africa"
Generated SQL: SELECT count(DISTINCT GovernmentForm) FROM country WHERE Continent  =  "Africa"
Exact Match: ‚úÖ
Execution Match: ‚úÖ
--------------------------------------------------------------------------------

Example 401/1034:
Database: world_1
Question (KO): ÏïÑÌîÑÎ¶¨Ïπ¥Ïùò Ïñ¥Îñ§ Íµ≠Í∞ÄÎ≥¥Îã§ Ïù∏Íµ¨Í∞Ä ÎßéÏùÄ ÏïÑÏãúÏïÑ Íµ≠Í∞ÄÎì§ÏùÄ Ïñ¥ÎîîÏù∏Í∞ÄÏöî?
Gold SQL: SELECT Name FROM country WHERE Continent  =  "Asia"  AND population  >  (SELECT max(population) FROM country WHERE Continent  =  "Africa")
Generated SQL: SELECT name FROM country WHERE continent = 'Asia' AND population > (SELECT max(population) FROM country WHERE continent = 'Africa')
Exact Match: ‚úÖ
Execution Match: ‚úÖ
--------------------------------------------------------------------------------

Example 402/1034:
Database: course_teach
Question (KO): 32ÏÑ∏ ÎòêÎäî 33ÏÑ∏Ïù∏ ÍµêÏÇ¨Îì§Ïùò Ïù¥Î¶ÑÏùÄ Î¨¥ÏóáÏûÖÎãàÍπå?
Gold SQL: SELECT Name FROM teacher WHERE Age  =  32 OR Age  =  33
Generated SQL: SELECT Name FROM teacher WHERE Age = 32 OR Age = 33
Exact Match: ‚úÖ
Execution Match: ‚úÖ
--------------------------------------------------------------------------------

Example 403/1034:
Database: cre_Doc_Template_Mgt
Question (KO): Korea ' ÌÖçÏä§Ìä∏Í∞Ä ÏûàÎäî Î¨∏Îã®Ïùò ÏÑ∏Î∂Ä Ï†ïÎ≥¥Î•º Î≥¥Ïó¨Ï£ºÏã≠ÏãúÏò§.
Gold SQL: select other_details from paragraphs where paragraph_text like 'korea'
Generated SQL: SELECT T2.Other_Details FROM Paragraphs AS T1 JOIN Documents AS T2 ON T1.Document_ID = T2.Document_ID WHERE T1.Paragraph_Text LIKE "Korea %"
Exact Match: ‚ùå
Execution Match: ‚ùå
--------------------------------------------------------------------------------

Example 404/1034:
Database: cre_Doc_Template_Mgt
Question (KO): ÏΩîÎìú ADÏù∏ ÌÖúÌîåÎ¶ø Ïú†ÌòïÏùò ÌÖúÌîåÎ¶ø Ïú†Ìòï ÏÑ§Î™ÖÏùÑ Î∞òÌôòÌïòÏã≠ÏãúÏò§.
Gold SQL: SELECT template_type_description FROM Ref_template_types WHERE template_type_code  =  "AD"
Generated SQL: SELECT t2.template_type_description FROM Templates AS t1 JOIN Ref_Template_Types AS t2 ON t1.template_type_code = t2.template_type_code WHERE t1.template_type_code = "AD"
Exact Match: ‚ùå
Execution Match: ‚úÖ
--------------------------------------------------------------------------------

Example 405/1034:
Database: course_teach
Question (KO): Í≥†Ìñ•Ïù¥ "Little Lever Urban District"Í∞Ä ÏïÑÎãå ÍµêÏÇ¨Ïùò Ïù¥Î¶ÑÏùÑ ÎÇòÏó¥ÌïòÏã≠ÏãúÏò§.
Gold SQL: select name from teacher where hometown != "little lever urban district"
Generated SQL: SELECT Name FROM teacher WHERE Hometown!= "Little Lever Urban District"
Exact Match: ‚ùå
Execution Match: ‚ùå
--------------------------------------------------------------------------------

Example 406/1034:
Database: cre_Doc_Template_Mgt
Question (KO): Í∞ÄÏû• ÎÇÆÏùÄ Î≤ÑÏ†Ñ Î≤àÌò∏ÏôÄ Ìï¥ÎãπÌïòÎäî ÌÖúÌîåÎ¶ø Ïú†Ìòï ÏΩîÎìúÎ•º Î∞òÌôòÌïòÏÑ∏Ïöî.
Gold SQL: SELECT min(Version_Number) ,  template_type_code FROM Templates
Generated SQL: SELECT min(version_number), template_type_code FROM Templates GROUP BY template_type_code
Exact Match: ‚ùå
Execution Match: ‚ùå
--------------------------------------------------------------------------------

Example 407/1034:
Database: singer
Question (KO): Ï∂úÏÉù Ïó∞ÎèÑÍ∞Ä 1948ÎÖÑ ÎòêÎäî 1949ÎÖÑÏù∏ Í∞ÄÏàòÎì§Ïùò Ïù¥Î¶ÑÏùÑ Î≥¥Ïó¨Ï£ºÏÑ∏Ïöî?
Gold SQL: SELECT Name FROM singer WHERE Birth_Year  =  1948 OR Birth_Year  =  1949
Generated SQL: SELECT Name FROM singer WHERE Birth_Year = 1948 OR Birth_Year = 1949
Exact Match: ‚úÖ
Execution Match: ‚úÖ
--------------------------------------------------------------------------------

Example 408/1034:
Database: car_1
Question (KO): ÌèâÍ∑†Î≥¥Îã§ ÏûëÏùÄ Î¨¥Í≤åÎ•º Í∞ÄÏßÑ ÏûêÎèôÏ∞®Ïùò Î™®Îç∏ÏùÄ Î¨¥ÏóáÏù∏Í∞ÄÏöî?
Gold SQL: SELECT T1.model FROM CAR_NAMES AS T1 JOIN CARS_DATA AS T2 ON T1.MakeId  =  T2.Id WHERE T2.Weight  <  (SELECT avg(Weight) FROM CARS_DATA)
Generated SQL: SELECT Model FROM car_names WHERE Weight < (SELECT avg(Weight) FROM car_names)
Exact Match: ‚ùå
Execution: ‚ùå (Error: no such column: Weight...)
--------------------------------------------------------------------------------

Example 409/1034:
Database: car_1
Question (KO): Í∞ÄÏû• ÎÜíÏùÄ MPGÎ•º Í∞ÄÏßÑ ÏûêÎèôÏ∞® Î™®Îç∏ÏùÄ Î¨¥ÏóáÏûÖÎãàÍπå?
Gold SQL: select t1.model from car_names as t1 join cars_data as t2 on t1.makeid  =  t2.id order by t2.mpg desc limit 1;
Generated SQL: SELECT Model FROM model_list ORDER BY MPG DESC LIMIT 1
Exact Match: ‚ùå
Execution: ‚ùå (Error: no such column: MPG...)
--------------------------------------------------------------------------------

Example 410/1034:
Database: student_transcripts_tracking
Question (KO): Î™®Îì† Ï£ºÏÜåÏùò Ï≤´ Î≤àÏß∏ Ï§ÑÍ≥º Îëê Î≤àÏß∏ Ï§ÑÏùÄ Î¨¥ÏóáÏûÖÎãàÍπå?
Gold SQL: SELECT line_1 ,  line_2 FROM addresses
Generated SQL: SELECT line_1, line_2 FROM addresses
Exact Match: ‚úÖ
Execution Match: ‚úÖ
--------------------------------------------------------------------------------

Example 411/1034:
Database: tvshow
Question (KO): Todd CaseyÍ∞Ä ÏûëÏÑ±Ìïú ÎßåÌôîÍ∞Ä TVÏóêÏÑú Î∞©ÏÜ°ÎêòÎäî Íµ≠Í∞ÄÎäî Ïñ¥ÎîîÏù∏Í∞ÄÏöî?
Gold SQL: SELECT T1.country FROM TV_Channel AS T1 JOIN cartoon AS T2 ON T1.id = T2.Channel WHERE T2.written_by  =  'Todd Casey'
Generated SQL: SELECT T1.Country FROM TV_Channel AS T1 JOIN Cartoon AS T2 ON T1.id  =  T2.channel WHERE T2.Written_by  =  "Todd Casey"
Exact Match: ‚úÖ
Execution Match: ‚úÖ
--------------------------------------------------------------------------------

Example 412/1034:
Database: flight_2
Question (KO): AHD' Í≥µÌï≠ÏóêÏÑú Ï∂úÎ∞úÌïòÎäî Ìï≠Í≥µÌé∏Ïù¥ ÏûàÎäî Ìï≠Í≥µÏÇ¨Îäî Î¨¥ÏóáÏûÖÎãàÍπå?
Gold SQL: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "AHD"
Generated SQL: SELECT T1.Airline FROM airlines AS T1 JOIN flights AS T2 ON T1.Airline = T2.Airline WHERE T2.SourceAirport = "AHD"
Exact Match: ‚ùå
Execution Match: ‚úÖ
--------------------------------------------------------------------------------

Example 413/1034:
Database: poker_player
Question (KO): Ïù¥Î¶ÑÏùÑ ÏïåÌååÎ≤≥ ÏàúÏúºÎ°ú Ï†ïÎ†¨Ìïú ÏÇ¨ÎûåÎì§Ïùò Ïù¥Î¶ÑÍ≥º ÏÉùÎÖÑÏõîÏùºÏùÄ Î¨¥ÏóáÏù∏Í∞ÄÏöî?
Gold SQL: SELECT Name ,  Birth_Date FROM people ORDER BY Name ASC
Generated SQL: SELECT Name,  Birth_Date FROM People ORDER BY Name
Exact Match: ‚ùå
Execution Match: ‚úÖ
--------------------------------------------------------------------------------

Example 414/1034:
Database: real_estate_properties
Question (KO): ÏóêÏñ¥Ïª® Í∏∞Îä•Ïùò Í∏∞Îä• Ïú†Ìòï Ïù¥Î¶ÑÏùÄ Î¨¥ÏóáÏù∏Í∞ÄÏöî?
Gold SQL: SELECT T2.feature_type_name FROM Other_Available_Features AS T1 JOIN Ref_Feature_Types AS T2 ON T1.feature_type_code  =  T2.feature_type_code WHERE T1.feature_name  =  "AirCon"
Generated SQL: SELECT T2.feature_type_name FROM Other_Available_Features AS T1 JOIN Ref_Feature_Types AS T2 ON T1.feature_type_code = T2.feature_type_code WHERE T1.feature_name = "aircon"
Exact Match: ‚ùå
Execution Match: ‚ùå
--------------------------------------------------------------------------------

Example 415/1034:
Database: dog_kennels
Question (KO): ÏûêÏã†Ïùò Í∞ïÏïÑÏßÄÎì§ÏùÑ ÏúÑÌï¥ Ï¥ùÏï°ÏúºÎ°ú Í∞ÄÏû• ÎßéÏùÄ ÎèàÏùÑ ÏßÄÏ∂úÌïú ÏÜåÏú†ÏûêÏùò IDÏôÄ Ïö∞Ìé∏Î≤àÌò∏Î•º Ï∞æÏúºÏÑ∏Ïöî.
Gold SQL: SELECT T1.owner_id ,  T1.zip_code FROM Owners AS T1 JOIN Dogs AS T2 ON T1.owner_id  =  T2.owner_id JOIN Treatments AS T3 ON T2.dog_id  =  T3.dog_id GROUP BY T1.owner_id ORDER BY sum(T3.cost_of_treatment) DESC LIMIT 1
Generated SQL: SELECT T1.owner_id,  T1.zip_code FROM owners AS T1 JOIN dogs AS T2 ON T1.owner_id  =  T2.owner_id GROUP BY T1.owner_id ORDER BY sum(T2.weight) DESC LIMIT 1
Exact Match: ‚ùå
Execution Match: ‚úÖ
--------------------------------------------------------------------------------

Example 416/1034:
Database: world_1
Question (KO): ÏïÑÌîÑÎ¶¨Ïπ¥Ïùò Ïñ¥Îñ§ Íµ≠Í∞ÄÎ≥¥Îã§ Ïù∏Íµ¨Í∞Ä Îçî ÎßéÏùÄ ÏïÑÏãúÏïÑ Íµ≠Í∞ÄÎì§ÏùÄ Ïñ¥ÎîîÏù∏Í∞ÄÏöî?
Gold SQL: SELECT Name FROM country WHERE Continent  =  "Asia"  AND population  >  (SELECT min(population) FROM country WHERE Continent  =  "Africa")
Generated SQL: SELECT name FROM country WHERE continent = 'Asia' AND population > (SELECT max(population) FROM country WHERE continent = 'Africa')
Exact Match: ‚ùå
Execution Match: ‚ùå
--------------------------------------------------------------------------------

Example 417/1034:
Database: cre_Doc_Template_Mgt
Question (KO): Îëò Ïù¥ÏÉÅÏùò Î¨∏ÏÑúÏóêÏÑú ÏÇ¨Ïö©ÎêòÎäî Î™®Îì† ÌÖúÌîåÎ¶øÏùò IDÎ•º Î≥¥Ïó¨Ï£ºÏÑ∏Ïöî.
Gold SQL: SELECT template_id FROM Documents GROUP BY template_id HAVING count(*)  >  1
Generated SQL: SELECT T1.template_id FROM Documents AS T1 JOIN Paragraphs AS T2 ON T1.document_id = T2.document_id GROUP BY T1.template_id HAVING count(*) > 1
Exact Match: ‚ùå
Execution Match: ‚ùå
--------------------------------------------------------------------------------

Example 418/1034:
Database: employee_hire_evaluation
Question (KO): ÏßÅÏõêÏùò Ïù¥Î¶ÑÏùÑ ÎÇòÏó¥ÌïòÍ≥† ÎÇòÏù¥ Ïò§Î¶ÑÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨Ìï¥Ï£ºÏÑ∏Ïöî.
Gold SQL: SELECT name FROM employee ORDER BY age
Generated SQL: SELECT Name FROM employee ORDER BY Age ASC
Exact Match: ‚ùå
Execution Match: ‚úÖ
--------------------------------------------------------------------------------

Example 419/1034:
Database: flight_2
Question (KO): AberdeenÏóê ÎèÑÏ∞©ÌïòÎäî United Airlines Ìï≠Í≥µÌé∏ ÏàòÎ•º ÏÑ∏Ïñ¥Î≥¥ÏÑ∏Ïöî.
Gold SQL: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode JOIN AIRLINES AS T3 ON T3.uid  =  T1.Airline WHERE T2.City  =  "Aberdeen" AND T3.Airline  =  "United Airlines"
Generated SQL: SELECT count(*) FROM airlines AS T1 JOIN flights AS T2 ON T1.Airline = T2.Airline JOIN airports AS T3 ON T2.DestAirport = T3.AirportCode WHERE T1.Abbreviation = "UA" AND T3.AirportName = "Aberdeen"
Exact Match: ‚ùå
Execution Match: ‚úÖ
--------------------------------------------------------------------------------

Example 420/1034:
Database: flight_2
Question (KO): Ïñ¥Îñ§ Ìï≠Í≥µÏÇ¨Îì§Ïù¥ 200Í∞ú ÎØ∏ÎßåÏùò Ìï≠Í≥µÌé∏ÏùÑ Í∞ÄÏßÄÍ≥† ÏûàÏäµÎãàÍπå?
Gold SQL: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline HAVING count(*)  <  200
Generated SQL: SELECT T1.Airline FROM airlines AS T1 JOIN flights AS T2 ON T1.Airline = T2.Airline GROUP BY T1.Airline HAVING count(*) < 200
Exact Match: ‚ùå
Execution Match: ‚ùå
--------------------------------------------------------------------------------

Example 421/1034:
Database: student_transcripts_tracking
Question (KO): Ï¥ù Î™á Í∞úÏùò Í≥ºÏ†ïÏù¥ ÎÇòÏó¥ÎêòÏñ¥ ÏûàÏäµÎãàÍπå?
Gold SQL: SELECT count(*) FROM Courses
Generated SQL: SELECT count(*) FROM courses
Exact Match: ‚úÖ
Execution Match: ‚úÖ
--------------------------------------------------------------------------------

Example 422/1034:
Database: flight_2
Question (KO): Ïï†Î≤ÑÎîòÏù¥ÎÇò Ïï†ÎπåÎ¶∞Ïóê Ï∞©Î•ôÌïòÎäî Ìï≠Í≥µÌé∏ÏùÄ Î™á Í∞úÏûÖÎãàÍπå?
Gold SQL: SELECT count(*) FROM Flights AS T1 JOIN Airports AS T2 ON T1.DestAirport  =  T2.AirportCode WHERE T2.city  =  "Aberdeen" OR T2.city  =  "Abilene"
Generated SQL: SELECT count(*) FROM airports AS T1 JOIN flights AS T2 ON T1.AirportCode = T2.DestAirport WHERE T1.AirportName = "Aberdeen" OR T1.AirportName = "Aberdeen"
Exact Match: ‚ùå
Execution Match: ‚úÖ
--------------------------------------------------------------------------------

Example 423/1034:
Database: battle_death
Question (KO): ÏòÅÍµ≠ Ìï¥Ìòë'ÏóêÏÑú Î∞∞Î•º ÏûÉÏßÄ ÏïäÏùÄ Ï†ÑÌà¨Ïùò Ïù¥Î¶Ñ, Í≤∞Í≥º Î∞è Î∂àÍ∞ÄÎ¶¨ÏïÑ ÏßÄÌúòÍ¥ÄÏùÑ Î≥¥Ïó¨Ï£ºÏÑ∏Ïöî.
Gold SQL: SELECT name ,  RESULT ,  bulgarian_commander FROM battle EXCEPT SELECT T1.name ,  T1.result ,  T1.bulgarian_commander FROM battle AS T1 JOIN ship AS T2 ON T1.id  =  T2.lost_in_battle WHERE T2.location  =  'English Channel'
Generated SQL: SELECT T1.name, T1.result, T1.bulgarian_commander FROM battle AS T1 JOIN ship AS T2 ON T1.id = T2.lost_in_battle WHERE T2.location!= 'English Channel'
Exact Match: ‚ùå
Execution Match: ‚ùå
--------------------------------------------------------------------------------

Example 424/1034:
Database: flight_2
Question (KO): Ïö∞Î¶¨Îäî Î™á Í∞úÏùò Í≥µÌï≠ÏùÑ Í∞ÄÏßÄÍ≥† ÏûàÏäµÎãàÍπå?
Gold SQL: SELECT count(*) FROM AIRPORTS
Generated SQL: SELECT count(*) FROM airports
Exact Match: ‚úÖ
Execution Match: ‚úÖ
--------------------------------------------------------------------------------

Example 425/1034:
Database: dog_kennels
Question (KO): ÏûêÏã†Ïùò Í∞ïÏïÑÏßÄÎì§ÏóêÍ≤å Í∞ÄÏû• ÎßéÏùÄ ÏπòÎ£åÎπÑÎ•º ÏßÄÎ∂àÌïú ÏÜåÏú†ÏûêÎäî ÎàÑÍµ¨Ïù∏Í∞ÄÏöî? ÏÜåÏú†Ïûê IDÏôÄ ÏÑ±ÏùÑ ÎÇòÏó¥ÌïòÏÑ∏Ïöî.
Gold SQL: SELECT T1.owner_id ,  T1.last_name FROM Owners AS T1 JOIN Dogs AS T2 ON T1.owner_id  =  T2.owner_id JOIN Treatments AS T3 ON T2.dog_id  =  T3.dog_id GROUP BY T1.owner_id ORDER BY count(*) DESC LIMIT 1
Generated SQL: SELECT T1.owner_id,  T1.last_name FROM owners AS T1 JOIN treatments AS T2 ON T1.owner_id  =  T2.professional_id GROUP BY T1.owner_id ORDER BY count(*) DESC LIMIT 1
Exact Match: ‚ùå
Execution Match: ‚ùå
--------------------------------------------------------------------------------

Example 426/1034:
Database: battle_death
Question (KO): Î∂àÍ∞ÄÎ¶¨ÏïÑ ÏßÄÌúòÍ¥ÄÏù¥ 'Î≥¥Î¶¥'Ïù¥ ÏïÑÎãê Îïå Ï†ÑÌà¨Ïùò Ïù¥Î¶ÑÍ≥º Í≤∞Í≥ºÎäî Î¨¥ÏóáÏûÖÎãàÍπå?
Gold SQL: SELECT name ,  RESULT FROM battle WHERE bulgarian_commander != 'Boril'
Generated SQL: SELECT name, result FROM battle WHERE bulgarian_commander!= "Bo≈ôil"
Exact Match: ‚ùå
Execution Match: ‚ùå
--------------------------------------------------------------------------------

Example 427/1034:
Database: cre_Doc_Template_Mgt
Question (KO): Brazil'Í≥º 'Ireland' Î¨∏Îã® ÌÖçÏä§Ìä∏Í∞Ä ÏûàÎäî Î¨∏ÏÑú IDÎ•º Î≥¥Ïó¨Ï£ºÏã≠ÏãúÏò§.