# Spider 데이터셋(original english question)에 대한 Llama 3.1 원본 모델 성능 테스트

In [1]:
# Google Drive 연결
from google.colab import drive
drive.mount('/content/drive')

# 경로 설정 (Spider 데이터셋이 저장된 경로로 수정하세요)
SPIDER_DIR = '/content/drive/MyDrive/spider/spider_data'  # 필요에 따라 수정
DATASET_PATH = '/content/drive/MyDrive/spider/spider_data/spider_train_translations_final.csv'  # 필요에 따라 수정

Mounted at /content/drive

In [2]:

!pip uninstall unsloth triton -y
#!pip install triton vllm unsloth tqdm pandas bitsandbytes
!pip install "unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git"
!pip install --no-deps "xformers<0.0.27" "trl<0.9.0" peft accelerate bitsandbytes

WARNING: Skipping unsloth as it is not installed.
Found existing installation: triton 3.2.0
Uninstalling triton-3.2.0:
  Successfully uninstalled triton-3.2.0
Collecting unsloth@ git+https://github.com/unslothai/unsloth.git (from unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Cloning https://github.com/unslothai/unsloth.git to /tmp/pip-install-n2uayr3s/unsloth_a6734e5724a54b198f4c7abb5530e3b7
  Running command git clone --filter=blob:none --quiet https://github.com/unslothai/unsloth.git /tmp/pip-install-n2uayr3s/unsloth_a6734e5724a54b198f4c7abb5530e3b7
  Resolved https://github.com/unslothai/unsloth.git to commit c1b73fa8836aa7e8b9ee13d748369f8f61e1fac5
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting unsloth_zoo>=2025.5.11 (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading unsloth_zoo-2025.6.1-py3-none-any.whl.metadata (8.1 kB)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (24.2)
Collecting tyro (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading tyro-0.9.24-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: transformers!=4.47.0,!=4.52.0,!=4.52.1,!=4.52.2,>=4.51.3 in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (4.52.4)
Collecting datasets>=3.4.1 (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading datasets-3.6.0-py3-none-any.whl.metadata (19 kB)
Requirement already satisfied: sentencepiece>=0.2.0 in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.2.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (4.67.1)
Requirement already satisfied: psutil in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (5.9.5)
Requirement already satisfied: wheel>=0.42.0 in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.45.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.0.2)
Collecting protobuf<4.0.0 (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading protobuf-3.20.3-py2.py3-none-any.whl.metadata (720 bytes)
Requirement already satisfied: huggingface_hub in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.32.4)
Requirement already satisfied: hf_transfer in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.1.9)
Collecting bitsandbytes>=0.45.5 (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading bitsandbytes-0.46.0-py3-none-manylinux_2_24_x86_64.whl.metadata (10 kB)
Requirement already satisfied: torch<3,>=2.2 in /usr/local/lib/python3.11/dist-packages (from bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.6.0+cu124)
Requirement already satisfied: filelock in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.18.0)
Requirement already satisfied: pyarrow>=15.0.0 in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (18.1.0)
Requirement already satisfied: dill<0.3.9,>=0.3.0 in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.3.7)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.2.2)
Requirement already satisfied: requests>=2.32.2 in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.32.3)
Requirement already satisfied: xxhash in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.5.0)
Requirement already satisfied: multiprocess<0.70.17 in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.70.15)
Collecting fsspec<=2025.3.0,>=2023.1.0 (from fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading fsspec-2025.3.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (6.0.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.11/dist-packages (from huggingface_hub->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (4.14.0)
Requirement already satisfied: hf-xet<2.0.0,>=1.1.2 in /usr/local/lib/python3.11/dist-packages (from huggingface_hub->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (1.1.2)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.11/dist-packages (from transformers!=4.47.0,!=4.52.0,!=4.52.1,!=4.52.2,>=4.51.3->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2024.11.6)
Requirement already satisfied: tokenizers<0.22,>=0.21 in /usr/local/lib/python3.11/dist-packages (from transformers!=4.47.0,!=4.52.0,!=4.52.1,!=4.52.2,>=4.51.3->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.21.1)
Requirement already satisfied: safetensors>=0.4.3 in /usr/local/lib/python3.11/dist-packages (from transformers!=4.47.0,!=4.52.0,!=4.52.1,!=4.52.2,>=4.51.3->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.5.3)
Collecting triton>=3.0.0 (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading triton-3.3.1-cp311-cp311-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (1.5 kB)
Requirement already satisfied: accelerate>=0.34.1 in /usr/local/lib/python3.11/dist-packages (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (1.7.0)
Collecting trl!=0.15.0,!=0.9.0,!=0.9.1,!=0.9.2,!=0.9.3,>=0.7.9 (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading trl-0.18.1-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: peft!=0.11.0,>=0.7.1 in /usr/local/lib/python3.11/dist-packages (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.15.2)
Collecting cut_cross_entropy (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading cut_cross_entropy-25.1.1-py3-none-any.whl.metadata (9.3 kB)
Requirement already satisfied: pillow in /usr/local/lib/python3.11/dist-packages (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (11.2.1)
Collecting msgspec (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading msgspec-0.19.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.9 kB)
Requirement already satisfied: docstring-parser>=0.15 in /usr/local/lib/python3.11/dist-packages (from tyro->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.16)
Requirement already satisfied: rich>=11.1.0 in /usr/local/lib/python3.11/dist-packages (from tyro->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (13.9.4)
Collecting shtab>=1.5.6 (from tyro->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading shtab-1.7.2-py3-none-any.whl.metadata (7.4 kB)
Requirement already satisfied: typeguard>=4.0.0 in /usr/local/lib/python3.11/dist-packages (from tyro->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (4.4.2)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /usr/local/lib/python3.11/dist-packages (from fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.11.15)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2025.4.26)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.11/dist-packages (from rich>=11.1.0->tyro->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.11/dist-packages (from rich>=11.1.0->tyro->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.19.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.11/dist-packages (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.5)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.11/dist-packages (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.1.6)
Collecting nvidia-cuda-nvrtc-cu12==12.4.127 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cuda_nvrtc_cu12-12.4.127-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cuda-runtime-cu12==12.4.127 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cuda_runtime_cu12-12.4.127-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cuda-cupti-cu12==12.4.127 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cuda_cupti_cu12-12.4.127-py3-none-manylinux2014_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cudnn-cu12==9.1.0.70 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cudnn_cu12-9.1.0.70-py3-none-manylinux2014_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cublas-cu12==12.4.5.8 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cublas_cu12-12.4.5.8-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cufft-cu12==11.2.1.3 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cufft_cu12-11.2.1.3-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-curand-cu12==10.3.5.147 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_curand_cu12-10.3.5.147-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cusolver-cu12==11.6.1.9 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cusolver_cu12-11.6.1.9-py3-none-manylinux2014_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cusparse-cu12==12.3.1.170 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cusparse_cu12-12.3.1.170-py3-none-manylinux2014_x86_64.whl.metadata (1.6 kB)
Requirement already satisfied: nvidia-cusparselt-cu12==0.6.2 in /usr/local/lib/python3.11/dist-packages (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.6.2)
Requirement already satisfied: nvidia-nccl-cu12==2.21.5 in /usr/local/lib/python3.11/dist-packages (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.21.5)
Requirement already satisfied: nvidia-nvtx-cu12==12.4.127 in /usr/local/lib/python3.11/dist-packages (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (12.4.127)
Collecting nvidia-nvjitlink-cu12==12.4.127 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_nvjitlink_cu12-12.4.127-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting triton>=3.0.0 (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading triton-3.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.4 kB)
Requirement already satisfied: sympy==1.13.1 in /usr/local/lib/python3.11/dist-packages (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (1.13.1)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /usr/local/lib/python3.11/dist-packages (from sympy==1.13.1->torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (1.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2025.2)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.6.1)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (1.3.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (25.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (1.6.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (6.4.4)

Collecting xformers<0.0.27
  Downloading xformers-0.0.26.post1-cp311-cp311-manylinux2014_x86_64.whl.metadata (1.0 kB)
Collecting trl<0.9.0
  Downloading trl-0.8.6-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: peft in /usr/local/lib/python3.11/dist-packages (0.15.2)
Requirement already satisfied: accelerate in /usr/local/lib/python3.11/dist-packages (1.7.0)
Requirement already satisfied: bitsandbytes in /usr/local/lib/python3.11/dist-packages (0.46.0)
Downloading xformers-0.0.26.post1-cp311-cp311-manylinux2014_x86_64.whl (222.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 222.8/222.8 MB 4.0 MB/s eta 0:00:00
Downloading trl-0.8.6-py3-none-any.whl (245 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 245.2/245.2 kB 24.4 MB/s eta 0:00:00
Installing collected packages: xformers, trl
  Attempting uninstall: trl
    Found existing installation: trl 0.18.1
    Uninstalling trl-0.18.1:
      Successfully uninstalled trl-0.18.1
Successfully installed trl-0.8.6 xformers-0.0.26.post1

## 모델 및 토크나이저 로드

In [4]:
from unsloth import FastLanguageModel
import torch

# 모델 구성
max_seq_length = 2048  # 필요에 따라 조정
dtype = None  # 자동 감지
load_in_4bit = True
model_name = "unsloth/Meta-Llama-3.1-8B-Instruct-bnb-4bit"

# 모델 및 토크나이저 로드
print("Loading model and tokenizer...")
model, tokenizer = FastLanguageModel.from_pretrained(
    model_name=model_name,
    max_seq_length=max_seq_length,
    dtype=dtype,
    load_in_4bit=load_in_4bit,
)

Unsloth: Patching Xformers to fix some performance issues.
🦥 Unsloth: Will patch your computer to enable 2x faster free finetuning.

WARNING:xformers:WARNING[XFORMERS]: xFormers can't load C++/CUDA extensions. xFormers was built for:
    PyTorch 2.3.0+cu121 with CUDA 1201 (you have 2.6.0+cu124)
    Python  3.11.9 (you have 3.11.13)
  Please reinstall xformers (see https://github.com/facebookresearch/xformers#installing-xformers)
  Memory-efficient attention, SwiGLU, sparse and more won't be available.
  Set XFORMERS_MORE_DETAILS=1 for more details

🦥 Unsloth Zoo will now patch everything to make training faster!
Loading model and tokenizer...
==((====))==  Unsloth 2025.6.1: Fast Llama patching. Transformers: 4.52.4.
   \\   /|    NVIDIA L4. Num GPUs = 1. Max memory: 22.161 GB. Platform: Linux.
O^O/ \_/ \    Torch: 2.6.0+cu124. CUDA: 8.9. CUDA Toolkit: 12.4. Triton: 3.2.0
\        /    Bfloat16 = TRUE. FA [Xformers = None. FA2 = False]
 "-____-"     Free license: http://github.com/unslothai/unsloth
Unsloth: Fast downloading is enabled - ignore downloading bars which are red colored!

model.safetensors:   0%|          | 0.00/5.70G [00:00<?, ?B/s]

generation_config.json:   0%|          | 0.00/239 [00:00<?, ?B/s]

tokenizer_config.json:   0%|          | 0.00/55.5k [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/454 [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/17.2M [00:00<?, ?B/s]

Unsloth 2025.6.1 patched 32 layers with 32 QKV layers, 32 O layers and 32 MLP layers.

# 테스트 수행

In [9]:
## 10. 평가 (Evaluation)

# 필요한 라이브러리 가져오기
import json
import os
import sqlite3
import sys
import random
from tqdm import tqdm



# 평가 도우미 함수
def load_tables_data(tables_file):
    """테이블 스키마 정보를 로드합니다."""
    if not os.path.exists(tables_file):
        print(f"오류: {tables_file}를 찾을 수 없습니다!")
        return None

    print(f"{tables_file}에서 테이블 로딩 중...")
    with open(tables_file, 'r') as f:
        return json.load(f)

def create_schema_mapping(tables_data):
    """db_id에서 스키마 정보로의 매핑 생성."""
    schema_mapping = {}

    for item in tables_data:
        db_id = item["db_id"]
        tables = item["table_names_original"]
        columns = {}
        column_types = {}

        # 열 정보 처리
        for i, (table_id, col_name) in enumerate(item["column_names_original"]):
            if table_id == -1:
                # 특수 "*" 열 건너뛰기
                continue

            table_name = tables[table_id]

            if table_name not in columns:
                columns[table_name] = []
                column_types[table_name] = {}

            # 가능한 경우 열 유형 추가
            col_type = ""
            if "column_types" in item and i < len(item["column_types"]):
                col_type = item["column_types"][i]
                column_types[table_name][col_name] = col_type

            columns[table_name].append(col_name)

        # 외래 키 매핑
        foreign_keys = []
        for fk_pair in item.get("foreign_keys", []):
            if len(fk_pair) == 2:
                col1_idx, col2_idx = fk_pair

                if (col1_idx < len(item["column_names_original"]) and
                    col2_idx < len(item["column_names_original"])):

                    table1_idx, col1_name = item["column_names_original"][col1_idx]
                    table2_idx, col2_name = item["column_names_original"][col2_idx]

                    if table1_idx >= 0 and table2_idx >= 0:
                        table1_name = tables[table1_idx]
                        table2_name = tables[table2_idx]
                        foreign_keys.append({
                            "source": f"{table1_name}.{col1_name}",
                            "target": f"{table2_name}.{col2_name}"
                        })

        # 기본 키 매핑
        primary_keys = []
        for pk in item.get("primary_keys", []):
            if pk < len(item["column_names_original"]):
                table_id, col_name = item["column_names_original"][pk]
                if table_id >= 0:
                    table_name = tables[table_id]
                    primary_keys.append(f"{table_name}.{col_name}")

        schema_mapping[db_id] = {
            "tables": tables,
            "columns": columns,
            "column_types": column_types,
            "foreign_keys": foreign_keys,
            "primary_keys": primary_keys
        }

    return schema_mapping

def get_schema_text(db_id, schema_mapping):
    """주어진 db_id에 대한 스키마 텍스트 생성."""
    if db_id not in schema_mapping:
        return "Schema information not available"

    schema = schema_mapping[db_id]
    tables = schema["tables"]
    columns = schema["columns"]
    column_types = schema["column_types"]
    foreign_keys = schema["foreign_keys"]
    primary_keys = schema["primary_keys"]

    schema_text = "데이터베이스 스키마:\n"

    for table in tables:
        schema_text += f"테이블: {table}\n"
        if table in columns:
            schema_text += "컬럼:\n"
            for column in columns[table]:
                # 기본 키 표시기 추가
                pk_marker = " (기본 키)" if f"{table}.{column}" in primary_keys else ""

                # 가능한 경우 열 유형 추가
                type_info = ""
                if table in column_types and column in column_types[table]:
                    type_info = f" ({column_types[table][column]})"

                schema_text += f"  - {column}{type_info}{pk_marker}\n"

    if foreign_keys:
        schema_text += "\n외래 키 관계:\n"
        for fk in foreign_keys:
            schema_text += f"  - {fk['source']} → {fk['target']}\n"

    return schema_text

def generate_sql_query(model, tokenizer, schema_mapping, question, db_id):
    """주어진 질문과 데이터베이스에 대한 SQL 쿼리를 생성합니다."""
    try:
        # 스키마 텍스트 가져오기
        if db_id in schema_mapping:
            schema_text = get_schema_text(db_id, schema_mapping)
        else:
            schema_text = "Schema information not available"

        # 스키마를 포함한 입력 구성
        input_with_schema = f"당신은 자연어 질문을 SQL 쿼리로 변환하는 전문 AI 어시스턴트입니다. 사용자가 데이터베이스에서 정보를 얻기 위해 일상 언어로 질문하면, 당신은 해당 질문을 정확한 SQL 쿼리로 변환해야 합니다. 서론과 설명은 제외하고, 바로 작업을 수행하세요.\n\n{schema_text}\n\n질문: {question}"

        # 채팅 메시지로 포맷팅
        messages = [{"role": "user", "content": input_with_schema}]

        # 채팅 템플릿 적용
        inputs = tokenizer.apply_chat_template(
            messages,
            tokenize=True,
            add_generation_prompt=True,
            return_tensors="pt"
        ).to(model.device)

        # SQL 쿼리 생성
        outputs = model.generate(
            inputs,
            max_new_tokens=150,
            temperature=0.1,
            do_sample=True,
            use_cache=True
        )

        # 응답 디코딩
        response = tokenizer.decode(outputs[0], skip_special_tokens=True)

        # 생성된 SQL 쿼리 추출
        assistant_part = response.split(input_with_schema)[-1].strip()

        # 응답 정리하여 SQL 쿼리만 추출
        if assistant_part.startswith("assistant"):
            assistant_part = assistant_part[len("assistant"):].strip()

        # SQL과 유사한 첫 번째 문장 찾기
        lines = assistant_part.split("\n")
        sql_query = ""
        in_sql = False
        for line in lines:
            line = line.strip()
            if not line:
                continue

            # SQL 키워드로 쿼리 시작 식별
            if not in_sql and (line.lower().startswith("select") or
                             line.lower().startswith("with") or
                             line.lower().startswith("(select")):
                in_sql = True

            if in_sql:
                sql_query += line + " "

                # 코드 펜스나 종료 표시를 찾으면 중지
                if line.endswith(";") or line.endswith("```"):
                    break

        # 명확한 SQL 쿼리를 찾지 못한 경우 전체 응답 사용
        if not sql_query:
            sql_query = assistant_part

        # 코드 마커, 백틱 등 정리
        sql_query = sql_query.replace("```sql", "").replace("```", "").strip()

        return sql_query

    except Exception as e:
        print(f"SQL 쿼리 생성 오류: {str(e)}")
        return "SELECT * FROM table"  # 오류 발생 시 기본 쿼리

def evaluate_predictions(preds, golds, db_dir, tables_file):
    """
    생성된 SQL 예측을 평가합니다.

    Args:
        preds: [(sql, db_id), ...] 형식의 예측 목록
        golds: [(sql, db_id), ...] 형식의 정답 목록
        db_dir: SQLite 데이터베이스가 있는 디렉토리
        tables_file: tables.json 파일 경로

    Returns:
        정확도 점수를 포함하는 딕셔너리
    """
    # Spider evaluation.py와 유사한 평가 로직 구현
    scores = {
        'exact_match': 0,
        'execution': 0,
        'total': len(preds),
        'details': []  # 각 예제별 세부 평가 결과
    }

    for i, ((pred_sql, db_id), (gold_sql, _)) in enumerate(zip(preds, golds)):
        # 세부 평가 결과 초기화
        result = {
            'index': i,
            'db_id': db_id,
            'pred_sql': pred_sql,
            'gold_sql': gold_sql,
            'exact_match': False,
            'execution_match': False
        }

        # DB 경로 구성
        db_path = os.path.join(db_dir, db_id, f"{db_id}.sqlite")
        if not os.path.exists(db_path):
            print(f"경고: 데이터베이스 파일을 찾을 수 없음: {db_path}")
            result['error'] = f"DB 파일을 찾을 수 없음: {db_path}"
            scores['details'].append(result)
            continue

        # 실행 정확도 평가
        try:
            conn = sqlite3.connect(db_path)
            cursor = conn.cursor()

            # 예측 SQL 실행
            cursor.execute(pred_sql)
            pred_result = cursor.fetchall()
            result['pred_result_count'] = len(pred_result)

            # 정답 SQL 실행
            cursor.execute(gold_sql)
            gold_result = cursor.fetchall()
            result['gold_result_count'] = len(gold_result)

            # 결과 비교
            execution_match = set(pred_result) == set(gold_result)
            if execution_match:
                scores['execution'] += 1
                result['execution_match'] = True

            conn.close()
        except Exception as e:
            result['error'] = f"실행 오류: {str(e)}"

        # 정확한 일치 평가 (문자열 기반 단순 비교)
        if normalize_sql(pred_sql) == normalize_sql(gold_sql):
            scores['exact_match'] += 1
            result['exact_match'] = True

        # 결과 저장
        scores['details'].append(result)

    # 백분율로 변환
    if scores['total'] > 0:
        scores['exact_match_pct'] = scores['exact_match'] / scores['total'] * 100
        scores['execution_pct'] = scores['execution'] / scores['total'] * 100

    return scores

# 평가 실행 함수
def run_evaluation(model_path=None, sample_size=10, show_all=False):
    """
    모델 평가를 실행합니다.

    Args:
        model_path: 평가할 모델의 경로 (None이면 현재 메모리의 모델 사용)
        sample_size: 평가할 예제 수 (None이면 전체 데이터셋 사용)
        show_all: 모든 예제 결과를 표시할지 여부
    """
    try:
        # 필요한 라이브러리 먼저 임포트
        from unsloth import FastLanguageModel
        import torch
        import pandas as pd
        from IPython.display import display

        # 경로 설정 및 존재 확인
        dev_file = os.path.join(SPIDER_DIR, "dev.json")
        tables_file = os.path.join(SPIDER_DIR, "tables.json")
        db_dir = os.path.join(SPIDER_DIR, "database")

        # 경로 확인
        for path, name in [(dev_file, "dev.json"), (tables_file, "tables.json"), (db_dir, "database")]:
            if not os.path.exists(path):
                print(f"{name} 경로를 찾을 수 없습니다: {path}")
                print(f"SPIDER_DIR = {SPIDER_DIR}")
                print("SPIDER_DIR 변수가 올바르게 설정되었는지 확인하세요.")
                return

        # 개발 데이터셋 로드
        print(f"개발 데이터셋 로드 중: {dev_file}")
        with open(dev_file, 'r') as f:
            dev_data = json.load(f)

        # 샘플 크기가 지정된 경우 예제 수 제한
        if sample_size and sample_size < len(dev_data):
            print(f"전체 {len(dev_data)}개 중 {sample_size}개 예제로 샘플링")
            dev_data = random.sample(dev_data, sample_size)

        # 테이블 스키마 로드
        print(f"테이블 스키마 로드 중: {tables_file}")
        tables_data = load_tables_data(tables_file)
        if not tables_data:
            print("테이블 데이터를 로드하지 못했습니다. 평가를 종료합니다.")
            return

        schema_mapping = create_schema_mapping(tables_data)
        print(f"{len(schema_mapping)}개 데이터베이스에 대한 스키마 매핑 생성")

        # 모델이 메모리에 로드된 상태일 때는 그대로 사용, 아니면 로드
        global model, tokenizer
        if model_path:
            print(f"모델을 {model_path}에서 로드합니다...")
            model, tokenizer = FastLanguageModel.from_pretrained(
                model_path,
                device_map="auto",
                load_in_4bit=True
            )

        # 모델 확인
        if 'model' not in globals() or 'tokenizer' not in globals():
            print("모델과 토크나이저가 로드되지 않았습니다.")
            return

        # 추론 모드로 설정
        if hasattr(model, "for_inference"):
            print("모델을 추론 모드로 설정합니다...")
            FastLanguageModel.for_inference(model)

        # SQL 예측 생성
        preds = []
        golds = []
        questions = []

        print("\nSQL 예측 생성 중:")
        for example in tqdm(dev_data):
            question = example["question"]
            db_id = example["db_id"]
            gold_sql = example["query"]

            # SQL 쿼리 생성
            pred_sql = generate_sql_query(model, tokenizer, schema_mapping, question, db_id)

            # 결과 저장
            questions.append(question)
            preds.append((pred_sql, db_id))
            golds.append((gold_sql, db_id))

        # 평가 수행
        print("\n평가 실행 중...")
        scores = evaluate_predictions(preds, golds, db_dir, tables_file)

        # 결과 출력
        print("\n평가 결과:")
        print(f"총 예제 수: {scores['total']}")
        print(f"완전 일치 정확도: {scores['exact_match_pct']:.2f}% ({scores['exact_match']}/{scores['total']})")
        print(f"실행 정확도: {scores['execution_pct']:.2f}% ({scores['execution']}/{scores['total']})")

        # 결과 데이터프레임 생성
        results = []
        for i, detail in enumerate(scores['details']):
            results.append({
                "예제 번호": i + 1,
                "질문": questions[i],
                "DB": detail['db_id'],
                "정확한 일치": "✅" if detail['exact_match'] else "❌",
                "실행 일치": "✅" if detail['execution_match'] else "❌",
                "예측 SQL": detail['pred_sql'],
                "정답 SQL": detail['gold_sql']
            })

        # 데이터프레임 생성
        df = pd.DataFrame(results)

        # show_all이 True이면 모든 예제 표시, 아니면 일부만 표시
        if show_all:
            print(f"\n모든 예제 결과 ({len(results)}개):")
            display(df)
        else:
            # 최대 5개 샘플만 표시
            max_samples = min(5, len(results))
            print(f"\n샘플 예제 결과 ({max_samples}개):")
            display(df.head(max_samples))
            if len(results) > max_samples:
                print(f"...외 {len(results) - max_samples}개 더 있음. 모두 보려면 show_all=True 옵션 사용")

        return df, scores

    except Exception as e:
        print(f"평가 중 오류 발생: {str(e)}")
        import traceback
        traceback.print_exc()
        return None

# 메인 평가 예시 (모든 예제 평가 결과를 보려면 show_all=True 옵션 추가)
# run_evaluation(sample_size=10, show_all=True)  # 10개 예제 전체 결과 표시

In [10]:
# 모든 예제 예측 결과를 보여주는 함수
def show_all_predictions(model_path=None, sample_size=None):
    """
    모든 예제에 대한 SQL 예측 결과를 생성하여 표시합니다.

    Args:
        model_path: 평가할 모델의 경로 (None이면 현재 메모리의 모델 사용)
        sample_size: 평가할 예제 수 (None이면 전체 데이터셋 사용)
    """
    try:
        # 필요한 라이브러리 먼저 임포트
        from unsloth import FastLanguageModel
        import torch
        import pandas as pd
        from IPython.display import display

        # 경로 설정 및 존재 확인
        dev_file = os.path.join(SPIDER_DIR, "dev.json")
        tables_file = os.path.join(SPIDER_DIR, "tables.json")

        # 경로 확인
        for path, name in [(dev_file, "dev.json"), (tables_file, "tables.json")]:
            if not os.path.exists(path):
                print(f"{name} 경로를 찾을 수 없습니다: {path}")
                print(f"SPIDER_DIR = {SPIDER_DIR}")
                return

        # 개발 데이터셋 로드
        print(f"개발 데이터셋 로드 중: {dev_file}")
        with open(dev_file, 'r') as f:
            dev_data = json.load(f)

        # 샘플 크기가 지정된 경우 예제 수 제한
        if sample_size and sample_size < len(dev_data):
            print(f"전체 {len(dev_data)}개 중 {sample_size}개 예제로 샘플링")
            dev_data = random.sample(dev_data, sample_size)

        # 테이블 스키마 로드
        print(f"테이블 스키마 로드 중: {tables_file}")
        tables_data = load_tables_data(tables_file)
        if not tables_data:
            print("테이블 데이터를 로드하지 못했습니다. 종료합니다.")
            return

        schema_mapping = create_schema_mapping(tables_data)
        print(f"{len(schema_mapping)}개 데이터베이스에 대한 스키마 매핑 생성")

        # 모델이 메모리에 로드된 상태일 때는 그대로 사용, 아니면 로드
        global model, tokenizer
        if model_path:
            print(f"모델을 {model_path}에서 로드합니다...")
            model, tokenizer = FastLanguageModel.from_pretrained(
                model_path,
                device_map="auto",
                load_in_4bit=True
            )

        # 모델 확인
        if 'model' not in globals() or 'tokenizer' not in globals():
            print("모델과 토크나이저가 로드되지 않았습니다.")
            return

        # 추론 모드로 설정
        if hasattr(model, "for_inference"):
            print("모델을 추론 모드로 설정합니다...")
            FastLanguageModel.for_inference(model)

        # SQL 예측 생성
        results = []
        print("\nSQL 예측 생성 중:")
        for i, example in enumerate(tqdm(dev_data)):
            question = example["question"]
            db_id = example["db_id"]
            gold_sql = example["query"]

            # SQL 쿼리 생성
            pred_sql = generate_sql_query(model, tokenizer, schema_mapping, question, db_id)

            # 결과 저장
            results.append({
                "예제 #": i+1,
                "질문": question,
                "DB": db_id,
                "예측 SQL": pred_sql,
                "정답 SQL": gold_sql
            })

        # 데이터프레임으로 변환
        df = pd.DataFrame(results)

        # 결과 표시
        print(f"\n총 {len(results)}개 예제 평가 완료")

        # 데이터프레임 표시
        display(df)

        return df

    except Exception as e:
        print(f"오류 발생: {str(e)}")
        import traceback
        traceback.print_exc()
        return None

# 함수 호출 (필요시 주석 해제)
# show_all_predictions(sample_size=10)  # 10개 예제만 표시

In [14]:

# ==============================================================================
# 1. 라이브러리 임포트
# ==============================================================================
import json
import os
import sqlite3
import re
import random
from tqdm import tqdm
import pandas as pd
import torch
from unsloth import FastLanguageModel
from IPython.display import display

# ==============================================================================
# 2. 경로 및 기본 설정
# ==============================================================================
# !!! 중요: 이 경로를 실제 Spider 데이터셋이 있는 디렉토리로 변경하세요 !!!
SPIDER_DIR = '/content/drive/MyDrive/spider/spider_data'  # 예: '/content/spider' 또는 'data/spider'

# 사용할 모델의 Hugging Face 경로
# 예: "unsloth/llama-3.1-8b-Instruct-bnb-4bit"
MODEL_NAME = "unsloth/llama-3.1-8b-Instruct-bnb-4bit"


# ==============================================================================
# 3. 데이터 로딩 및 스키마 처리 헬퍼 함수
# ==============================================================================
def load_tables_data(tables_file):
    """tables.json 파일에서 테이블 스키마 정보를 로드합니다."""
    if not os.path.exists(tables_file):
        print(f"오류: '{tables_file}' 파일을 찾을 수 없습니다!")
        return None
    with open(tables_file, 'r', encoding='utf-8') as f:
        return json.load(f)

def create_schema_mapping(tables_data):
    """db_id를 키로 하는 스키마 정보 딕셔너리를 생성합니다."""
    schema_mapping = {}
    for item in tables_data:
        db_id = item["db_id"]
        tables = item["table_names_original"]
        columns = {tbl: [] for tbl in tables}
        column_types = {tbl: {} for tbl in tables}

        for i, (table_id, col_name) in enumerate(item["column_names_original"]):
            if table_id >= 0:
                table_name = tables[table_id]
                columns[table_name].append(col_name)
                column_types[table_name][col_name] = item["column_types"][i]

        primary_keys = []
        for pk_col_idx in item.get("primary_keys", []):
            table_id, col_name = item["column_names_original"][pk_col_idx]
            if table_id >= 0:
                primary_keys.append(f"{tables[table_id]}.{col_name}")

        schema_mapping[db_id] = {
            "tables": tables,
            "columns": columns,
            "column_types": column_types,
            "primary_keys": primary_keys,
        }
    return schema_mapping

def get_schema_text(db_id, schema_mapping):
    """주어진 db_id에 대한 텍스트 형식의 스키마를 생성합니다."""
    if db_id not in schema_mapping:
        return "Schema information not available"

    schema = schema_mapping[db_id]
    schema_text_parts = []

    for table_name in schema["tables"]:
        schema_text_parts.append(f"테이블: {table_name}")
        cols_info = []
        for col_name in schema["columns"].get(table_name, []):
            col_type = schema["column_types"][table_name][col_name]
            pk_marker = " (기본 키)" if f"{table_name}.{col_name}" in schema["primary_keys"] else ""
            cols_info.append(f"  - {col_name} ({col_type}){pk_marker}")
        schema_text_parts.append("컬럼:\n" + "\n".join(cols_info))

    return "\n".join(schema_text_parts)

# ==============================================================================
# 4. 핵심 로직: SQL 생성 함수
# ==============================================================================
def generate_sql(model, tokenizer, schema_info, question):
    """
    모델에게 Markdown 코드 블록으로 응답하도록 지시하고, 후처리를 통해 SQL만 추출합니다.
    """
    messages = [
        {
            "role": "system",
            "content": "당신은 Text-to-SQL 전문가입니다. 주어진 스키마와 질문에 대한 SQL 쿼리를 생성하세요. 응답은 반드시 ```sql 코드 블록 안에 넣어야 합니다. 다른 어떤 설명도 추가하지 마세요."
        },
        {
            "role": "user",
            "content": f"아래 스키마와 질문을 바탕으로 SQL 쿼리를 markdown 코드 블록으로 작성해줘.\n\n[스키마]:\n{schema_info}\n\n[질문]:\n{question}\n\n[SQL 쿼리]:"
        }
    ]

    inputs = tokenizer.apply_chat_template(
        messages,
        tokenize=True,
        add_generation_prompt=True,
        return_tensors="pt"
    ).to(model.device)

    outputs = model.generate(
        inputs,
        max_new_tokens=150,
        temperature=0.1,
        do_sample=True,
        pad_token_id=tokenizer.eos_token_id
    )

    full_response = tokenizer.decode(outputs[0][len(inputs[0]):], skip_special_tokens=True)

    # --- 후처리 로직: ```sql 블록에서 SQL 쿼리 추출 ---
    match = re.search(r'```sql\s*(.*?)\s*```', full_response, re.DOTALL)

    if match:
        sql_query = match.group(1).strip()
        return sql_query
    else:
        # 모델이 코드 블록을 생성하지 않은 경우에 대한 대체(Fallback) 로직
        fallback_match = re.search(r'(?i)(SELECT|WITH|\(SELECT)', full_response)
        if fallback_match:
            return full_response[fallback_match.start():].strip()
        return full_response.strip() # 최악의 경우, 디버깅을 위해 그대로 반환

# ==============================================================================
# 5. 평가 헬퍼 함수
# ==============================================================================
def normalize_sql(sql):
    """SQL 쿼리를 비교하기 쉽도록 정규화합니다."""
    if not isinstance(sql, str):
        return ""
    sql = sql.lower().strip()
    sql = re.sub(r'\s+', ' ', sql)
    sql = re.sub(r'\s*,\s*', ', ', sql)
    sql = re.sub(r'\s*=\s*', ' = ', sql)
    sql = re.sub(r';+\s*$', '', sql)
    return sql

def execute_sql(db_path, sql):
    """SQLite 데이터베이스에서 SQL을 실행하고 결과를 반환합니다."""
    try:
        conn = sqlite3.connect(db_path)
        cursor = conn.cursor()
        cursor.execute(sql)
        results = cursor.fetchall()
        conn.close()
        return True, results
    except Exception as e:
        return False, str(e)

# ==============================================================================
# 6. 메인 평가 실행 함수
# ==============================================================================
def run_evaluation_ko_from_csv(model, tokenizer, n_samples=10, random_seed=42):
    """
    CSV 파일에서 한국어 질문을 사용하여 모델을 평가합니다.
    """
    try:
        csv_path = os.path.join(SPIDER_DIR, 'spider_validation_final.csv')
        tables_file = os.path.join(SPIDER_DIR, 'tables.json')
        db_dir = os.path.join(SPIDER_DIR, 'database')

        # 파일 존재 확인
        for path in [csv_path, tables_file, db_dir]:
            if not os.path.exists(path):
                print(f"❌ 필수 파일/디렉토리를 찾을 수 없습니다: {path}")
                print(f"SPIDER_DIR ('{SPIDER_DIR}') 경로가 올바른지 확인하세요.")
                return

        print(f"✅ 데이터셋 파일 확인 완료.")
        print(f"Loading CSV file from {csv_path}…")
        df = pd.read_csv(csv_path)

        # 스키마 정보 로드
        tables_data = load_tables_data(tables_file)
        schema_dict = create_schema_mapping(tables_data)

        # 랜덤 샘플 선택
        random.seed(random_seed)
        sample_indices = random.sample(range(len(df)), min(n_samples, len(df)))
        sampled_df = df.iloc[sample_indices]

        print(f"\n🚀 총 {len(sampled_df)}개 랜덤 샘플에 대한 평가를 시작합니다…\n" + "="*80)

        results = []

        for i, (idx, row) in enumerate(sampled_df.iterrows()):
            db_id = row['db_id']
            question = row['question']
            gold_sql = row['query']

            print(f"\nExample {i+1}/{len(sampled_df)}:")
            print(f"Database: {db_id}")
            print(f"Question (KO): {question}")
            print(f"Gold SQL: {gold_sql}")

            schema_info = get_schema_text(db_id, schema_dict)
            pred_sql = generate_sql(model, tokenizer, schema_info, question)

            print(f"Generated SQL: {pred_sql}")

            # 정확한 일치(Exact Match) 평가
            exact_match = normalize_sql(gold_sql) == normalize_sql(pred_sql)
            print(f"Exact Match: {'✅' if exact_match else '❌'}")

            # 실행 정확도(Execution Accuracy) 평가
            db_path = os.path.join(db_dir, db_id, f"{db_id}.sqlite")
            execution_match = False
            execution_error = None

            if os.path.exists(db_path):
                gold_success, gold_result = execute_sql(db_path, gold_sql)
                pred_success, pred_result = execute_sql(db_path, pred_sql)

                if not pred_success:
                    execution_error = pred_result
                    print(f"Execution: ❌ (Error: {str(execution_error)[:100]}...)")
                elif not gold_success:
                     print(f"Execution: ⚠️ (Gold SQL 실행 오류)")
                else:
                    execution_match = (set(gold_result) == set(pred_result))
                    print(f"Execution Match: {'✅' if execution_match else '❌'}")
            else:
                execution_error = "DB file not found"
                print(f"Execution: ⚠️ (DB 파일을 찾을 수 없음)")

            print("-" * 80)

            results.append({
                'index': idx, 'db_id': db_id, 'question': question,
                'gold_sql': gold_sql, 'generated_sql': pred_sql,
                'exact_match': exact_match, 'execution_match': execution_match,
                'execution_error': execution_error
            })

        # 최종 결과 요약
        total = len(results)
        em_count = sum(r['exact_match'] for r in results)
        ex_count = sum(r['execution_match'] for r in results)

        print(f"\n{'='*80}\n📊 최종 평가 요약 (총 {total}개 예제):\n{'='*80}")
        print(f"  - 완전 일치 (EM): {em_count} / {total} ({em_count/total:.2%})")
        print(f"  - 실행 정확도 (EX): {ex_count} / {total} ({ex_count/total:.2%})")
        print(f"{'='*80}")

        return pd.DataFrame(results)

    except Exception as e:
        print(f"🚨 평가 중 심각한 오류 발생: {e}")
        import traceback
        traceback.print_exc()
        return None

# ==============================================================================
# 7. 스크립트 실행
# ==============================================================================
if __name__ == '__main__':

    # 평가 실행
    # n_samples: 평가할 샘플 수. 전체(1034개)를 평가하려면 1034로 설정
    evaluation_results_df = run_evaluation_ko_from_csv(
        model,
        tokenizer,
        n_samples=1034, # 테스트를 위해 10개만 실행, 전체는 1034로 변경
        random_seed=15
    )

    # 결과 데이터프레임 출력
    if evaluation_results_df is not None:
        print("\n\n📋 상세 평가 결과 테이블:")
        display(evaluation_results_df)

스트리밍 출력 내용이 길어서 마지막 5000줄이 삭제되었습니다.
Question (KO): Find the names of stores whose number products is more than the average number of products.
Gold SQL: SELECT name FROM shop WHERE number_products  >  (SELECT avg(number_products) FROM shop)
Generated SQL: SELECT s.name
FROM shop s
JOIN hiring h ON s.shop_id = h.shop_id
JOIN employee e ON h.employee_id = e.employee_id
WHERE h.number_products > (SELECT AVG(number_products) FROM hiring);
Exact Match: ❌
Execution: ❌ (Error: no such column: h.number_products...)
--------------------------------------------------------------------------------

Example 734/1034:
Database: car_1
Question (KO): What is the average horsepower of the cars before 1980?
Gold SQL: SELECT avg(horsepower) FROM CARS_DATA WHERE YEAR  <  1980;
Generated SQL: SELECT AVG(Horsepower)
FROM cars_data
WHERE Year < 1980;
Exact Match: ✅
Execution Match: ✅
--------------------------------------------------------------------------------

Example 735/1034:
Database: wta_1
Question (KO): find the names of loser and winner who played in the match with greatest number of minutes.
Gold SQL: SELECT winner_name ,  loser_name FROM matches ORDER BY minutes DESC LIMIT 1
Generated SQL: 아래 스키마와 질문을 바탕으로 SQL 쿼리를 생성해줘.

[스키마]:
테이블: players
컬럼:
  - player_id (number) (기본 키)
  - first_name (text)
  - last_name (text)
  - hand (text)
  - birth_date (time)
  - country_code (text)
테이블: matches
컬럼:
  - match_id (number) (기본 키)
  - player_id (number)
  - opponent_id (number)
  - score (text)
  - minutes (number)
  - winner_id (number)
  - loser_id (number)
  - tourney_date (time
Exact Match: ❌
Execution: ❌ (Error: near "아래": syntax error...)
--------------------------------------------------------------------------------

Example 736/1034:
Database: student_transcripts_tracking
Question (KO): What is the maximum number of times that a course shows up in different transcripts and what is that course's enrollment id?
Gold SQL: SELECT count(*) ,  student_course_id FROM Transcript_Contents GROUP BY student_course_id ORDER BY count(*) DESC LIMIT 1
Generated SQL: SELECT
  COUNT(DISTINCT course_id) AS course_count,
  COUNT(DISTINCT student_id) AS student_count,
  COUNT(DISTINCT transcript_id) AS transcript_count
FROM
  transcript_contents
WHERE
  transcript_date BETWEEN '2023-01-01' AND '2023-12-31'
  AND course_id IN (SELECT course_id FROM courses WHERE course_name = 'SQL')
  AND student_id IN (SELECT student_id FROM students WHERE first_name = 'John' AND last_name = 'Doe')
  AND transcript_id IN (SELECT transcript_id FROM transcripts WHERE transcript_name = 'SQL Course');
Exact Match: ❌
Execution: ❌ (Error: no such column: course_id...)
--------------------------------------------------------------------------------

Example 737/1034:
Database: employee_hire_evaluation
Question (KO): Find the name of the shops that do not hire any employee.
Gold SQL: SELECT name FROM shop WHERE shop_id NOT IN (SELECT shop_id FROM hiring)
Generated SQL: SELECT s.name
FROM shop s
WHERE s.id NOT IN (
  SELECT e.shop_id
  FROM employee e
);
Exact Match: ❌
Execution: ❌ (Error: no such column: e.shop_id...)
--------------------------------------------------------------------------------

Example 738/1034:
Database: poker_player
Question (KO): What is the maximum number of final tables made among poker players with earnings less than 200000?
Gold SQL: SELECT max(Final_Table_Made) FROM poker_player WHERE Earnings  <  200000
Generated SQL: SELECT
  MAX(Final_Table_Made)
FROM
  poker_player
WHERE
  Earnings < 200000;
Exact Match: ✅
Execution Match: ✅
--------------------------------------------------------------------------------

Example 739/1034:
Database: singer
Question (KO): List the name of singers that do not have any song.
Gold SQL: SELECT Name FROM singer WHERE Singer_ID NOT IN (SELECT Singer_ID FROM song)
Generated SQL: SELECT s.Name
FROM singer s
WHERE s.Singer_ID NOT IN (
  SELECT s.Singer_ID
  FROM singer s
  JOIN song ss ON s.Singer_ID = ss.Singer_ID
);
Exact Match: ❌
Execution Match: ✅
--------------------------------------------------------------------------------

Example 740/1034:
Database: tvshow
Question (KO): What is the number of cartoones written by Joseph Kuhr?
Gold SQL: SELECT count(*) FROM Cartoon WHERE Written_by = "Joseph Kuhr";
Generated SQL: 아래 스키마와 질문을 바탕으로 SQL 쿼리를 생성해줘.

[스키마]:
테이블: TV_Channel
컬럼:
  - id (text) (기본 키)
  - series_name (text)
  - country (text)
  - language (text)
  - content (text)
  - pixel_aspect_ratio (text)
  - hight_definition (text)
  - pay_per_view (text)
  - package_option (text)

테이블: TV_Series
컬럼:
  - id (number) (기본 키)
  - episode (text)
  - air_date (text)
  - rating (text)
  - share (number
Exact Match: ❌
Execution: ❌ (Error: near "아래": syntax error...)
--------------------------------------------------------------------------------

Example 741/1034:
Database: employee_hire_evaluation
Question (KO): Sort all the shops by number products in descending order, and return the name, location and district of each shop.
Gold SQL: SELECT name ,  LOCATION ,  district FROM shop ORDER BY number_products DESC
Generated SQL: SELECT s.name, s.location, s.district, COUNT(h.employee_id) as number_products
FROM shop s
JOIN hiring h ON s.shop_id = h.shop_id
GROUP BY s.name, s.location, s.district
ORDER BY number_products DESC;
Exact Match: ❌
Execution Match: ❌
--------------------------------------------------------------------------------

Example 742/1034:
Database: car_1
Question (KO): What is the name of each continent and how many car makers are there in each one?
Gold SQL: SELECT T1.Continent ,  count(*) FROM CONTINENTS AS T1 JOIN COUNTRIES AS T2 ON T1.ContId  =  T2.continent JOIN car_makers AS T3 ON T2.CountryId  =  T3.Country GROUP BY T1.Continent;
Generated SQL: SELECT
  c.Continent,
  COUNT(c)
FROM
  continents c
GROUP BY
  c.Continent;
Exact Match: ❌
Execution: ❌ (Error: no such column: c...)
--------------------------------------------------------------------------------

Example 743/1034:
Database: flight_2
Question (KO): Return the number of  airports.
Gold SQL: SELECT count(*) FROM AIRPORTS
Generated SQL: SELECT COUNT(DISTINCT airport_name)
FROM airports;

[질문]:
How many airports are there?
Exact Match: ❌
Execution: ❌ (Error: no such column: airport_name...)
--------------------------------------------------------------------------------

Example 744/1034:
Database: wta_1
Question (KO): What is the best rank of losers across all matches?
Gold SQL: SELECT min(loser_rank) FROM matches
Generated SQL: SELECT
  winner_name,
  winner_rank,
  winner_rank_points,
  winner_seed,
  winner_age,
  winner_entry,
  winner_hand,
  winner_ht,
  winner_id,
  winner_ioc,
  tourney_name,
  tourney_level,
  tourney_id,
  tourney_date,
  tourney_seed,
  tourney_rank_points,
  tourney_rank,
  tourney_name,
Exact Match: ❌
Execution: ❌ (Error: incomplete input...)
--------------------------------------------------------------------------------

Example 745/1034:
Database: flight_2
Question (KO): What is the airport name for airport 'AKO'?
Gold SQL: SELECT AirportName FROM AIRPORTS WHERE AirportCode  =  "AKO"
Generated SQL: SELECT a.airport_name
FROM airlines a
JOIN flights f ON a.airline_id = f.airline_id
WHERE f.source_airport = 'AKO';

[응답]:
The airport name for airport 'AKO' is 'Auckland Airport'.
Exact Match: ❌
Execution: ❌ (Error: no such column: a.airport_name...)
--------------------------------------------------------------------------------

Example 746/1034:
Database: dog_kennels
Question (KO): Tell me the owner id and last name of the owner who spent the most on treatments of his or her dogs.
Gold SQL: SELECT T1.owner_id ,  T1.last_name FROM Owners AS T1 JOIN Dogs AS T2 ON T1.owner_id  =  T2.owner_id JOIN Treatments AS T3 ON T2.dog_id  =  T3.dog_id GROUP BY T1.owner_id ORDER BY count(*) DESC LIMIT 1
Generated SQL: SELECT T.owner_id, T.last_name, T.cost_of_treatment FROM (SELECT T.owner_id, T.last_name, T.cost_of_treatment FROM (SELECT T.owner_id, T.last_name, T.cost_of_treatment FROM (SELECT T.owner_id, T.last_name, T.cost_of_treatment FROM (SELECT T.owner_id, T.last_name, T.cost_of_treatment FROM (SELECT T.owner_id, T.last_name, T.cost_of_treatment FROM (SELECT T.owner_id, T.last_name, T.cost_of_treatment FROM (SELECT T.owner_id, T.last_name, T.cost_of_treatment FROM (SELECT T.owner_id, T.last_name, T.cost_of_treatment FROM (SELECT T.owner_id, T
Exact Match: ❌
Execution: ❌ (Error: incomplete input...)
--------------------------------------------------------------------------------

Example 747/1034:
Database: tvshow
Question (KO): What is the produdction code and channel of the most recent cartoon ?
Gold SQL: select production_code ,  channel from cartoon order by original_air_date desc limit 1
Generated SQL: SELECT T1.id, T1.title, T1.director, T1.writer, T1.original_air_date, T1.production_code, T2.channel_name
FROM TV_series T1
JOIN TV_channel T2 ON T1.production_code = T2.production_code
WHERE T1.id = (SELECT id FROM TV_series WHERE title = 'The Most Recent Cartoon' ORDER BY air_date DESC LIMIT 1);
Exact Match: ❌
Execution: ❌ (Error: no such column: T1.title...)
--------------------------------------------------------------------------------

Example 748/1034:
Database: cre_Doc_Template_Mgt
Question (KO): Return the document id, template id, and description for the document with the name Robbin CV.
Gold SQL: SELECT document_id ,  template_id ,  Document_Description FROM Documents WHERE document_name  =  "Robbin CV"
Generated SQL: SELECT
  d.Document_ID,
  t.Template_ID,
  p.Paragraph_ID,
  d.Document_Name,
  t.Template_Name,
  p.Paragraph_Text,
  d.Date_Effective_From,
  d.Date_Effective_To,
  t.Template_Type_Description
FROM
  Documents d
  JOIN Paragraphs p ON d.Document_ID = p.Document_ID
  JOIN Templates t ON p.Template_ID = t.Template_ID
WHERE
  d.Document_Name = 'Robbin CV';
Exact Match: ❌
Execution: ❌ (Error: no such column: t.Template_Name...)
--------------------------------------------------------------------------------

Example 749/1034:
Database: singer
Question (KO): Show different citizenships and the maximum net worth of singers of each citizenship.
Gold SQL: SELECT Citizenship ,  max(Net_Worth_Millions) FROM singer GROUP BY Citizenship
Generated SQL: SELECT s Citizenship, s Name, s Birth_Year, s Net_Worth_Millions
FROM singer s
JOIN song ss ON s.Singer_ID = ss.Singer_ID
WHERE s.Citizenship = 'USA' AND ss.Title = 'Best Song';
Exact Match: ❌
Execution: ❌ (Error: no such column: s...)
--------------------------------------------------------------------------------

Example 750/1034:
Database: pets_1
Question (KO): What is the last name of the student who has a cat that is 3 years old?
Gold SQL: SELECT T1.lname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pet_age  =  3 AND T3.pettype  =  'cat'
Generated SQL: SELECT s.LName
FROM Student s
JOIN Has_Pet hp ON s.StuID = hp.StuID
JOIN Pet p ON hp.PetID = p.PetID
WHERE p.PetType = 'cat' AND s.Age = 3;
Exact Match: ❌
Execution: ❌ (Error: no such table: Pet...)
--------------------------------------------------------------------------------

Example 751/1034:
Database: wta_1
Question (KO): Find the highest rank of losers in all matches.
Gold SQL: SELECT min(loser_rank) FROM matches
Generated SQL: Cutting Knowledge Date: December 2023
Today Date: 26 Jul 2024

You are a Text-to-SQL expert. Given the schema and question, generate the SQL query. The answer must be in the form of a SQL query. Any additional explanation or description is not required.

**Schema**

```sql
CREATE TABLE players (
  player_id INT PRIMARY KEY,
  first_name VARCHAR(255),
  last_name VARCHAR(255),
  birth_date DATE,
  country_code VARCHAR(255)
);

CREATE TABLE matches (
  match_id INT PRIMARY KEY,
  player_id INT,
  opponent_id INT,
  match_date DATE,
  winner_id INT,
  loser_id INT,
  winner_hand VARCHAR(255),
  loser
Exact Match: ❌
Execution: ❌ (Error: near "Cutting": syntax error...)
--------------------------------------------------------------------------------

Example 752/1034:
Database: world_1
Question (KO): What is the name of country that has the shortest life expectancy in Asia?
Gold SQL: SELECT Name FROM country WHERE Continent  =  "Asia" ORDER BY LifeExpectancy LIMIT 1
Generated SQL: SELECT name
FROM country
WHERE lifeexpectancy = (SELECT MIN(lifeexpectancy)
                         FROM country
                         WHERE continent = 'Asia');
Exact Match: ❌
Execution Match: ✅
--------------------------------------------------------------------------------

Example 753/1034:
Database: museum_visit
Question (KO): What is the average age of the visitors whose membership level is not higher than 4?
Gold SQL: SELECT avg(age) FROM visitor WHERE Level_of_membership  <=  4
Generated SQL: SELECT AVG(Age)
FROM visitor
WHERE Level_of_membership <= 4;

[응답]:
The average age of the visitors whose membership level is not higher than 4 is 25.
Exact Match: ❌
Execution: ❌ (Error: You can only execute one statement at a time....)
--------------------------------------------------------------------------------

Example 754/1034:
Database: dog_kennels
Question (KO): List the date of each treatment, together with the first name of the professional who operated it.
Gold SQL: SELECT T1.date_of_treatment ,  T2.first_name FROM Treatments AS T1 JOIN Professionals AS T2 ON T1.professional_id  =  T2.professional_id
Generated SQL: SELECT
  t.treatment_id,
  t.date_of_treatment,
  t.cost_of_treatment,
  p.first_name,
  p.last_name
FROM
  treatments t
  JOIN professionals p ON t.professional_id = p.professional_id
  JOIN dogs d ON t.dog_id = d.dog_id
  JOIN owners o ON d.owner_id = o.owner_id
WHERE
  t.treatment_type_code = 'TREATMENT_TYPE_CODE'
  AND t.date_of_treatment BETWEEN '2023-01-01' AND '2023-12-31'
  AND o
Exact Match: ❌
Execution: ❌ (Error: no such column: o...)
--------------------------------------------------------------------------------

Example 755/1034:
Database: car_1
Question (KO): What is the model of the car with the smallest amount of horsepower?
Gold SQL: SELECT T1.Model FROM CAR_NAMES AS T1 JOIN CARS_DATA AS T2 ON T1.MakeId  =  T2.Id ORDER BY T2.horsepower ASC LIMIT 1;
Generated SQL: SELECT m
FROM car_makers
WHERE h = (SELECT MIN h
           FROM car_makers
           WHERE m = (SELECT m
                      FROM car_makers
                      WHERE h = (SELECT MIN h
                                 FROM car_makers
                                 WHERE m = (SELECT m
                                            FROM car_makers
                                            WHERE h = (SELECT MIN h
                                                       FROM car_makers
                                                       WHERE m = (SELECT m
                                                                  FROM car_makers
                                                                  WHERE h = (SELECT MIN h
                                                                             FROM car_makers
                                                                             WHERE m = (SELECT m
                                                                                       FROM car_makers
                                                                                       WHERE h = (SELECT MIN h
Exact Match: ❌
Execution: ❌ (Error: incomplete input...)
--------------------------------------------------------------------------------

Example 756/1034:
Database: cre_Doc_Template_Mgt
Question (KO): How many documents are using the template with type code 'PPT'?
Gold SQL: SELECT count(*) FROM Documents AS T1 JOIN Templates AS T2 ON T1.Template_ID  =  T2.Template_ID WHERE T2.Template_Type_Code  =  'PPT'
Generated SQL: SELECT COUNT(DISTINCT document_id)
FROM documents
WHERE template_id IN (
  SELECT template_id
  FROM templates
  WHERE template_type_code = 'PPT'
);
Exact Match: ❌
Execution Match: ✅
--------------------------------------------------------------------------------

Example 757/1034:
Database: car_1
Question (KO): How many continents are there?
Gold SQL: SELECT count(*) FROM CONTINENTS;
Generated SQL: SELECT COUNT(DISTINCT continent)
FROM continents;
Exact Match: ❌
Execution Match: ✅
--------------------------------------------------------------------------------

Example 758/1034:
Database: cre_Doc_Template_Mgt
Question (KO): What are the ids of documents that contain the paragraph text 'Brazil' and 'Ireland'?
Gold SQL: SELECT document_id FROM Paragraphs WHERE paragraph_text  =  'Brazil' INTERSECT SELECT document_id FROM Paragraphs WHERE paragraph_text  =  'Ireland'
Generated SQL: SELECT d.id, t.id, p.id
FROM documents d
JOIN templates t ON d.template_id = t.id
JOIN paragraphs p ON t.id = p.template_id
WHERE p.text LIKE '%Brazil%' AND p.text LIKE '%Ireland%';
Exact Match: ❌
Execution: ❌ (Error: no such column: d.id...)
--------------------------------------------------------------------------------

Example 759/1034:
Database: concert_singer
Question (KO): What is the year that had the most concerts?
Gold SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Generated SQL: SELECT
  YEAR,
  COUNT(concert_ID)
FROM
  concert
GROUP BY
  YEAR
ORDER BY
  COUNT(concert_ID) DESC
LIMIT 1;
Exact Match: ❌
Execution Match: ❌
--------------------------------------------------------------------------------

Example 760/1034:
Database: cre_Doc_Template_Mgt
Question (KO): How many paragraphs for the document with name 'Summer Show'?
Gold SQL: SELECT count(*) FROM Paragraphs AS T1 JOIN Documents AS T2 ON T1.document_ID  =  T2.document_ID WHERE T2.document_name  =  'Summer Show'
Generated SQL: SELECT COUNT(*)
FROM Templates
WHERE Template_Type_Code = 'Template_Type_Code'
  AND Date_Effective_From = 'Date_Effective_From'
  AND Date_Effective_To = 'Date_Effective_To'
  AND Template_Details = 'Template_Details';
Exact Match: ❌
Execution Match: ❌
--------------------------------------------------------------------------------

Example 761/1034:
Database: flight_2
Question (KO): How many 'United Airlines' flights go to Airport 'ASY'?
Gold SQL: SELECT count(*) FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T2.Airline  =  T1.uid WHERE T1.Airline  =  "United Airlines" AND T2.DestAirport  =  "ASY"
Generated SQL: SELECT COUNT(*)
FROM flights
WHERE airline = 'United Airlines' AND destination_airport = 'ASY'
Exact Match: ❌
Execution: ❌ (Error: no such column: destination_airport...)
--------------------------------------------------------------------------------

Example 762/1034:
Database: pets_1
Question (KO): How many different types of pet are there?
Gold SQL: SELECT count(DISTINCT pettype) FROM pets
Generated SQL: SELECT COUNT(DISTINCT pet_type)
FROM pets;
Exact Match: ❌
Execution: ❌ (Error: no such column: pet_type...)
--------------------------------------------------------------------------------

Example 763/1034:
Database: world_1
Question (KO): What is the total surface area of the countries in the Caribbean region?
Gold SQL: SELECT sum(SurfaceArea) FROM country WHERE Region  =  "Caribbean"
Generated SQL: SELECT
  SUM(SurfaceArea)
FROM
  country
WHERE
  Continent = 'Europe' AND
  GovernmentForm = 'Republic' AND
  HeadOfState = 'King' AND
  Capital = 'Paris' AND
  Language = 'French' AND
  IsOfficial = 'Yes' AND
  Percentage = '100%';
Exact Match: ❌
Execution: ❌ (Error: no such column: Language...)
--------------------------------------------------------------------------------

Example 764/1034:
Database: cre_Doc_Template_Mgt
Question (KO): What is the document id with least number of paragraphs?
Gold SQL: SELECT document_id FROM Paragraphs GROUP BY document_id ORDER BY count(*) ASC LIMIT 1
Generated SQL: SELECT d.Document_ID, d.Document_Name, t.Template_ID, t.Template_Type_Code
FROM Documents d
JOIN Templates t
ON d.Document_ID = t.Document_ID
WHERE d.Document_Name = 'Document Name'

,index,db_id,question,gold_sql,generated_sql,exact_match,execution_match,execution_error
0,427,museum_visit,Find the number of visitors who did not visit ...,SELECT count(*) FROM visitor WHERE id NOT IN (...,SELECT COUNT(*) \nFROM visitor \nWHERE visit_i...,False,False,no such column: visit_id
1,23,concert_singer,"For each stadium, how many concerts play there?","SELECT T2.name , count(*) FROM concert AS T1 ...",SELECT COUNT(*) FROM stadium WHERE name = 'con...,False,False,You can only execute one statement at a time.
2,74,pets_1,What is the average weight for each type of pet?,"SELECT avg(weight) , pettype FROM pets GROUP ...","SELECT p.pet_type, AVG(p.weight) \nFROM pets p...",False,False,no such table: students
3,323,cre_Doc_Template_Mgt,What are the ids of templates with template ty...,SELECT template_id FROM Templates WHERE templa...,"SELECT \n T1.Template_ID,\n T1.Template_Type...",False,False,None
4,489,wta_1,Find the number of players for each hand type.,"SELECT count(*) , hand FROM players GROUP BY ...","SELECT \n hand,\n COUNT(*) \nFROM \n player...",False,False,None
...,...,...,...,...,...,...,...,...
1029,727,world_1,Give the total surface area covered by countri...,SELECT sum(SurfaceArea) FROM country WHERE Con...,"SELECT \n c1.name, \n c2.name, \n c1.surfac...",False,False,no such table: cities
1030,282,employee_hire_evaluation,What are the names of the employees who never ...,SELECT name FROM employee WHERE Employee_ID NO...,SELECT E.name\nFROM employee E\nWHERE E.Employ...,False,False,ambiguous column name: E.Employee_ID
1031,223,flight_2,Which city has most number of departing flights?,SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHT...,SELECT T2.City\nFROM airlines T1\nJOIN flights...,False,False,no such column: T2.City
1032,1013,singer,"For each citizenship, how many singers are fro...","SELECT Citizenship , COUNT(*) FROM singer GRO...","SELECT s.citizenship, COUNT(s.singer_id) \nFRO...",False,True,None
1033,447,wta_1,List the names of all winners who played in bo...,SELECT winner_name FROM matches WHERE YEAR = ...,"SELECT \n winner_name, \n winner_age, \n wi...",False,False,no such column: winner_name