# Spider ë°ì´í„°ì…‹(original english question)ì— ëŒ€í•œ Llama 3.1 ì›ë³¸ ëª¨ë¸ ì„±ëŠ¥ í…ŒìŠ¤íŠ¸

In [1]:
# Google Drive ì—°ê²°
from google.colab import drive
drive.mount('/content/drive')

# ê²½ë¡œ ì„¤ì • (Spider ë°ì´í„°ì…‹ì´ ì €ì¥ëœ ê²½ë¡œë¡œ ìˆ˜ì •í•˜ì„¸ìš”)
SPIDER_DIR = '/content/drive/MyDrive/spider/spider_data'  # í•„ìš”ì— ë”°ë¼ ìˆ˜ì •
DATASET_PATH = '/content/drive/MyDrive/spider/spider_data/spider_train_translations_final.csv'  # í•„ìš”ì— ë”°ë¼ ìˆ˜ì •

Mounted at /content/drive

In [2]:

!pip uninstall unsloth triton -y
#!pip install triton vllm unsloth tqdm pandas bitsandbytes
!pip install "unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git"
!pip install --no-deps "xformers<0.0.27" "trl<0.9.0" peft accelerate bitsandbytes

WARNING: Skipping unsloth as it is not installed.
Found existing installation: triton 3.2.0
Uninstalling triton-3.2.0:
  Successfully uninstalled triton-3.2.0
Collecting unsloth@ git+https://github.com/unslothai/unsloth.git (from unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Cloning https://github.com/unslothai/unsloth.git to /tmp/pip-install-n2uayr3s/unsloth_a6734e5724a54b198f4c7abb5530e3b7
  Running command git clone --filter=blob:none --quiet https://github.com/unslothai/unsloth.git /tmp/pip-install-n2uayr3s/unsloth_a6734e5724a54b198f4c7abb5530e3b7
  Resolved https://github.com/unslothai/unsloth.git to commit c1b73fa8836aa7e8b9ee13d748369f8f61e1fac5
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting unsloth_zoo>=2025.5.11 (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading unsloth_zoo-2025.6.1-py3-none-any.whl.metadata (8.1 kB)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (24.2)
Collecting tyro (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading tyro-0.9.24-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: transformers!=4.47.0,!=4.52.0,!=4.52.1,!=4.52.2,>=4.51.3 in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (4.52.4)
Collecting datasets>=3.4.1 (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading datasets-3.6.0-py3-none-any.whl.metadata (19 kB)
Requirement already satisfied: sentencepiece>=0.2.0 in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.2.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (4.67.1)
Requirement already satisfied: psutil in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (5.9.5)
Requirement already satisfied: wheel>=0.42.0 in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.45.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.0.2)
Collecting protobuf<4.0.0 (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading protobuf-3.20.3-py2.py3-none-any.whl.metadata (720 bytes)
Requirement already satisfied: huggingface_hub in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.32.4)
Requirement already satisfied: hf_transfer in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.1.9)
Collecting bitsandbytes>=0.45.5 (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading bitsandbytes-0.46.0-py3-none-manylinux_2_24_x86_64.whl.metadata (10 kB)
Requirement already satisfied: torch<3,>=2.2 in /usr/local/lib/python3.11/dist-packages (from bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.6.0+cu124)
Requirement already satisfied: filelock in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.18.0)
Requirement already satisfied: pyarrow>=15.0.0 in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (18.1.0)
Requirement already satisfied: dill<0.3.9,>=0.3.0 in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.3.7)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.2.2)
Requirement already satisfied: requests>=2.32.2 in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.32.3)
Requirement already satisfied: xxhash in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.5.0)
Requirement already satisfied: multiprocess<0.70.17 in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.70.15)
Collecting fsspec<=2025.3.0,>=2023.1.0 (from fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading fsspec-2025.3.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (6.0.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.11/dist-packages (from huggingface_hub->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (4.14.0)
Requirement already satisfied: hf-xet<2.0.0,>=1.1.2 in /usr/local/lib/python3.11/dist-packages (from huggingface_hub->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (1.1.2)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.11/dist-packages (from transformers!=4.47.0,!=4.52.0,!=4.52.1,!=4.52.2,>=4.51.3->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2024.11.6)
Requirement already satisfied: tokenizers<0.22,>=0.21 in /usr/local/lib/python3.11/dist-packages (from transformers!=4.47.0,!=4.52.0,!=4.52.1,!=4.52.2,>=4.51.3->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.21.1)
Requirement already satisfied: safetensors>=0.4.3 in /usr/local/lib/python3.11/dist-packages (from transformers!=4.47.0,!=4.52.0,!=4.52.1,!=4.52.2,>=4.51.3->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.5.3)
Collecting triton>=3.0.0 (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading triton-3.3.1-cp311-cp311-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (1.5 kB)
Requirement already satisfied: accelerate>=0.34.1 in /usr/local/lib/python3.11/dist-packages (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (1.7.0)
Collecting trl!=0.15.0,!=0.9.0,!=0.9.1,!=0.9.2,!=0.9.3,>=0.7.9 (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading trl-0.18.1-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: peft!=0.11.0,>=0.7.1 in /usr/local/lib/python3.11/dist-packages (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.15.2)
Collecting cut_cross_entropy (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading cut_cross_entropy-25.1.1-py3-none-any.whl.metadata (9.3 kB)
Requirement already satisfied: pillow in /usr/local/lib/python3.11/dist-packages (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (11.2.1)
Collecting msgspec (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading msgspec-0.19.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.9 kB)
Requirement already satisfied: docstring-parser>=0.15 in /usr/local/lib/python3.11/dist-packages (from tyro->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.16)
Requirement already satisfied: rich>=11.1.0 in /usr/local/lib/python3.11/dist-packages (from tyro->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (13.9.4)
Collecting shtab>=1.5.6 (from tyro->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading shtab-1.7.2-py3-none-any.whl.metadata (7.4 kB)
Requirement already satisfied: typeguard>=4.0.0 in /usr/local/lib/python3.11/dist-packages (from tyro->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (4.4.2)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /usr/local/lib/python3.11/dist-packages (from fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.11.15)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2025.4.26)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.11/dist-packages (from rich>=11.1.0->tyro->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.11/dist-packages (from rich>=11.1.0->tyro->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.19.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.11/dist-packages (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.5)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.11/dist-packages (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.1.6)
Collecting nvidia-cuda-nvrtc-cu12==12.4.127 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cuda_nvrtc_cu12-12.4.127-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cuda-runtime-cu12==12.4.127 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cuda_runtime_cu12-12.4.127-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cuda-cupti-cu12==12.4.127 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cuda_cupti_cu12-12.4.127-py3-none-manylinux2014_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cudnn-cu12==9.1.0.70 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cudnn_cu12-9.1.0.70-py3-none-manylinux2014_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cublas-cu12==12.4.5.8 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cublas_cu12-12.4.5.8-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cufft-cu12==11.2.1.3 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cufft_cu12-11.2.1.3-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-curand-cu12==10.3.5.147 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_curand_cu12-10.3.5.147-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cusolver-cu12==11.6.1.9 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cusolver_cu12-11.6.1.9-py3-none-manylinux2014_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cusparse-cu12==12.3.1.170 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cusparse_cu12-12.3.1.170-py3-none-manylinux2014_x86_64.whl.metadata (1.6 kB)
Requirement already satisfied: nvidia-cusparselt-cu12==0.6.2 in /usr/local/lib/python3.11/dist-packages (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.6.2)
Requirement already satisfied: nvidia-nccl-cu12==2.21.5 in /usr/local/lib/python3.11/dist-packages (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.21.5)
Requirement already satisfied: nvidia-nvtx-cu12==12.4.127 in /usr/local/lib/python3.11/dist-packages (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (12.4.127)
Collecting nvidia-nvjitlink-cu12==12.4.127 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_nvjitlink_cu12-12.4.127-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting triton>=3.0.0 (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading triton-3.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.4 kB)
Requirement already satisfied: sympy==1.13.1 in /usr/local/lib/python3.11/dist-packages (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (1.13.1)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /usr/local/lib/python3.11/dist-packages (from sympy==1.13.1->torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (1.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2025.2)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.6.1)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (1.3.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (25.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (1.6.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (6.4.4)

Collecting xformers<0.0.27
  Downloading xformers-0.0.26.post1-cp311-cp311-manylinux2014_x86_64.whl.metadata (1.0 kB)
Collecting trl<0.9.0
  Downloading trl-0.8.6-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: peft in /usr/local/lib/python3.11/dist-packages (0.15.2)
Requirement already satisfied: accelerate in /usr/local/lib/python3.11/dist-packages (1.7.0)
Requirement already satisfied: bitsandbytes in /usr/local/lib/python3.11/dist-packages (0.46.0)
Downloading xformers-0.0.26.post1-cp311-cp311-manylinux2014_x86_64.whl (222.8 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 222.8/222.8 MB 4.0 MB/s eta 0:00:00
Downloading trl-0.8.6-py3-none-any.whl (245 kB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 245.2/245.2 kB 24.4 MB/s eta 0:00:00
Installing collected packages: xformers, trl
  Attempting uninstall: trl
    Found existing installation: trl 0.18.1
    Uninstalling trl-0.18.1:
      Successfully uninstalled trl-0.18.1
Successfully installed trl-0.8.6 xformers-0.0.26.post1

## ëª¨ë¸ ë° í† í¬ë‚˜ì´ì € ë¡œë“œ

In [4]:
from unsloth import FastLanguageModel
import torch

# ëª¨ë¸ êµ¬ì„±
max_seq_length = 2048  # í•„ìš”ì— ë”°ë¼ ì¡°ì •
dtype = None  # ìë™ ê°ì§€
load_in_4bit = True
model_name = "unsloth/Meta-Llama-3.1-8B-Instruct-bnb-4bit"

# ëª¨ë¸ ë° í† í¬ë‚˜ì´ì € ë¡œë“œ
print("Loading model and tokenizer...")
model, tokenizer = FastLanguageModel.from_pretrained(
    model_name=model_name,
    max_seq_length=max_seq_length,
    dtype=dtype,
    load_in_4bit=load_in_4bit,
)

Unsloth: Patching Xformers to fix some performance issues.
ğŸ¦¥ Unsloth: Will patch your computer to enable 2x faster free finetuning.

WARNING:xformers:WARNING[XFORMERS]: xFormers can't load C++/CUDA extensions. xFormers was built for:
    PyTorch 2.3.0+cu121 with CUDA 1201 (you have 2.6.0+cu124)
    Python  3.11.9 (you have 3.11.13)
  Please reinstall xformers (see https://github.com/facebookresearch/xformers#installing-xformers)
  Memory-efficient attention, SwiGLU, sparse and more won't be available.
  Set XFORMERS_MORE_DETAILS=1 for more details

ğŸ¦¥ Unsloth Zoo will now patch everything to make training faster!
Loading model and tokenizer...
==((====))==  Unsloth 2025.6.1: Fast Llama patching. Transformers: 4.52.4.
   \\   /|    NVIDIA L4. Num GPUs = 1. Max memory: 22.161 GB. Platform: Linux.
O^O/ \_/ \    Torch: 2.6.0+cu124. CUDA: 8.9. CUDA Toolkit: 12.4. Triton: 3.2.0
\        /    Bfloat16 = TRUE. FA [Xformers = None. FA2 = False]
 "-____-"     Free license: http://github.com/unslothai/unsloth
Unsloth: Fast downloading is enabled - ignore downloading bars which are red colored!

model.safetensors:   0%|          | 0.00/5.70G [00:00<?, ?B/s]

generation_config.json:   0%|          | 0.00/239 [00:00<?, ?B/s]

tokenizer_config.json:   0%|          | 0.00/55.5k [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/454 [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/17.2M [00:00<?, ?B/s]

Unsloth 2025.6.1 patched 32 layers with 32 QKV layers, 32 O layers and 32 MLP layers.

# í…ŒìŠ¤íŠ¸ ìˆ˜í–‰

In [9]:
## 10. í‰ê°€ (Evaluation)

# í•„ìš”í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ ê°€ì ¸ì˜¤ê¸°
import json
import os
import sqlite3
import sys
import random
from tqdm import tqdm



# í‰ê°€ ë„ìš°ë¯¸ í•¨ìˆ˜
def load_tables_data(tables_file):
    """í…Œì´ë¸” ìŠ¤í‚¤ë§ˆ ì •ë³´ë¥¼ ë¡œë“œí•©ë‹ˆë‹¤."""
    if not os.path.exists(tables_file):
        print(f"ì˜¤ë¥˜: {tables_file}ë¥¼ ì°¾ì„ ìˆ˜ ì—†ìŠµë‹ˆë‹¤!")
        return None

    print(f"{tables_file}ì—ì„œ í…Œì´ë¸” ë¡œë”© ì¤‘...")
    with open(tables_file, 'r') as f:
        return json.load(f)

def create_schema_mapping(tables_data):
    """db_idì—ì„œ ìŠ¤í‚¤ë§ˆ ì •ë³´ë¡œì˜ ë§¤í•‘ ìƒì„±."""
    schema_mapping = {}

    for item in tables_data:
        db_id = item["db_id"]
        tables = item["table_names_original"]
        columns = {}
        column_types = {}

        # ì—´ ì •ë³´ ì²˜ë¦¬
        for i, (table_id, col_name) in enumerate(item["column_names_original"]):
            if table_id == -1:
                # íŠ¹ìˆ˜ "*" ì—´ ê±´ë„ˆë›°ê¸°
                continue

            table_name = tables[table_id]

            if table_name not in columns:
                columns[table_name] = []
                column_types[table_name] = {}

            # ê°€ëŠ¥í•œ ê²½ìš° ì—´ ìœ í˜• ì¶”ê°€
            col_type = ""
            if "column_types" in item and i < len(item["column_types"]):
                col_type = item["column_types"][i]
                column_types[table_name][col_name] = col_type

            columns[table_name].append(col_name)

        # ì™¸ë˜ í‚¤ ë§¤í•‘
        foreign_keys = []
        for fk_pair in item.get("foreign_keys", []):
            if len(fk_pair) == 2:
                col1_idx, col2_idx = fk_pair

                if (col1_idx < len(item["column_names_original"]) and
                    col2_idx < len(item["column_names_original"])):

                    table1_idx, col1_name = item["column_names_original"][col1_idx]
                    table2_idx, col2_name = item["column_names_original"][col2_idx]

                    if table1_idx >= 0 and table2_idx >= 0:
                        table1_name = tables[table1_idx]
                        table2_name = tables[table2_idx]
                        foreign_keys.append({
                            "source": f"{table1_name}.{col1_name}",
                            "target": f"{table2_name}.{col2_name}"
                        })

        # ê¸°ë³¸ í‚¤ ë§¤í•‘
        primary_keys = []
        for pk in item.get("primary_keys", []):
            if pk < len(item["column_names_original"]):
                table_id, col_name = item["column_names_original"][pk]
                if table_id >= 0:
                    table_name = tables[table_id]
                    primary_keys.append(f"{table_name}.{col_name}")

        schema_mapping[db_id] = {
            "tables": tables,
            "columns": columns,
            "column_types": column_types,
            "foreign_keys": foreign_keys,
            "primary_keys": primary_keys
        }

    return schema_mapping

def get_schema_text(db_id, schema_mapping):
    """ì£¼ì–´ì§„ db_idì— ëŒ€í•œ ìŠ¤í‚¤ë§ˆ í…ìŠ¤íŠ¸ ìƒì„±."""
    if db_id not in schema_mapping:
        return "Schema information not available"

    schema = schema_mapping[db_id]
    tables = schema["tables"]
    columns = schema["columns"]
    column_types = schema["column_types"]
    foreign_keys = schema["foreign_keys"]
    primary_keys = schema["primary_keys"]

    schema_text = "ë°ì´í„°ë² ì´ìŠ¤ ìŠ¤í‚¤ë§ˆ:\n"

    for table in tables:
        schema_text += f"í…Œì´ë¸”: {table}\n"
        if table in columns:
            schema_text += "ì»¬ëŸ¼:\n"
            for column in columns[table]:
                # ê¸°ë³¸ í‚¤ í‘œì‹œê¸° ì¶”ê°€
                pk_marker = " (ê¸°ë³¸ í‚¤)" if f"{table}.{column}" in primary_keys else ""

                # ê°€ëŠ¥í•œ ê²½ìš° ì—´ ìœ í˜• ì¶”ê°€
                type_info = ""
                if table in column_types and column in column_types[table]:
                    type_info = f" ({column_types[table][column]})"

                schema_text += f"  - {column}{type_info}{pk_marker}\n"

    if foreign_keys:
        schema_text += "\nì™¸ë˜ í‚¤ ê´€ê³„:\n"
        for fk in foreign_keys:
            schema_text += f"  - {fk['source']} â†’ {fk['target']}\n"

    return schema_text

def generate_sql_query(model, tokenizer, schema_mapping, question, db_id):
    """ì£¼ì–´ì§„ ì§ˆë¬¸ê³¼ ë°ì´í„°ë² ì´ìŠ¤ì— ëŒ€í•œ SQL ì¿¼ë¦¬ë¥¼ ìƒì„±í•©ë‹ˆë‹¤."""
    try:
        # ìŠ¤í‚¤ë§ˆ í…ìŠ¤íŠ¸ ê°€ì ¸ì˜¤ê¸°
        if db_id in schema_mapping:
            schema_text = get_schema_text(db_id, schema_mapping)
        else:
            schema_text = "Schema information not available"

        # ìŠ¤í‚¤ë§ˆë¥¼ í¬í•¨í•œ ì…ë ¥ êµ¬ì„±
        input_with_schema = f"ë‹¹ì‹ ì€ ìì—°ì–´ ì§ˆë¬¸ì„ SQL ì¿¼ë¦¬ë¡œ ë³€í™˜í•˜ëŠ” ì „ë¬¸ AI ì–´ì‹œìŠ¤í„´íŠ¸ì…ë‹ˆë‹¤. ì‚¬ìš©ìê°€ ë°ì´í„°ë² ì´ìŠ¤ì—ì„œ ì •ë³´ë¥¼ ì–»ê¸° ìœ„í•´ ì¼ìƒ ì–¸ì–´ë¡œ ì§ˆë¬¸í•˜ë©´, ë‹¹ì‹ ì€ í•´ë‹¹ ì§ˆë¬¸ì„ ì •í™•í•œ SQL ì¿¼ë¦¬ë¡œ ë³€í™˜í•´ì•¼ í•©ë‹ˆë‹¤. ì„œë¡ ê³¼ ì„¤ëª…ì€ ì œì™¸í•˜ê³ , ë°”ë¡œ ì‘ì—…ì„ ìˆ˜í–‰í•˜ì„¸ìš”.\n\n{schema_text}\n\nì§ˆë¬¸: {question}"

        # ì±„íŒ… ë©”ì‹œì§€ë¡œ í¬ë§·íŒ…
        messages = [{"role": "user", "content": input_with_schema}]

        # ì±„íŒ… í…œí”Œë¦¿ ì ìš©
        inputs = tokenizer.apply_chat_template(
            messages,
            tokenize=True,
            add_generation_prompt=True,
            return_tensors="pt"
        ).to(model.device)

        # SQL ì¿¼ë¦¬ ìƒì„±
        outputs = model.generate(
            inputs,
            max_new_tokens=150,
            temperature=0.1,
            do_sample=True,
            use_cache=True
        )

        # ì‘ë‹µ ë””ì½”ë”©
        response = tokenizer.decode(outputs[0], skip_special_tokens=True)

        # ìƒì„±ëœ SQL ì¿¼ë¦¬ ì¶”ì¶œ
        assistant_part = response.split(input_with_schema)[-1].strip()

        # ì‘ë‹µ ì •ë¦¬í•˜ì—¬ SQL ì¿¼ë¦¬ë§Œ ì¶”ì¶œ
        if assistant_part.startswith("assistant"):
            assistant_part = assistant_part[len("assistant"):].strip()

        # SQLê³¼ ìœ ì‚¬í•œ ì²« ë²ˆì§¸ ë¬¸ì¥ ì°¾ê¸°
        lines = assistant_part.split("\n")
        sql_query = ""
        in_sql = False
        for line in lines:
            line = line.strip()
            if not line:
                continue

            # SQL í‚¤ì›Œë“œë¡œ ì¿¼ë¦¬ ì‹œì‘ ì‹ë³„
            if not in_sql and (line.lower().startswith("select") or
                             line.lower().startswith("with") or
                             line.lower().startswith("(select")):
                in_sql = True

            if in_sql:
                sql_query += line + " "

                # ì½”ë“œ íœìŠ¤ë‚˜ ì¢…ë£Œ í‘œì‹œë¥¼ ì°¾ìœ¼ë©´ ì¤‘ì§€
                if line.endswith(";") or line.endswith("```"):
                    break

        # ëª…í™•í•œ SQL ì¿¼ë¦¬ë¥¼ ì°¾ì§€ ëª»í•œ ê²½ìš° ì „ì²´ ì‘ë‹µ ì‚¬ìš©
        if not sql_query:
            sql_query = assistant_part

        # ì½”ë“œ ë§ˆì»¤, ë°±í‹± ë“± ì •ë¦¬
        sql_query = sql_query.replace("```sql", "").replace("```", "").strip()

        return sql_query

    except Exception as e:
        print(f"SQL ì¿¼ë¦¬ ìƒì„± ì˜¤ë¥˜: {str(e)}")
        return "SELECT * FROM table"  # ì˜¤ë¥˜ ë°œìƒ ì‹œ ê¸°ë³¸ ì¿¼ë¦¬

def evaluate_predictions(preds, golds, db_dir, tables_file):
    """
    ìƒì„±ëœ SQL ì˜ˆì¸¡ì„ í‰ê°€í•©ë‹ˆë‹¤.

    Args:
        preds: [(sql, db_id), ...] í˜•ì‹ì˜ ì˜ˆì¸¡ ëª©ë¡
        golds: [(sql, db_id), ...] í˜•ì‹ì˜ ì •ë‹µ ëª©ë¡
        db_dir: SQLite ë°ì´í„°ë² ì´ìŠ¤ê°€ ìˆëŠ” ë””ë ‰í† ë¦¬
        tables_file: tables.json íŒŒì¼ ê²½ë¡œ

    Returns:
        ì •í™•ë„ ì ìˆ˜ë¥¼ í¬í•¨í•˜ëŠ” ë”•ì…”ë„ˆë¦¬
    """
    # Spider evaluation.pyì™€ ìœ ì‚¬í•œ í‰ê°€ ë¡œì§ êµ¬í˜„
    scores = {
        'exact_match': 0,
        'execution': 0,
        'total': len(preds),
        'details': []  # ê° ì˜ˆì œë³„ ì„¸ë¶€ í‰ê°€ ê²°ê³¼
    }

    for i, ((pred_sql, db_id), (gold_sql, _)) in enumerate(zip(preds, golds)):
        # ì„¸ë¶€ í‰ê°€ ê²°ê³¼ ì´ˆê¸°í™”
        result = {
            'index': i,
            'db_id': db_id,
            'pred_sql': pred_sql,
            'gold_sql': gold_sql,
            'exact_match': False,
            'execution_match': False
        }

        # DB ê²½ë¡œ êµ¬ì„±
        db_path = os.path.join(db_dir, db_id, f"{db_id}.sqlite")
        if not os.path.exists(db_path):
            print(f"ê²½ê³ : ë°ì´í„°ë² ì´ìŠ¤ íŒŒì¼ì„ ì°¾ì„ ìˆ˜ ì—†ìŒ: {db_path}")
            result['error'] = f"DB íŒŒì¼ì„ ì°¾ì„ ìˆ˜ ì—†ìŒ: {db_path}"
            scores['details'].append(result)
            continue

        # ì‹¤í–‰ ì •í™•ë„ í‰ê°€
        try:
            conn = sqlite3.connect(db_path)
            cursor = conn.cursor()

            # ì˜ˆì¸¡ SQL ì‹¤í–‰
            cursor.execute(pred_sql)
            pred_result = cursor.fetchall()
            result['pred_result_count'] = len(pred_result)

            # ì •ë‹µ SQL ì‹¤í–‰
            cursor.execute(gold_sql)
            gold_result = cursor.fetchall()
            result['gold_result_count'] = len(gold_result)

            # ê²°ê³¼ ë¹„êµ
            execution_match = set(pred_result) == set(gold_result)
            if execution_match:
                scores['execution'] += 1
                result['execution_match'] = True

            conn.close()
        except Exception as e:
            result['error'] = f"ì‹¤í–‰ ì˜¤ë¥˜: {str(e)}"

        # ì •í™•í•œ ì¼ì¹˜ í‰ê°€ (ë¬¸ìì—´ ê¸°ë°˜ ë‹¨ìˆœ ë¹„êµ)
        if normalize_sql(pred_sql) == normalize_sql(gold_sql):
            scores['exact_match'] += 1
            result['exact_match'] = True

        # ê²°ê³¼ ì €ì¥
        scores['details'].append(result)

    # ë°±ë¶„ìœ¨ë¡œ ë³€í™˜
    if scores['total'] > 0:
        scores['exact_match_pct'] = scores['exact_match'] / scores['total'] * 100
        scores['execution_pct'] = scores['execution'] / scores['total'] * 100

    return scores

# í‰ê°€ ì‹¤í–‰ í•¨ìˆ˜
def run_evaluation(model_path=None, sample_size=10, show_all=False):
    """
    ëª¨ë¸ í‰ê°€ë¥¼ ì‹¤í–‰í•©ë‹ˆë‹¤.

    Args:
        model_path: í‰ê°€í•  ëª¨ë¸ì˜ ê²½ë¡œ (Noneì´ë©´ í˜„ì¬ ë©”ëª¨ë¦¬ì˜ ëª¨ë¸ ì‚¬ìš©)
        sample_size: í‰ê°€í•  ì˜ˆì œ ìˆ˜ (Noneì´ë©´ ì „ì²´ ë°ì´í„°ì…‹ ì‚¬ìš©)
        show_all: ëª¨ë“  ì˜ˆì œ ê²°ê³¼ë¥¼ í‘œì‹œí• ì§€ ì—¬ë¶€
    """
    try:
        # í•„ìš”í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¨¼ì € ì„í¬íŠ¸
        from unsloth import FastLanguageModel
        import torch
        import pandas as pd
        from IPython.display import display

        # ê²½ë¡œ ì„¤ì • ë° ì¡´ì¬ í™•ì¸
        dev_file = os.path.join(SPIDER_DIR, "dev.json")
        tables_file = os.path.join(SPIDER_DIR, "tables.json")
        db_dir = os.path.join(SPIDER_DIR, "database")

        # ê²½ë¡œ í™•ì¸
        for path, name in [(dev_file, "dev.json"), (tables_file, "tables.json"), (db_dir, "database")]:
            if not os.path.exists(path):
                print(f"{name} ê²½ë¡œë¥¼ ì°¾ì„ ìˆ˜ ì—†ìŠµë‹ˆë‹¤: {path}")
                print(f"SPIDER_DIR = {SPIDER_DIR}")
                print("SPIDER_DIR ë³€ìˆ˜ê°€ ì˜¬ë°”ë¥´ê²Œ ì„¤ì •ë˜ì—ˆëŠ”ì§€ í™•ì¸í•˜ì„¸ìš”.")
                return

        # ê°œë°œ ë°ì´í„°ì…‹ ë¡œë“œ
        print(f"ê°œë°œ ë°ì´í„°ì…‹ ë¡œë“œ ì¤‘: {dev_file}")
        with open(dev_file, 'r') as f:
            dev_data = json.load(f)

        # ìƒ˜í”Œ í¬ê¸°ê°€ ì§€ì •ëœ ê²½ìš° ì˜ˆì œ ìˆ˜ ì œí•œ
        if sample_size and sample_size < len(dev_data):
            print(f"ì „ì²´ {len(dev_data)}ê°œ ì¤‘ {sample_size}ê°œ ì˜ˆì œë¡œ ìƒ˜í”Œë§")
            dev_data = random.sample(dev_data, sample_size)

        # í…Œì´ë¸” ìŠ¤í‚¤ë§ˆ ë¡œë“œ
        print(f"í…Œì´ë¸” ìŠ¤í‚¤ë§ˆ ë¡œë“œ ì¤‘: {tables_file}")
        tables_data = load_tables_data(tables_file)
        if not tables_data:
            print("í…Œì´ë¸” ë°ì´í„°ë¥¼ ë¡œë“œí•˜ì§€ ëª»í–ˆìŠµë‹ˆë‹¤. í‰ê°€ë¥¼ ì¢…ë£Œí•©ë‹ˆë‹¤.")
            return

        schema_mapping = create_schema_mapping(tables_data)
        print(f"{len(schema_mapping)}ê°œ ë°ì´í„°ë² ì´ìŠ¤ì— ëŒ€í•œ ìŠ¤í‚¤ë§ˆ ë§¤í•‘ ìƒì„±")

        # ëª¨ë¸ì´ ë©”ëª¨ë¦¬ì— ë¡œë“œëœ ìƒíƒœì¼ ë•ŒëŠ” ê·¸ëŒ€ë¡œ ì‚¬ìš©, ì•„ë‹ˆë©´ ë¡œë“œ
        global model, tokenizer
        if model_path:
            print(f"ëª¨ë¸ì„ {model_path}ì—ì„œ ë¡œë“œí•©ë‹ˆë‹¤...")
            model, tokenizer = FastLanguageModel.from_pretrained(
                model_path,
                device_map="auto",
                load_in_4bit=True
            )

        # ëª¨ë¸ í™•ì¸
        if 'model' not in globals() or 'tokenizer' not in globals():
            print("ëª¨ë¸ê³¼ í† í¬ë‚˜ì´ì €ê°€ ë¡œë“œë˜ì§€ ì•Šì•˜ìŠµë‹ˆë‹¤.")
            return

        # ì¶”ë¡  ëª¨ë“œë¡œ ì„¤ì •
        if hasattr(model, "for_inference"):
            print("ëª¨ë¸ì„ ì¶”ë¡  ëª¨ë“œë¡œ ì„¤ì •í•©ë‹ˆë‹¤...")
            FastLanguageModel.for_inference(model)

        # SQL ì˜ˆì¸¡ ìƒì„±
        preds = []
        golds = []
        questions = []

        print("\nSQL ì˜ˆì¸¡ ìƒì„± ì¤‘:")
        for example in tqdm(dev_data):
            question = example["question"]
            db_id = example["db_id"]
            gold_sql = example["query"]

            # SQL ì¿¼ë¦¬ ìƒì„±
            pred_sql = generate_sql_query(model, tokenizer, schema_mapping, question, db_id)

            # ê²°ê³¼ ì €ì¥
            questions.append(question)
            preds.append((pred_sql, db_id))
            golds.append((gold_sql, db_id))

        # í‰ê°€ ìˆ˜í–‰
        print("\ní‰ê°€ ì‹¤í–‰ ì¤‘...")
        scores = evaluate_predictions(preds, golds, db_dir, tables_file)

        # ê²°ê³¼ ì¶œë ¥
        print("\ní‰ê°€ ê²°ê³¼:")
        print(f"ì´ ì˜ˆì œ ìˆ˜: {scores['total']}")
        print(f"ì™„ì „ ì¼ì¹˜ ì •í™•ë„: {scores['exact_match_pct']:.2f}% ({scores['exact_match']}/{scores['total']})")
        print(f"ì‹¤í–‰ ì •í™•ë„: {scores['execution_pct']:.2f}% ({scores['execution']}/{scores['total']})")

        # ê²°ê³¼ ë°ì´í„°í”„ë ˆì„ ìƒì„±
        results = []
        for i, detail in enumerate(scores['details']):
            results.append({
                "ì˜ˆì œ ë²ˆí˜¸": i + 1,
                "ì§ˆë¬¸": questions[i],
                "DB": detail['db_id'],
                "ì •í™•í•œ ì¼ì¹˜": "âœ…" if detail['exact_match'] else "âŒ",
                "ì‹¤í–‰ ì¼ì¹˜": "âœ…" if detail['execution_match'] else "âŒ",
                "ì˜ˆì¸¡ SQL": detail['pred_sql'],
                "ì •ë‹µ SQL": detail['gold_sql']
            })

        # ë°ì´í„°í”„ë ˆì„ ìƒì„±
        df = pd.DataFrame(results)

        # show_allì´ Trueì´ë©´ ëª¨ë“  ì˜ˆì œ í‘œì‹œ, ì•„ë‹ˆë©´ ì¼ë¶€ë§Œ í‘œì‹œ
        if show_all:
            print(f"\nëª¨ë“  ì˜ˆì œ ê²°ê³¼ ({len(results)}ê°œ):")
            display(df)
        else:
            # ìµœëŒ€ 5ê°œ ìƒ˜í”Œë§Œ í‘œì‹œ
            max_samples = min(5, len(results))
            print(f"\nìƒ˜í”Œ ì˜ˆì œ ê²°ê³¼ ({max_samples}ê°œ):")
            display(df.head(max_samples))
            if len(results) > max_samples:
                print(f"...ì™¸ {len(results) - max_samples}ê°œ ë” ìˆìŒ. ëª¨ë‘ ë³´ë ¤ë©´ show_all=True ì˜µì…˜ ì‚¬ìš©")

        return df, scores

    except Exception as e:
        print(f"í‰ê°€ ì¤‘ ì˜¤ë¥˜ ë°œìƒ: {str(e)}")
        import traceback
        traceback.print_exc()
        return None

# ë©”ì¸ í‰ê°€ ì˜ˆì‹œ (ëª¨ë“  ì˜ˆì œ í‰ê°€ ê²°ê³¼ë¥¼ ë³´ë ¤ë©´ show_all=True ì˜µì…˜ ì¶”ê°€)
# run_evaluation(sample_size=10, show_all=True)  # 10ê°œ ì˜ˆì œ ì „ì²´ ê²°ê³¼ í‘œì‹œ

In [10]:
# ëª¨ë“  ì˜ˆì œ ì˜ˆì¸¡ ê²°ê³¼ë¥¼ ë³´ì—¬ì£¼ëŠ” í•¨ìˆ˜
def show_all_predictions(model_path=None, sample_size=None):
    """
    ëª¨ë“  ì˜ˆì œì— ëŒ€í•œ SQL ì˜ˆì¸¡ ê²°ê³¼ë¥¼ ìƒì„±í•˜ì—¬ í‘œì‹œí•©ë‹ˆë‹¤.

    Args:
        model_path: í‰ê°€í•  ëª¨ë¸ì˜ ê²½ë¡œ (Noneì´ë©´ í˜„ì¬ ë©”ëª¨ë¦¬ì˜ ëª¨ë¸ ì‚¬ìš©)
        sample_size: í‰ê°€í•  ì˜ˆì œ ìˆ˜ (Noneì´ë©´ ì „ì²´ ë°ì´í„°ì…‹ ì‚¬ìš©)
    """
    try:
        # í•„ìš”í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¨¼ì € ì„í¬íŠ¸
        from unsloth import FastLanguageModel
        import torch
        import pandas as pd
        from IPython.display import display

        # ê²½ë¡œ ì„¤ì • ë° ì¡´ì¬ í™•ì¸
        dev_file = os.path.join(SPIDER_DIR, "dev.json")
        tables_file = os.path.join(SPIDER_DIR, "tables.json")

        # ê²½ë¡œ í™•ì¸
        for path, name in [(dev_file, "dev.json"), (tables_file, "tables.json")]:
            if not os.path.exists(path):
                print(f"{name} ê²½ë¡œë¥¼ ì°¾ì„ ìˆ˜ ì—†ìŠµë‹ˆë‹¤: {path}")
                print(f"SPIDER_DIR = {SPIDER_DIR}")
                return

        # ê°œë°œ ë°ì´í„°ì…‹ ë¡œë“œ
        print(f"ê°œë°œ ë°ì´í„°ì…‹ ë¡œë“œ ì¤‘: {dev_file}")
        with open(dev_file, 'r') as f:
            dev_data = json.load(f)

        # ìƒ˜í”Œ í¬ê¸°ê°€ ì§€ì •ëœ ê²½ìš° ì˜ˆì œ ìˆ˜ ì œí•œ
        if sample_size and sample_size < len(dev_data):
            print(f"ì „ì²´ {len(dev_data)}ê°œ ì¤‘ {sample_size}ê°œ ì˜ˆì œë¡œ ìƒ˜í”Œë§")
            dev_data = random.sample(dev_data, sample_size)

        # í…Œì´ë¸” ìŠ¤í‚¤ë§ˆ ë¡œë“œ
        print(f"í…Œì´ë¸” ìŠ¤í‚¤ë§ˆ ë¡œë“œ ì¤‘: {tables_file}")
        tables_data = load_tables_data(tables_file)
        if not tables_data:
            print("í…Œì´ë¸” ë°ì´í„°ë¥¼ ë¡œë“œí•˜ì§€ ëª»í–ˆìŠµë‹ˆë‹¤. ì¢…ë£Œí•©ë‹ˆë‹¤.")
            return

        schema_mapping = create_schema_mapping(tables_data)
        print(f"{len(schema_mapping)}ê°œ ë°ì´í„°ë² ì´ìŠ¤ì— ëŒ€í•œ ìŠ¤í‚¤ë§ˆ ë§¤í•‘ ìƒì„±")

        # ëª¨ë¸ì´ ë©”ëª¨ë¦¬ì— ë¡œë“œëœ ìƒíƒœì¼ ë•ŒëŠ” ê·¸ëŒ€ë¡œ ì‚¬ìš©, ì•„ë‹ˆë©´ ë¡œë“œ
        global model, tokenizer
        if model_path:
            print(f"ëª¨ë¸ì„ {model_path}ì—ì„œ ë¡œë“œí•©ë‹ˆë‹¤...")
            model, tokenizer = FastLanguageModel.from_pretrained(
                model_path,
                device_map="auto",
                load_in_4bit=True
            )

        # ëª¨ë¸ í™•ì¸
        if 'model' not in globals() or 'tokenizer' not in globals():
            print("ëª¨ë¸ê³¼ í† í¬ë‚˜ì´ì €ê°€ ë¡œë“œë˜ì§€ ì•Šì•˜ìŠµë‹ˆë‹¤.")
            return

        # ì¶”ë¡  ëª¨ë“œë¡œ ì„¤ì •
        if hasattr(model, "for_inference"):
            print("ëª¨ë¸ì„ ì¶”ë¡  ëª¨ë“œë¡œ ì„¤ì •í•©ë‹ˆë‹¤...")
            FastLanguageModel.for_inference(model)

        # SQL ì˜ˆì¸¡ ìƒì„±
        results = []
        print("\nSQL ì˜ˆì¸¡ ìƒì„± ì¤‘:")
        for i, example in enumerate(tqdm(dev_data)):
            question = example["question"]
            db_id = example["db_id"]
            gold_sql = example["query"]

            # SQL ì¿¼ë¦¬ ìƒì„±
            pred_sql = generate_sql_query(model, tokenizer, schema_mapping, question, db_id)

            # ê²°ê³¼ ì €ì¥
            results.append({
                "ì˜ˆì œ #": i+1,
                "ì§ˆë¬¸": question,
                "DB": db_id,
                "ì˜ˆì¸¡ SQL": pred_sql,
                "ì •ë‹µ SQL": gold_sql
            })

        # ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜
        df = pd.DataFrame(results)

        # ê²°ê³¼ í‘œì‹œ
        print(f"\nì´ {len(results)}ê°œ ì˜ˆì œ í‰ê°€ ì™„ë£Œ")

        # ë°ì´í„°í”„ë ˆì„ í‘œì‹œ
        display(df)

        return df

    except Exception as e:
        print(f"ì˜¤ë¥˜ ë°œìƒ: {str(e)}")
        import traceback
        traceback.print_exc()
        return None

# í•¨ìˆ˜ í˜¸ì¶œ (í•„ìš”ì‹œ ì£¼ì„ í•´ì œ)
# show_all_predictions(sample_size=10)  # 10ê°œ ì˜ˆì œë§Œ í‘œì‹œ

In [14]:

# ==============================================================================
# 1. ë¼ì´ë¸ŒëŸ¬ë¦¬ ì„í¬íŠ¸
# ==============================================================================
import json
import os
import sqlite3
import re
import random
from tqdm import tqdm
import pandas as pd
import torch
from unsloth import FastLanguageModel
from IPython.display import display

# ==============================================================================
# 2. ê²½ë¡œ ë° ê¸°ë³¸ ì„¤ì •
# ==============================================================================
# !!! ì¤‘ìš”: ì´ ê²½ë¡œë¥¼ ì‹¤ì œ Spider ë°ì´í„°ì…‹ì´ ìˆëŠ” ë””ë ‰í† ë¦¬ë¡œ ë³€ê²½í•˜ì„¸ìš” !!!
SPIDER_DIR = '/content/drive/MyDrive/spider/spider_data'  # ì˜ˆ: '/content/spider' ë˜ëŠ” 'data/spider'

# ì‚¬ìš©í•  ëª¨ë¸ì˜ Hugging Face ê²½ë¡œ
# ì˜ˆ: "unsloth/llama-3.1-8b-Instruct-bnb-4bit"
MODEL_NAME = "unsloth/llama-3.1-8b-Instruct-bnb-4bit"


# ==============================================================================
# 3. ë°ì´í„° ë¡œë”© ë° ìŠ¤í‚¤ë§ˆ ì²˜ë¦¬ í—¬í¼ í•¨ìˆ˜
# ==============================================================================
def load_tables_data(tables_file):
    """tables.json íŒŒì¼ì—ì„œ í…Œì´ë¸” ìŠ¤í‚¤ë§ˆ ì •ë³´ë¥¼ ë¡œë“œí•©ë‹ˆë‹¤."""
    if not os.path.exists(tables_file):
        print(f"ì˜¤ë¥˜: '{tables_file}' íŒŒì¼ì„ ì°¾ì„ ìˆ˜ ì—†ìŠµë‹ˆë‹¤!")
        return None
    with open(tables_file, 'r', encoding='utf-8') as f:
        return json.load(f)

def create_schema_mapping(tables_data):
    """db_idë¥¼ í‚¤ë¡œ í•˜ëŠ” ìŠ¤í‚¤ë§ˆ ì •ë³´ ë”•ì…”ë„ˆë¦¬ë¥¼ ìƒì„±í•©ë‹ˆë‹¤."""
    schema_mapping = {}
    for item in tables_data:
        db_id = item["db_id"]
        tables = item["table_names_original"]
        columns = {tbl: [] for tbl in tables}
        column_types = {tbl: {} for tbl in tables}

        for i, (table_id, col_name) in enumerate(item["column_names_original"]):
            if table_id >= 0:
                table_name = tables[table_id]
                columns[table_name].append(col_name)
                column_types[table_name][col_name] = item["column_types"][i]

        primary_keys = []
        for pk_col_idx in item.get("primary_keys", []):
            table_id, col_name = item["column_names_original"][pk_col_idx]
            if table_id >= 0:
                primary_keys.append(f"{tables[table_id]}.{col_name}")

        schema_mapping[db_id] = {
            "tables": tables,
            "columns": columns,
            "column_types": column_types,
            "primary_keys": primary_keys,
        }
    return schema_mapping

def get_schema_text(db_id, schema_mapping):
    """ì£¼ì–´ì§„ db_idì— ëŒ€í•œ í…ìŠ¤íŠ¸ í˜•ì‹ì˜ ìŠ¤í‚¤ë§ˆë¥¼ ìƒì„±í•©ë‹ˆë‹¤."""
    if db_id not in schema_mapping:
        return "Schema information not available"

    schema = schema_mapping[db_id]
    schema_text_parts = []

    for table_name in schema["tables"]:
        schema_text_parts.append(f"í…Œì´ë¸”: {table_name}")
        cols_info = []
        for col_name in schema["columns"].get(table_name, []):
            col_type = schema["column_types"][table_name][col_name]
            pk_marker = " (ê¸°ë³¸ í‚¤)" if f"{table_name}.{col_name}" in schema["primary_keys"] else ""
            cols_info.append(f"  - {col_name} ({col_type}){pk_marker}")
        schema_text_parts.append("ì»¬ëŸ¼:\n" + "\n".join(cols_info))

    return "\n".join(schema_text_parts)

# ==============================================================================
# 4. í•µì‹¬ ë¡œì§: SQL ìƒì„± í•¨ìˆ˜
# ==============================================================================
def generate_sql(model, tokenizer, schema_info, question):
    """
    ëª¨ë¸ì—ê²Œ Markdown ì½”ë“œ ë¸”ë¡ìœ¼ë¡œ ì‘ë‹µí•˜ë„ë¡ ì§€ì‹œí•˜ê³ , í›„ì²˜ë¦¬ë¥¼ í†µí•´ SQLë§Œ ì¶”ì¶œí•©ë‹ˆë‹¤.
    """
    messages = [
        {
            "role": "system",
            "content": "ë‹¹ì‹ ì€ Text-to-SQL ì „ë¬¸ê°€ì…ë‹ˆë‹¤. ì£¼ì–´ì§„ ìŠ¤í‚¤ë§ˆì™€ ì§ˆë¬¸ì— ëŒ€í•œ SQL ì¿¼ë¦¬ë¥¼ ìƒì„±í•˜ì„¸ìš”. ì‘ë‹µì€ ë°˜ë“œì‹œ ```sql ì½”ë“œ ë¸”ë¡ ì•ˆì— ë„£ì–´ì•¼ í•©ë‹ˆë‹¤. ë‹¤ë¥¸ ì–´ë–¤ ì„¤ëª…ë„ ì¶”ê°€í•˜ì§€ ë§ˆì„¸ìš”."
        },
        {
            "role": "user",
            "content": f"ì•„ë˜ ìŠ¤í‚¤ë§ˆì™€ ì§ˆë¬¸ì„ ë°”íƒ•ìœ¼ë¡œ SQL ì¿¼ë¦¬ë¥¼ markdown ì½”ë“œ ë¸”ë¡ìœ¼ë¡œ ì‘ì„±í•´ì¤˜.\n\n[ìŠ¤í‚¤ë§ˆ]:\n{schema_info}\n\n[ì§ˆë¬¸]:\n{question}\n\n[SQL ì¿¼ë¦¬]:"
        }
    ]

    inputs = tokenizer.apply_chat_template(
        messages,
        tokenize=True,
        add_generation_prompt=True,
        return_tensors="pt"
    ).to(model.device)

    outputs = model.generate(
        inputs,
        max_new_tokens=150,
        temperature=0.1,
        do_sample=True,
        pad_token_id=tokenizer.eos_token_id
    )

    full_response = tokenizer.decode(outputs[0][len(inputs[0]):], skip_special_tokens=True)

    # --- í›„ì²˜ë¦¬ ë¡œì§: ```sql ë¸”ë¡ì—ì„œ SQL ì¿¼ë¦¬ ì¶”ì¶œ ---
    match = re.search(r'```sql\s*(.*?)\s*```', full_response, re.DOTALL)

    if match:
        sql_query = match.group(1).strip()
        return sql_query
    else:
        # ëª¨ë¸ì´ ì½”ë“œ ë¸”ë¡ì„ ìƒì„±í•˜ì§€ ì•Šì€ ê²½ìš°ì— ëŒ€í•œ ëŒ€ì²´(Fallback) ë¡œì§
        fallback_match = re.search(r'(?i)(SELECT|WITH|\(SELECT)', full_response)
        if fallback_match:
            return full_response[fallback_match.start():].strip()
        return full_response.strip() # ìµœì•…ì˜ ê²½ìš°, ë””ë²„ê¹…ì„ ìœ„í•´ ê·¸ëŒ€ë¡œ ë°˜í™˜

# ==============================================================================
# 5. í‰ê°€ í—¬í¼ í•¨ìˆ˜
# ==============================================================================
def normalize_sql(sql):
    """SQL ì¿¼ë¦¬ë¥¼ ë¹„êµí•˜ê¸° ì‰½ë„ë¡ ì •ê·œí™”í•©ë‹ˆë‹¤."""
    if not isinstance(sql, str):
        return ""
    sql = sql.lower().strip()
    sql = re.sub(r'\s+', ' ', sql)
    sql = re.sub(r'\s*,\s*', ', ', sql)
    sql = re.sub(r'\s*=\s*', ' = ', sql)
    sql = re.sub(r';+\s*$', '', sql)
    return sql

def execute_sql(db_path, sql):
    """SQLite ë°ì´í„°ë² ì´ìŠ¤ì—ì„œ SQLì„ ì‹¤í–‰í•˜ê³  ê²°ê³¼ë¥¼ ë°˜í™˜í•©ë‹ˆë‹¤."""
    try:
        conn = sqlite3.connect(db_path)
        cursor = conn.cursor()
        cursor.execute(sql)
        results = cursor.fetchall()
        conn.close()
        return True, results
    except Exception as e:
        return False, str(e)

# ==============================================================================
# 6. ë©”ì¸ í‰ê°€ ì‹¤í–‰ í•¨ìˆ˜
# ==============================================================================
def run_evaluation_ko_from_csv(model, tokenizer, n_samples=10, random_seed=42):
    """
    CSV íŒŒì¼ì—ì„œ í•œêµ­ì–´ ì§ˆë¬¸ì„ ì‚¬ìš©í•˜ì—¬ ëª¨ë¸ì„ í‰ê°€í•©ë‹ˆë‹¤.
    """
    try:
        csv_path = os.path.join(SPIDER_DIR, 'spider_validation_final.csv')
        tables_file = os.path.join(SPIDER_DIR, 'tables.json')
        db_dir = os.path.join(SPIDER_DIR, 'database')

        # íŒŒì¼ ì¡´ì¬ í™•ì¸
        for path in [csv_path, tables_file, db_dir]:
            if not os.path.exists(path):
                print(f"âŒ í•„ìˆ˜ íŒŒì¼/ë””ë ‰í† ë¦¬ë¥¼ ì°¾ì„ ìˆ˜ ì—†ìŠµë‹ˆë‹¤: {path}")
                print(f"SPIDER_DIR ('{SPIDER_DIR}') ê²½ë¡œê°€ ì˜¬ë°”ë¥¸ì§€ í™•ì¸í•˜ì„¸ìš”.")
                return

        print(f"âœ… ë°ì´í„°ì…‹ íŒŒì¼ í™•ì¸ ì™„ë£Œ.")
        print(f"Loading CSV file from {csv_path}â€¦")
        df = pd.read_csv(csv_path)

        # ìŠ¤í‚¤ë§ˆ ì •ë³´ ë¡œë“œ
        tables_data = load_tables_data(tables_file)
        schema_dict = create_schema_mapping(tables_data)

        # ëœë¤ ìƒ˜í”Œ ì„ íƒ
        random.seed(random_seed)
        sample_indices = random.sample(range(len(df)), min(n_samples, len(df)))
        sampled_df = df.iloc[sample_indices]

        print(f"\nğŸš€ ì´ {len(sampled_df)}ê°œ ëœë¤ ìƒ˜í”Œì— ëŒ€í•œ í‰ê°€ë¥¼ ì‹œì‘í•©ë‹ˆë‹¤â€¦\n" + "="*80)

        results = []

        for i, (idx, row) in enumerate(sampled_df.iterrows()):
            db_id = row['db_id']
            question = row['question']
            gold_sql = row['query']

            print(f"\nExample {i+1}/{len(sampled_df)}:")
            print(f"Database: {db_id}")
            print(f"Question (KO): {question}")
            print(f"Gold SQL: {gold_sql}")

            schema_info = get_schema_text(db_id, schema_dict)
            pred_sql = generate_sql(model, tokenizer, schema_info, question)

            print(f"Generated SQL: {pred_sql}")

            # ì •í™•í•œ ì¼ì¹˜(Exact Match) í‰ê°€
            exact_match = normalize_sql(gold_sql) == normalize_sql(pred_sql)
            print(f"Exact Match: {'âœ…' if exact_match else 'âŒ'}")

            # ì‹¤í–‰ ì •í™•ë„(Execution Accuracy) í‰ê°€
            db_path = os.path.join(db_dir, db_id, f"{db_id}.sqlite")
            execution_match = False
            execution_error = None

            if os.path.exists(db_path):
                gold_success, gold_result = execute_sql(db_path, gold_sql)
                pred_success, pred_result = execute_sql(db_path, pred_sql)

                if not pred_success:
                    execution_error = pred_result
                    print(f"Execution: âŒ (Error: {str(execution_error)[:100]}...)")
                elif not gold_success:
                     print(f"Execution: âš ï¸ (Gold SQL ì‹¤í–‰ ì˜¤ë¥˜)")
                else:
                    execution_match = (set(gold_result) == set(pred_result))
                    print(f"Execution Match: {'âœ…' if execution_match else 'âŒ'}")
            else:
                execution_error = "DB file not found"
                print(f"Execution: âš ï¸ (DB íŒŒì¼ì„ ì°¾ì„ ìˆ˜ ì—†ìŒ)")

            print("-" * 80)

            results.append({
                'index': idx, 'db_id': db_id, 'question': question,
                'gold_sql': gold_sql, 'generated_sql': pred_sql,
                'exact_match': exact_match, 'execution_match': execution_match,
                'execution_error': execution_error
            })

        # ìµœì¢… ê²°ê³¼ ìš”ì•½
        total = len(results)
        em_count = sum(r['exact_match'] for r in results)
        ex_count = sum(r['execution_match'] for r in results)

        print(f"\n{'='*80}\nğŸ“Š ìµœì¢… í‰ê°€ ìš”ì•½ (ì´ {total}ê°œ ì˜ˆì œ):\n{'='*80}")
        print(f"  - ì™„ì „ ì¼ì¹˜ (EM): {em_count} / {total} ({em_count/total:.2%})")
        print(f"  - ì‹¤í–‰ ì •í™•ë„ (EX): {ex_count} / {total} ({ex_count/total:.2%})")
        print(f"{'='*80}")

        return pd.DataFrame(results)

    except Exception as e:
        print(f"ğŸš¨ í‰ê°€ ì¤‘ ì‹¬ê°í•œ ì˜¤ë¥˜ ë°œìƒ: {e}")
        import traceback
        traceback.print_exc()
        return None

# ==============================================================================
# 7. ìŠ¤í¬ë¦½íŠ¸ ì‹¤í–‰
# ==============================================================================
if __name__ == '__main__':

    # í‰ê°€ ì‹¤í–‰
    # n_samples: í‰ê°€í•  ìƒ˜í”Œ ìˆ˜. ì „ì²´(1034ê°œ)ë¥¼ í‰ê°€í•˜ë ¤ë©´ 1034ë¡œ ì„¤ì •
    evaluation_results_df = run_evaluation_ko_from_csv(
        model,
        tokenizer,
        n_samples=1034, # í…ŒìŠ¤íŠ¸ë¥¼ ìœ„í•´ 10ê°œë§Œ ì‹¤í–‰, ì „ì²´ëŠ” 1034ë¡œ ë³€ê²½
        random_seed=15
    )

    # ê²°ê³¼ ë°ì´í„°í”„ë ˆì„ ì¶œë ¥
    if evaluation_results_df is not None:
        print("\n\nğŸ“‹ ìƒì„¸ í‰ê°€ ê²°ê³¼ í…Œì´ë¸”:")
        display(evaluation_results_df)

ìŠ¤íŠ¸ë¦¬ë° ì¶œë ¥ ë‚´ìš©ì´ ê¸¸ì–´ì„œ ë§ˆì§€ë§‰ 5000ì¤„ì´ ì‚­ì œë˜ì—ˆìŠµë‹ˆë‹¤.
Question (KO): Find the names of stores whose number products is more than the average number of products.
Gold SQL: SELECT name FROM shop WHERE number_products  >  (SELECT avg(number_products) FROM shop)
Generated SQL: SELECT s.name
FROM shop s
JOIN hiring h ON s.shop_id = h.shop_id
JOIN employee e ON h.employee_id = e.employee_id
WHERE h.number_products > (SELECT AVG(number_products) FROM hiring);
Exact Match: âŒ
Execution: âŒ (Error: no such column: h.number_products...)
--------------------------------------------------------------------------------

Example 734/1034:
Database: car_1
Question (KO): What is the average horsepower of the cars before 1980?
Gold SQL: SELECT avg(horsepower) FROM CARS_DATA WHERE YEAR  <  1980;
Generated SQL: SELECT AVG(Horsepower)
FROM cars_data
WHERE Year < 1980;
Exact Match: âœ…
Execution Match: âœ…
--------------------------------------------------------------------------------

Example 735/1034:
Database: wta_1
Question (KO): find the names of loser and winner who played in the match with greatest number of minutes.
Gold SQL: SELECT winner_name ,  loser_name FROM matches ORDER BY minutes DESC LIMIT 1
Generated SQL: ì•„ë˜ ìŠ¤í‚¤ë§ˆì™€ ì§ˆë¬¸ì„ ë°”íƒ•ìœ¼ë¡œ SQL ì¿¼ë¦¬ë¥¼ ìƒì„±í•´ì¤˜.

[ìŠ¤í‚¤ë§ˆ]:
í…Œì´ë¸”: players
ì»¬ëŸ¼:
  - player_id (number) (ê¸°ë³¸ í‚¤)
  - first_name (text)
  - last_name (text)
  - hand (text)
  - birth_date (time)
  - country_code (text)
í…Œì´ë¸”: matches
ì»¬ëŸ¼:
  - match_id (number) (ê¸°ë³¸ í‚¤)
  - player_id (number)
  - opponent_id (number)
  - score (text)
  - minutes (number)
  - winner_id (number)
  - loser_id (number)
  - tourney_date (time
Exact Match: âŒ
Execution: âŒ (Error: near "ì•„ë˜": syntax error...)
--------------------------------------------------------------------------------

Example 736/1034:
Database: student_transcripts_tracking
Question (KO): What is the maximum number of times that a course shows up in different transcripts and what is that course's enrollment id?
Gold SQL: SELECT count(*) ,  student_course_id FROM Transcript_Contents GROUP BY student_course_id ORDER BY count(*) DESC LIMIT 1
Generated SQL: SELECT
  COUNT(DISTINCT course_id) AS course_count,
  COUNT(DISTINCT student_id) AS student_count,
  COUNT(DISTINCT transcript_id) AS transcript_count
FROM
  transcript_contents
WHERE
  transcript_date BETWEEN '2023-01-01' AND '2023-12-31'
  AND course_id IN (SELECT course_id FROM courses WHERE course_name = 'SQL')
  AND student_id IN (SELECT student_id FROM students WHERE first_name = 'John' AND last_name = 'Doe')
  AND transcript_id IN (SELECT transcript_id FROM transcripts WHERE transcript_name = 'SQL Course');
Exact Match: âŒ
Execution: âŒ (Error: no such column: course_id...)
--------------------------------------------------------------------------------

Example 737/1034:
Database: employee_hire_evaluation
Question (KO): Find the name of the shops that do not hire any employee.
Gold SQL: SELECT name FROM shop WHERE shop_id NOT IN (SELECT shop_id FROM hiring)
Generated SQL: SELECT s.name
FROM shop s
WHERE s.id NOT IN (
  SELECT e.shop_id
  FROM employee e
);
Exact Match: âŒ
Execution: âŒ (Error: no such column: e.shop_id...)
--------------------------------------------------------------------------------

Example 738/1034:
Database: poker_player
Question (KO): What is the maximum number of final tables made among poker players with earnings less than 200000?
Gold SQL: SELECT max(Final_Table_Made) FROM poker_player WHERE Earnings  <  200000
Generated SQL: SELECT
  MAX(Final_Table_Made)
FROM
  poker_player
WHERE
  Earnings < 200000;
Exact Match: âœ…
Execution Match: âœ…
--------------------------------------------------------------------------------

Example 739/1034:
Database: singer
Question (KO): List the name of singers that do not have any song.
Gold SQL: SELECT Name FROM singer WHERE Singer_ID NOT IN (SELECT Singer_ID FROM song)
Generated SQL: SELECT s.Name
FROM singer s
WHERE s.Singer_ID NOT IN (
  SELECT s.Singer_ID
  FROM singer s
  JOIN song ss ON s.Singer_ID = ss.Singer_ID
);
Exact Match: âŒ
Execution Match: âœ…
--------------------------------------------------------------------------------

Example 740/1034:
Database: tvshow
Question (KO): What is the number of cartoones written by Joseph Kuhr?
Gold SQL: SELECT count(*) FROM Cartoon WHERE Written_by = "Joseph Kuhr";
Generated SQL: ì•„ë˜ ìŠ¤í‚¤ë§ˆì™€ ì§ˆë¬¸ì„ ë°”íƒ•ìœ¼ë¡œ SQL ì¿¼ë¦¬ë¥¼ ìƒì„±í•´ì¤˜.

[ìŠ¤í‚¤ë§ˆ]:
í…Œì´ë¸”: TV_Channel
ì»¬ëŸ¼:
  - id (text) (ê¸°ë³¸ í‚¤)
  - series_name (text)
  - country (text)
  - language (text)
  - content (text)
  - pixel_aspect_ratio (text)
  - hight_definition (text)
  - pay_per_view (text)
  - package_option (text)

í…Œì´ë¸”: TV_Series
ì»¬ëŸ¼:
  - id (number) (ê¸°ë³¸ í‚¤)
  - episode (text)
  - air_date (text)
  - rating (text)
  - share (number
Exact Match: âŒ
Execution: âŒ (Error: near "ì•„ë˜": syntax error...)
--------------------------------------------------------------------------------

Example 741/1034:
Database: employee_hire_evaluation
Question (KO): Sort all the shops by number products in descending order, and return the name, location and district of each shop.
Gold SQL: SELECT name ,  LOCATION ,  district FROM shop ORDER BY number_products DESC
Generated SQL: SELECT s.name, s.location, s.district, COUNT(h.employee_id) as number_products
FROM shop s
JOIN hiring h ON s.shop_id = h.shop_id
GROUP BY s.name, s.location, s.district
ORDER BY number_products DESC;
Exact Match: âŒ
Execution Match: âŒ
--------------------------------------------------------------------------------

Example 742/1034:
Database: car_1
Question (KO): What is the name of each continent and how many car makers are there in each one?
Gold SQL: SELECT T1.Continent ,  count(*) FROM CONTINENTS AS T1 JOIN COUNTRIES AS T2 ON T1.ContId  =  T2.continent JOIN car_makers AS T3 ON T2.CountryId  =  T3.Country GROUP BY T1.Continent;
Generated SQL: SELECT
  c.Continent,
  COUNT(c)
FROM
  continents c
GROUP BY
  c.Continent;
Exact Match: âŒ
Execution: âŒ (Error: no such column: c...)
--------------------------------------------------------------------------------

Example 743/1034:
Database: flight_2
Question (KO): Return the number of  airports.
Gold SQL: SELECT count(*) FROM AIRPORTS
Generated SQL: SELECT COUNT(DISTINCT airport_name)
FROM airports;

[ì§ˆë¬¸]:
How many airports are there?
Exact Match: âŒ
Execution: âŒ (Error: no such column: airport_name...)
--------------------------------------------------------------------------------

Example 744/1034:
Database: wta_1
Question (KO): What is the best rank of losers across all matches?
Gold SQL: SELECT min(loser_rank) FROM matches
Generated SQL: SELECT
  winner_name,
  winner_rank,
  winner_rank_points,
  winner_seed,
  winner_age,
  winner_entry,
  winner_hand,
  winner_ht,
  winner_id,
  winner_ioc,
  tourney_name,
  tourney_level,
  tourney_id,
  tourney_date,
  tourney_seed,
  tourney_rank_points,
  tourney_rank,
  tourney_name,
Exact Match: âŒ
Execution: âŒ (Error: incomplete input...)
--------------------------------------------------------------------------------

Example 745/1034:
Database: flight_2
Question (KO): What is the airport name for airport 'AKO'?
Gold SQL: SELECT AirportName FROM AIRPORTS WHERE AirportCode  =  "AKO"
Generated SQL: SELECT a.airport_name
FROM airlines a
JOIN flights f ON a.airline_id = f.airline_id
WHERE f.source_airport = 'AKO';

[ì‘ë‹µ]:
The airport name for airport 'AKO' is 'Auckland Airport'.
Exact Match: âŒ
Execution: âŒ (Error: no such column: a.airport_name...)
--------------------------------------------------------------------------------

Example 746/1034:
Database: dog_kennels
Question (KO): Tell me the owner id and last name of the owner who spent the most on treatments of his or her dogs.
Gold SQL: SELECT T1.owner_id ,  T1.last_name FROM Owners AS T1 JOIN Dogs AS T2 ON T1.owner_id  =  T2.owner_id JOIN Treatments AS T3 ON T2.dog_id  =  T3.dog_id GROUP BY T1.owner_id ORDER BY count(*) DESC LIMIT 1
Generated SQL: SELECT T.owner_id, T.last_name, T.cost_of_treatment FROM (SELECT T.owner_id, T.last_name, T.cost_of_treatment FROM (SELECT T.owner_id, T.last_name, T.cost_of_treatment FROM (SELECT T.owner_id, T.last_name, T.cost_of_treatment FROM (SELECT T.owner_id, T.last_name, T.cost_of_treatment FROM (SELECT T.owner_id, T.last_name, T.cost_of_treatment FROM (SELECT T.owner_id, T.last_name, T.cost_of_treatment FROM (SELECT T.owner_id, T.last_name, T.cost_of_treatment FROM (SELECT T.owner_id, T.last_name, T.cost_of_treatment FROM (SELECT T.owner_id, T
Exact Match: âŒ
Execution: âŒ (Error: incomplete input...)
--------------------------------------------------------------------------------

Example 747/1034:
Database: tvshow
Question (KO): What is the produdction code and channel of the most recent cartoon ?
Gold SQL: select production_code ,  channel from cartoon order by original_air_date desc limit 1
Generated SQL: SELECT T1.id, T1.title, T1.director, T1.writer, T1.original_air_date, T1.production_code, T2.channel_name
FROM TV_series T1
JOIN TV_channel T2 ON T1.production_code = T2.production_code
WHERE T1.id = (SELECT id FROM TV_series WHERE title = 'The Most Recent Cartoon' ORDER BY air_date DESC LIMIT 1);
Exact Match: âŒ
Execution: âŒ (Error: no such column: T1.title...)
--------------------------------------------------------------------------------

Example 748/1034:
Database: cre_Doc_Template_Mgt
Question (KO): Return the document id, template id, and description for the document with the name Robbin CV.
Gold SQL: SELECT document_id ,  template_id ,  Document_Description FROM Documents WHERE document_name  =  "Robbin CV"
Generated SQL: SELECT
  d.Document_ID,
  t.Template_ID,
  p.Paragraph_ID,
  d.Document_Name,
  t.Template_Name,
  p.Paragraph_Text,
  d.Date_Effective_From,
  d.Date_Effective_To,
  t.Template_Type_Description
FROM
  Documents d
  JOIN Paragraphs p ON d.Document_ID = p.Document_ID
  JOIN Templates t ON p.Template_ID = t.Template_ID
WHERE
  d.Document_Name = 'Robbin CV';
Exact Match: âŒ
Execution: âŒ (Error: no such column: t.Template_Name...)
--------------------------------------------------------------------------------

Example 749/1034:
Database: singer
Question (KO): Show different citizenships and the maximum net worth of singers of each citizenship.
Gold SQL: SELECT Citizenship ,  max(Net_Worth_Millions) FROM singer GROUP BY Citizenship
Generated SQL: SELECT s Citizenship, s Name, s Birth_Year, s Net_Worth_Millions
FROM singer s
JOIN song ss ON s.Singer_ID = ss.Singer_ID
WHERE s.Citizenship = 'USA' AND ss.Title = 'Best Song';
Exact Match: âŒ
Execution: âŒ (Error: no such column: s...)
--------------------------------------------------------------------------------

Example 750/1034:
Database: pets_1
Question (KO): What is the last name of the student who has a cat that is 3 years old?
Gold SQL: SELECT T1.lname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pet_age  =  3 AND T3.pettype  =  'cat'
Generated SQL: SELECT s.LName
FROM Student s
JOIN Has_Pet hp ON s.StuID = hp.StuID
JOIN Pet p ON hp.PetID = p.PetID
WHERE p.PetType = 'cat' AND s.Age = 3;
Exact Match: âŒ
Execution: âŒ (Error: no such table: Pet...)
--------------------------------------------------------------------------------

Example 751/1034:
Database: wta_1
Question (KO): Find the highest rank of losers in all matches.
Gold SQL: SELECT min(loser_rank) FROM matches
Generated SQL: Cutting Knowledge Date: December 2023
Today Date: 26 Jul 2024

You are a Text-to-SQL expert. Given the schema and question, generate the SQL query. The answer must be in the form of a SQL query. Any additional explanation or description is not required.

**Schema**

```sql
CREATE TABLE players (
  player_id INT PRIMARY KEY,
  first_name VARCHAR(255),
  last_name VARCHAR(255),
  birth_date DATE,
  country_code VARCHAR(255)
);

CREATE TABLE matches (
  match_id INT PRIMARY KEY,
  player_id INT,
  opponent_id INT,
  match_date DATE,
  winner_id INT,
  loser_id INT,
  winner_hand VARCHAR(255),
  loser
Exact Match: âŒ
Execution: âŒ (Error: near "Cutting": syntax error...)
--------------------------------------------------------------------------------

Example 752/1034:
Database: world_1
Question (KO): What is the name of country that has the shortest life expectancy in Asia?
Gold SQL: SELECT Name FROM country WHERE Continent  =  "Asia" ORDER BY LifeExpectancy LIMIT 1
Generated SQL: SELECT name
FROM country
WHERE lifeexpectancy = (SELECT MIN(lifeexpectancy)
                         FROM country
                         WHERE continent = 'Asia');
Exact Match: âŒ
Execution Match: âœ…
--------------------------------------------------------------------------------

Example 753/1034:
Database: museum_visit
Question (KO): What is the average age of the visitors whose membership level is not higher than 4?
Gold SQL: SELECT avg(age) FROM visitor WHERE Level_of_membership  <=  4
Generated SQL: SELECT AVG(Age)
FROM visitor
WHERE Level_of_membership <= 4;

[ì‘ë‹µ]:
The average age of the visitors whose membership level is not higher than 4 is 25.
Exact Match: âŒ
Execution: âŒ (Error: You can only execute one statement at a time....)
--------------------------------------------------------------------------------

Example 754/1034:
Database: dog_kennels
Question (KO): List the date of each treatment, together with the first name of the professional who operated it.
Gold SQL: SELECT T1.date_of_treatment ,  T2.first_name FROM Treatments AS T1 JOIN Professionals AS T2 ON T1.professional_id  =  T2.professional_id
Generated SQL: SELECT
  t.treatment_id,
  t.date_of_treatment,
  t.cost_of_treatment,
  p.first_name,
  p.last_name
FROM
  treatments t
  JOIN professionals p ON t.professional_id = p.professional_id
  JOIN dogs d ON t.dog_id = d.dog_id
  JOIN owners o ON d.owner_id = o.owner_id
WHERE
  t.treatment_type_code = 'TREATMENT_TYPE_CODE'
  AND t.date_of_treatment BETWEEN '2023-01-01' AND '2023-12-31'
  AND o
Exact Match: âŒ
Execution: âŒ (Error: no such column: o...)
--------------------------------------------------------------------------------

Example 755/1034:
Database: car_1
Question (KO): What is the model of the car with the smallest amount of horsepower?
Gold SQL: SELECT T1.Model FROM CAR_NAMES AS T1 JOIN CARS_DATA AS T2 ON T1.MakeId  =  T2.Id ORDER BY T2.horsepower ASC LIMIT 1;
Generated SQL: SELECT m
FROM car_makers
WHERE h = (SELECT MIN h
           FROM car_makers
           WHERE m = (SELECT m
                      FROM car_makers
                      WHERE h = (SELECT MIN h
                                 FROM car_makers
                                 WHERE m = (SELECT m
                                            FROM car_makers
                                            WHERE h = (SELECT MIN h
                                                       FROM car_makers
                                                       WHERE m = (SELECT m
                                                                  FROM car_makers
                                                                  WHERE h = (SELECT MIN h
                                                                             FROM car_makers
                                                                             WHERE m = (SELECT m
                                                                                       FROM car_makers
                                                                                       WHERE h = (SELECT MIN h
Exact Match: âŒ
Execution: âŒ (Error: incomplete input...)
--------------------------------------------------------------------------------

Example 756/1034:
Database: cre_Doc_Template_Mgt
Question (KO): How many documents are using the template with type code 'PPT'?
Gold SQL: SELECT count(*) FROM Documents AS T1 JOIN Templates AS T2 ON T1.Template_ID  =  T2.Template_ID WHERE T2.Template_Type_Code  =  'PPT'
Generated SQL: SELECT COUNT(DISTINCT document_id)
FROM documents
WHERE template_id IN (
  SELECT template_id
  FROM templates
  WHERE template_type_code = 'PPT'
);
Exact Match: âŒ
Execution Match: âœ…
--------------------------------------------------------------------------------

Example 757/1034:
Database: car_1
Question (KO): How many continents are there?
Gold SQL: SELECT count(*) FROM CONTINENTS;
Generated SQL: SELECT COUNT(DISTINCT continent)
FROM continents;
Exact Match: âŒ
Execution Match: âœ…
--------------------------------------------------------------------------------

Example 758/1034:
Database: cre_Doc_Template_Mgt
Question (KO): What are the ids of documents that contain the paragraph text 'Brazil' and 'Ireland'?
Gold SQL: SELECT document_id FROM Paragraphs WHERE paragraph_text  =  'Brazil' INTERSECT SELECT document_id FROM Paragraphs WHERE paragraph_text  =  'Ireland'
Generated SQL: SELECT d.id, t.id, p.id
FROM documents d
JOIN templates t ON d.template_id = t.id
JOIN paragraphs p ON t.id = p.template_id
WHERE p.text LIKE '%Brazil%' AND p.text LIKE '%Ireland%';
Exact Match: âŒ
Execution: âŒ (Error: no such column: d.id...)
--------------------------------------------------------------------------------

Example 759/1034:
Database: concert_singer
Question (KO): What is the year that had the most concerts?
Gold SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Generated SQL: SELECT
  YEAR,
  COUNT(concert_ID)
FROM
  concert
GROUP BY
  YEAR
ORDER BY
  COUNT(concert_ID) DESC
LIMIT 1;
Exact Match: âŒ
Execution Match: âŒ
--------------------------------------------------------------------------------

Example 760/1034:
Database: cre_Doc_Template_Mgt
Question (KO): How many paragraphs for the document with name 'Summer Show'?
Gold SQL: SELECT count(*) FROM Paragraphs AS T1 JOIN Documents AS T2 ON T1.document_ID  =  T2.document_ID WHERE T2.document_name  =  'Summer Show'
Generated SQL: SELECT COUNT(*)
FROM Templates
WHERE Template_Type_Code = 'Template_Type_Code'
  AND Date_Effective_From = 'Date_Effective_From'
  AND Date_Effective_To = 'Date_Effective_To'
  AND Template_Details = 'Template_Details';
Exact Match: âŒ
Execution Match: âŒ
--------------------------------------------------------------------------------

Example 761/1034:
Database: flight_2
Question (KO): How many 'United Airlines' flights go to Airport 'ASY'?
Gold SQL: SELECT count(*) FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T2.Airline  =  T1.uid WHERE T1.Airline  =  "United Airlines" AND T2.DestAirport  =  "ASY"
Generated SQL: SELECT COUNT(*)
FROM flights
WHERE airline = 'United Airlines' AND destination_airport = 'ASY'
Exact Match: âŒ
Execution: âŒ (Error: no such column: destination_airport...)
--------------------------------------------------------------------------------

Example 762/1034:
Database: pets_1
Question (KO): How many different types of pet are there?
Gold SQL: SELECT count(DISTINCT pettype) FROM pets
Generated SQL: SELECT COUNT(DISTINCT pet_type)
FROM pets;
Exact Match: âŒ
Execution: âŒ (Error: no such column: pet_type...)
--------------------------------------------------------------------------------

Example 763/1034:
Database: world_1
Question (KO): What is the total surface area of the countries in the Caribbean region?
Gold SQL: SELECT sum(SurfaceArea) FROM country WHERE Region  =  "Caribbean"
Generated SQL: SELECT
  SUM(SurfaceArea)
FROM
  country
WHERE
  Continent = 'Europe' AND
  GovernmentForm = 'Republic' AND
  HeadOfState = 'King' AND
  Capital = 'Paris' AND
  Language = 'French' AND
  IsOfficial = 'Yes' AND
  Percentage = '100%';
Exact Match: âŒ
Execution: âŒ (Error: no such column: Language...)
--------------------------------------------------------------------------------

Example 764/1034:
Database: cre_Doc_Template_Mgt
Question (KO): What is the document id with least number of paragraphs?

,index,db_id,question,gold_sql,generated_sql,exact_match,execution_match,execution_error
0,427,museum_visit,Find the number of visitors who did not visit ...,SELECT count(*) FROM visitor WHERE id NOT IN (...,SELECT COUNT(*) \nFROM visitor \nWHERE visit_i...,False,False,no such column: visit_id
1,23,concert_singer,"For each stadium, how many concerts play there?","SELECT T2.name , count(*) FROM concert AS T1 ...",SELECT COUNT(*) FROM stadium WHERE name = 'con...,False,False,You can only execute one statement at a time.
2,74,pets_1,What is the average weight for each type of pet?,"SELECT avg(weight) , pettype FROM pets GROUP ...","SELECT p.pet_type, AVG(p.weight) \nFROM pets p...",False,False,no such table: students
3,323,cre_Doc_Template_Mgt,What are the ids of templates with template ty...,SELECT template_id FROM Templates WHERE templa...,"SELECT \n T1.Template_ID,\n T1.Template_Type...",False,False,None
4,489,wta_1,Find the number of players for each hand type.,"SELECT count(*) , hand FROM players GROUP BY ...","SELECT \n hand,\n COUNT(*) \nFROM \n player...",False,False,None
...,...,...,...,...,...,...,...,...
1029,727,world_1,Give the total surface area covered by countri...,SELECT sum(SurfaceArea) FROM country WHERE Con...,"SELECT \n c1.name, \n c2.name, \n c1.surfac...",False,False,no such table: cities
1030,282,employee_hire_evaluation,What are the names of the employees who never ...,SELECT name FROM employee WHERE Employee_ID NO...,SELECT E.name\nFROM employee E\nWHERE E.Employ...,False,False,ambiguous column name: E.Employee_ID
1031,223,flight_2,Which city has most number of departing flights?,SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHT...,SELECT T2.City\nFROM airlines T1\nJOIN flights...,False,False,no such column: T2.City
1032,1013,singer,"For each citizenship, how many singers are fro...","SELECT Citizenship , COUNT(*) FROM singer GRO...","SELECT s.citizenship, COUNT(s.singer_id) \nFRO...",False,True,None
1033,447,wta_1,List the names of all winners who played in bo...,SELECT winner_name FROM matches WHERE YEAR = ...,"SELECT \n winner_name, \n winner_age, \n wi...",False,False,no such column: winner_name