# Spider 데이터셋(translated korean question)에 대한 Llama 3.1 원본 모델 성능 테스트

In [1]:
# Google Drive 연결
from google.colab import drive
drive.mount('/content/drive')

# 경로 설정 (Spider 데이터셋이 저장된 경로로 수정하세요)
SPIDER_DIR = '/content/drive/MyDrive/spider/spider_data'  # 필요에 따라 수정
DATASET_PATH = '/content/drive/MyDrive/spider/spider_data/spider_train_translations_final.csv'  # 필요에 따라 수정

Mounted at /content/drive

In [2]:

!pip uninstall unsloth triton -y
#!pip install triton vllm unsloth tqdm pandas bitsandbytes
!pip install "unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git"
!pip install --no-deps "xformers<0.0.27" "trl<0.9.0" peft accelerate bitsandbytes

WARNING: Skipping unsloth as it is not installed.
Found existing installation: triton 3.2.0
Uninstalling triton-3.2.0:
  Successfully uninstalled triton-3.2.0
Collecting unsloth@ git+https://github.com/unslothai/unsloth.git (from unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Cloning https://github.com/unslothai/unsloth.git to /tmp/pip-install-cmrtfzur/unsloth_e6069b52cbe1404a898086bb5f2950b1
  Running command git clone --filter=blob:none --quiet https://github.com/unslothai/unsloth.git /tmp/pip-install-cmrtfzur/unsloth_e6069b52cbe1404a898086bb5f2950b1
  Resolved https://github.com/unslothai/unsloth.git to commit c1b73fa8836aa7e8b9ee13d748369f8f61e1fac5
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting unsloth_zoo>=2025.5.11 (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading unsloth_zoo-2025.6.1-py3-none-any.whl.metadata (8.1 kB)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (24.2)
Collecting tyro (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading tyro-0.9.24-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: transformers!=4.47.0,!=4.52.0,!=4.52.1,!=4.52.2,>=4.51.3 in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (4.52.4)
Collecting datasets>=3.4.1 (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading datasets-3.6.0-py3-none-any.whl.metadata (19 kB)
Requirement already satisfied: sentencepiece>=0.2.0 in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.2.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (4.67.1)
Requirement already satisfied: psutil in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (5.9.5)
Requirement already satisfied: wheel>=0.42.0 in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.45.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.0.2)
Collecting protobuf<4.0.0 (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading protobuf-3.20.3-py2.py3-none-any.whl.metadata (720 bytes)
Requirement already satisfied: huggingface_hub in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.32.4)
Requirement already satisfied: hf_transfer in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.1.9)
Collecting bitsandbytes>=0.45.5 (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading bitsandbytes-0.46.0-py3-none-manylinux_2_24_x86_64.whl.metadata (10 kB)
Requirement already satisfied: torch<3,>=2.2 in /usr/local/lib/python3.11/dist-packages (from bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.6.0+cu124)
Requirement already satisfied: filelock in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.18.0)
Requirement already satisfied: pyarrow>=15.0.0 in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (18.1.0)
Requirement already satisfied: dill<0.3.9,>=0.3.0 in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.3.7)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.2.2)
Requirement already satisfied: requests>=2.32.2 in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.32.3)
Requirement already satisfied: xxhash in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.5.0)
Requirement already satisfied: multiprocess<0.70.17 in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.70.15)
Collecting fsspec<=2025.3.0,>=2023.1.0 (from fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading fsspec-2025.3.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (6.0.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.11/dist-packages (from huggingface_hub->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (4.14.0)
Requirement already satisfied: hf-xet<2.0.0,>=1.1.2 in /usr/local/lib/python3.11/dist-packages (from huggingface_hub->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (1.1.2)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.11/dist-packages (from transformers!=4.47.0,!=4.52.0,!=4.52.1,!=4.52.2,>=4.51.3->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2024.11.6)
Requirement already satisfied: tokenizers<0.22,>=0.21 in /usr/local/lib/python3.11/dist-packages (from transformers!=4.47.0,!=4.52.0,!=4.52.1,!=4.52.2,>=4.51.3->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.21.1)
Requirement already satisfied: safetensors>=0.4.3 in /usr/local/lib/python3.11/dist-packages (from transformers!=4.47.0,!=4.52.0,!=4.52.1,!=4.52.2,>=4.51.3->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.5.3)
Collecting triton>=3.0.0 (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading triton-3.3.1-cp311-cp311-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (1.5 kB)
Requirement already satisfied: accelerate>=0.34.1 in /usr/local/lib/python3.11/dist-packages (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (1.7.0)
Collecting trl!=0.15.0,!=0.9.0,!=0.9.1,!=0.9.2,!=0.9.3,>=0.7.9 (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading trl-0.18.1-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: peft!=0.11.0,>=0.7.1 in /usr/local/lib/python3.11/dist-packages (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.15.2)
Collecting cut_cross_entropy (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading cut_cross_entropy-25.1.1-py3-none-any.whl.metadata (9.3 kB)
Requirement already satisfied: pillow in /usr/local/lib/python3.11/dist-packages (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (11.2.1)
Collecting msgspec (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading msgspec-0.19.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.9 kB)
Requirement already satisfied: docstring-parser>=0.15 in /usr/local/lib/python3.11/dist-packages (from tyro->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.16)
Requirement already satisfied: rich>=11.1.0 in /usr/local/lib/python3.11/dist-packages (from tyro->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (13.9.4)
Collecting shtab>=1.5.6 (from tyro->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading shtab-1.7.2-py3-none-any.whl.metadata (7.4 kB)
Requirement already satisfied: typeguard>=4.0.0 in /usr/local/lib/python3.11/dist-packages (from tyro->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (4.4.2)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /usr/local/lib/python3.11/dist-packages (from fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.11.15)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2025.4.26)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.11/dist-packages (from rich>=11.1.0->tyro->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.11/dist-packages (from rich>=11.1.0->tyro->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.19.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.11/dist-packages (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.5)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.11/dist-packages (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.1.6)
Collecting nvidia-cuda-nvrtc-cu12==12.4.127 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cuda_nvrtc_cu12-12.4.127-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cuda-runtime-cu12==12.4.127 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cuda_runtime_cu12-12.4.127-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cuda-cupti-cu12==12.4.127 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cuda_cupti_cu12-12.4.127-py3-none-manylinux2014_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cudnn-cu12==9.1.0.70 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cudnn_cu12-9.1.0.70-py3-none-manylinux2014_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cublas-cu12==12.4.5.8 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cublas_cu12-12.4.5.8-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cufft-cu12==11.2.1.3 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cufft_cu12-11.2.1.3-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-curand-cu12==10.3.5.147 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_curand_cu12-10.3.5.147-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cusolver-cu12==11.6.1.9 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cusolver_cu12-11.6.1.9-py3-none-manylinux2014_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cusparse-cu12==12.3.1.170 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cusparse_cu12-12.3.1.170-py3-none-manylinux2014_x86_64.whl.metadata (1.6 kB)
Requirement already satisfied: nvidia-cusparselt-cu12==0.6.2 in /usr/local/lib/python3.11/dist-packages (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.6.2)
Requirement already satisfied: nvidia-nccl-cu12==2.21.5 in /usr/local/lib/python3.11/dist-packages (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.21.5)
Requirement already satisfied: nvidia-nvtx-cu12==12.4.127 in /usr/local/lib/python3.11/dist-packages (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (12.4.127)
Collecting nvidia-nvjitlink-cu12==12.4.127 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_nvjitlink_cu12-12.4.127-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting triton>=3.0.0 (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading triton-3.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.4 kB)
Requirement already satisfied: sympy==1.13.1 in /usr/local/lib/python3.11/dist-packages (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (1.13.1)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /usr/local/lib/python3.11/dist-packages (from sympy==1.13.1->torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (1.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2025.2)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.6.1)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (1.3.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (25.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (1.6.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (6.4.4)

Collecting xformers<0.0.27
  Downloading xformers-0.0.26.post1-cp311-cp311-manylinux2014_x86_64.whl.metadata (1.0 kB)
Collecting trl<0.9.0
  Downloading trl-0.8.6-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: peft in /usr/local/lib/python3.11/dist-packages (0.15.2)
Requirement already satisfied: accelerate in /usr/local/lib/python3.11/dist-packages (1.7.0)
Requirement already satisfied: bitsandbytes in /usr/local/lib/python3.11/dist-packages (0.46.0)
Downloading xformers-0.0.26.post1-cp311-cp311-manylinux2014_x86_64.whl (222.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 222.8/222.8 MB 4.7 MB/s eta 0:00:00
Downloading trl-0.8.6-py3-none-any.whl (245 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 245.2/245.2 kB 28.4 MB/s eta 0:00:00
Installing collected packages: xformers, trl
  Attempting uninstall: trl
    Found existing installation: trl 0.18.1
    Uninstalling trl-0.18.1:
      Successfully uninstalled trl-0.18.1
Successfully installed trl-0.8.6 xformers-0.0.26.post1

## 3. 모델 및 토크나이저 로드

In [4]:
from unsloth import FastLanguageModel
import torch

# 모델 구성
max_seq_length = 2048  # 필요에 따라 조정
dtype = None  # 자동 감지
load_in_4bit = True
model_name = "unsloth/Meta-Llama-3.1-8B-Instruct-bnb-4bit"

# 모델 및 토크나이저 로드
print("Loading model and tokenizer...")
model, tokenizer = FastLanguageModel.from_pretrained(
    model_name=model_name,
    max_seq_length=max_seq_length,
    dtype=dtype,
    load_in_4bit=load_in_4bit,
)

Unsloth: Patching Xformers to fix some performance issues.
🦥 Unsloth: Will patch your computer to enable 2x faster free finetuning.

WARNING:xformers:WARNING[XFORMERS]: xFormers can't load C++/CUDA extensions. xFormers was built for:
    PyTorch 2.3.0+cu121 with CUDA 1201 (you have 2.6.0+cu124)
    Python  3.11.9 (you have 3.11.13)
  Please reinstall xformers (see https://github.com/facebookresearch/xformers#installing-xformers)
  Memory-efficient attention, SwiGLU, sparse and more won't be available.
  Set XFORMERS_MORE_DETAILS=1 for more details

🦥 Unsloth Zoo will now patch everything to make training faster!
Loading model and tokenizer...
==((====))==  Unsloth 2025.6.1: Fast Llama patching. Transformers: 4.52.4.
   \\   /|    NVIDIA L4. Num GPUs = 1. Max memory: 22.161 GB. Platform: Linux.
O^O/ \_/ \    Torch: 2.6.0+cu124. CUDA: 8.9. CUDA Toolkit: 12.4. Triton: 3.2.0
\        /    Bfloat16 = TRUE. FA [Xformers = None. FA2 = False]
 "-____-"     Free license: http://github.com/unslothai/unsloth
Unsloth: Fast downloading is enabled - ignore downloading bars which are red colored!

model.safetensors:   0%|          | 0.00/5.70G [00:00<?, ?B/s]

generation_config.json:   0%|          | 0.00/239 [00:00<?, ?B/s]

tokenizer_config.json:   0%|          | 0.00/55.5k [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/454 [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/17.2M [00:00<?, ?B/s]

Unsloth 2025.6.1 patched 32 layers with 32 QKV layers, 32 O layers and 32 MLP layers.

In [20]:

# ==============================================================================
# 1. 라이브러리 임포트
# ==============================================================================
import json
import os
import sqlite3
import re
import random
from tqdm import tqdm
import pandas as pd
import torch
from unsloth import FastLanguageModel
from IPython.display import display

# ==============================================================================
# 2. 경로 및 기본 설정
# ==============================================================================
# !!! 중요: 이 경로를 실제 Spider 데이터셋이 있는 디렉토리로 변경하세요 !!!
SPIDER_DIR = '/content/drive/MyDrive/spider/spider_data'  # 예: '/content/spider' 또는 'data/spider'

# 사용할 모델의 Hugging Face 경로
# 예: "unsloth/llama-3.1-8b-Instruct-bnb-4bit"
MODEL_NAME = "unsloth/llama-3.1-8b-Instruct-bnb-4bit"


# ==============================================================================
# 3. 데이터 로딩 및 스키마 처리 헬퍼 함수
# ==============================================================================
def load_tables_data(tables_file):
    """tables.json 파일에서 테이블 스키마 정보를 로드합니다."""
    if not os.path.exists(tables_file):
        print(f"오류: '{tables_file}' 파일을 찾을 수 없습니다!")
        return None
    with open(tables_file, 'r', encoding='utf-8') as f:
        return json.load(f)

def create_schema_mapping(tables_data):
    """db_id를 키로 하는 스키마 정보 딕셔너리를 생성합니다."""
    schema_mapping = {}
    for item in tables_data:
        db_id = item["db_id"]
        tables = item["table_names_original"]
        columns = {tbl: [] for tbl in tables}
        column_types = {tbl: {} for tbl in tables}

        for i, (table_id, col_name) in enumerate(item["column_names_original"]):
            if table_id >= 0:
                table_name = tables[table_id]
                columns[table_name].append(col_name)
                column_types[table_name][col_name] = item["column_types"][i]

        primary_keys = []
        for pk_col_idx in item.get("primary_keys", []):
            table_id, col_name = item["column_names_original"][pk_col_idx]
            if table_id >= 0:
                primary_keys.append(f"{tables[table_id]}.{col_name}")

        schema_mapping[db_id] = {
            "tables": tables,
            "columns": columns,
            "column_types": column_types,
            "primary_keys": primary_keys,
        }
    return schema_mapping

def get_schema_text(db_id, schema_mapping):
    """주어진 db_id에 대한 텍스트 형식의 스키마를 생성합니다."""
    if db_id not in schema_mapping:
        return "Schema information not available"

    schema = schema_mapping[db_id]
    schema_text_parts = []

    for table_name in schema["tables"]:
        schema_text_parts.append(f"테이블: {table_name}")
        cols_info = []
        for col_name in schema["columns"].get(table_name, []):
            col_type = schema["column_types"][table_name][col_name]
            pk_marker = " (기본 키)" if f"{table_name}.{col_name}" in schema["primary_keys"] else ""
            cols_info.append(f"  - {col_name} ({col_type}){pk_marker}")
        schema_text_parts.append("컬럼:\n" + "\n".join(cols_info))

    return "\n".join(schema_text_parts)

# ==============================================================================
# 4. 핵심 로직: SQL 생성 함수
# ==============================================================================
def generate_sql(model, tokenizer, schema_info, question_ko):
    """
    모델에게 Markdown 코드 블록으로 응답하도록 지시하고, 후처리를 통해 SQL만 추출합니다.
    """
    messages = [
        {
            "role": "system",
            "content": "당신은 Text-to-SQL 전문가입니다. 주어진 스키마와 질문에 대한 SQL 쿼리를 생성하세요. 응답은 반드시 ```sql 코드 블록 안에 넣어야 합니다. 다른 어떤 설명도 추가하지 마세요."
        },
        {
            "role": "user",
            "content": f"아래 스키마와 질문을 바탕으로 SQL 쿼리를 markdown 코드 블록으로 작성해줘.\n\n[스키마]:\n{schema_info}\n\n[질문]:\n{question_ko}\n\n[SQL 쿼리]:"
        }
    ]

    inputs = tokenizer.apply_chat_template(
        messages,
        tokenize=True,
        add_generation_prompt=True,
        return_tensors="pt"
    ).to(model.device)

    outputs = model.generate(
        inputs,
        max_new_tokens=150,
        temperature=0.1,
        do_sample=True,
        pad_token_id=tokenizer.eos_token_id
    )

    full_response = tokenizer.decode(outputs[0][len(inputs[0]):], skip_special_tokens=True)

    # --- 후처리 로직: ```sql 블록에서 SQL 쿼리 추출 ---
    match = re.search(r'```sql\s*(.*?)\s*```', full_response, re.DOTALL)

    if match:
        sql_query = match.group(1).strip()
        return sql_query
    else:
        # 모델이 코드 블록을 생성하지 않은 경우에 대한 대체(Fallback) 로직
        fallback_match = re.search(r'(?i)(SELECT|WITH|\(SELECT)', full_response)
        if fallback_match:
            return full_response[fallback_match.start():].strip()
        return full_response.strip() # 최악의 경우, 디버깅을 위해 그대로 반환

# ==============================================================================
# 5. 평가 헬퍼 함수
# ==============================================================================
def normalize_sql(sql):
    """SQL 쿼리를 비교하기 쉽도록 정규화합니다."""
    if not isinstance(sql, str):
        return ""
    sql = sql.lower().strip()
    sql = re.sub(r'\s+', ' ', sql)
    sql = re.sub(r'\s*,\s*', ', ', sql)
    sql = re.sub(r'\s*=\s*', ' = ', sql)
    sql = re.sub(r';+\s*$', '', sql)
    return sql

def execute_sql(db_path, sql):
    """SQLite 데이터베이스에서 SQL을 실행하고 결과를 반환합니다."""
    try:
        conn = sqlite3.connect(db_path)
        cursor = conn.cursor()
        cursor.execute(sql)
        results = cursor.fetchall()
        conn.close()
        return True, results
    except Exception as e:
        return False, str(e)

# ==============================================================================
# 6. 메인 평가 실행 함수
# ==============================================================================
def run_evaluation_ko_from_csv(model, tokenizer, n_samples=10, random_seed=42):
    """
    CSV 파일에서 한국어 질문을 사용하여 모델을 평가합니다.
    """
    try:
        csv_path = os.path.join(SPIDER_DIR, 'spider_validation_final.csv')
        tables_file = os.path.join(SPIDER_DIR, 'tables.json')
        db_dir = os.path.join(SPIDER_DIR, 'database')

        # 파일 존재 확인
        for path in [csv_path, tables_file, db_dir]:
            if not os.path.exists(path):
                print(f"❌ 필수 파일/디렉토리를 찾을 수 없습니다: {path}")
                print(f"SPIDER_DIR ('{SPIDER_DIR}') 경로가 올바른지 확인하세요.")
                return

        print(f"✅ 데이터셋 파일 확인 완료.")
        print(f"Loading CSV file from {csv_path}…")
        df = pd.read_csv(csv_path)

        # 스키마 정보 로드
        tables_data = load_tables_data(tables_file)
        schema_dict = create_schema_mapping(tables_data)

        # 랜덤 샘플 선택
        random.seed(random_seed)
        sample_indices = random.sample(range(len(df)), min(n_samples, len(df)))
        sampled_df = df.iloc[sample_indices]

        print(f"\n🚀 총 {len(sampled_df)}개 랜덤 샘플에 대한 평가를 시작합니다…\n" + "="*80)

        results = []

        for i, (idx, row) in enumerate(sampled_df.iterrows()):
            db_id = row['db_id']
            question_ko = row['question_ko']
            gold_sql = row['query']

            print(f"\nExample {i+1}/{len(sampled_df)}:")
            print(f"Database: {db_id}")
            print(f"Question (KO): {question_ko}")
            print(f"Gold SQL: {gold_sql}")

            schema_info = get_schema_text(db_id, schema_dict)
            pred_sql = generate_sql(model, tokenizer, schema_info, question_ko)

            print(f"Generated SQL: {pred_sql}")

            # 정확한 일치(Exact Match) 평가
            exact_match = normalize_sql(gold_sql) == normalize_sql(pred_sql)
            print(f"Exact Match: {'✅' if exact_match else '❌'}")

            # 실행 정확도(Execution Accuracy) 평가
            db_path = os.path.join(db_dir, db_id, f"{db_id}.sqlite")
            execution_match = False
            execution_error = None

            if os.path.exists(db_path):
                gold_success, gold_result = execute_sql(db_path, gold_sql)
                pred_success, pred_result = execute_sql(db_path, pred_sql)

                if not pred_success:
                    execution_error = pred_result
                    print(f"Execution: ❌ (Error: {str(execution_error)[:100]}...)")
                elif not gold_success:
                     print(f"Execution: ⚠️ (Gold SQL 실행 오류)")
                else:
                    execution_match = (set(gold_result) == set(pred_result))
                    print(f"Execution Match: {'✅' if execution_match else '❌'}")
            else:
                execution_error = "DB file not found"
                print(f"Execution: ⚠️ (DB 파일을 찾을 수 없음)")

            print("-" * 80)

            results.append({
                'index': idx, 'db_id': db_id, 'question_ko': question_ko,
                'gold_sql': gold_sql, 'generated_sql': pred_sql,
                'exact_match': exact_match, 'execution_match': execution_match,
                'execution_error': execution_error
            })

        # 최종 결과 요약
        total = len(results)
        em_count = sum(r['exact_match'] for r in results)
        ex_count = sum(r['execution_match'] for r in results)

        print(f"\n{'='*80}\n📊 최종 평가 요약 (총 {total}개 예제):\n{'='*80}")
        print(f"  - 완전 일치 (EM): {em_count} / {total} ({em_count/total:.2%})")
        print(f"  - 실행 정확도 (EX): {ex_count} / {total} ({ex_count/total:.2%})")
        print(f"{'='*80}")

        return pd.DataFrame(results)

    except Exception as e:
        print(f"🚨 평가 중 심각한 오류 발생: {e}")
        import traceback
        traceback.print_exc()
        return None

# ==============================================================================
# 7. 스크립트 실행
# ==============================================================================
if __name__ == '__main__':

    # 평가 실행
    # n_samples: 평가할 샘플 수. 전체(1034개)를 평가하려면 1034로 설정
    evaluation_results_df = run_evaluation_ko_from_csv(
        model,
        tokenizer,
        n_samples=1034, # 테스트를 위해 10개만 실행, 전체는 1034로 변경
        random_seed=15
    )

    # 결과 데이터프레임 출력
    if evaluation_results_df is not None:
        print("\n\n📋 상세 평가 결과 테이블:")
        display(evaluation_results_df)

스트리밍 출력 내용이 길어서 마지막 5000줄이 삭제되었습니다.
Generated SQL: SELECT
  b.breed_name,
  o.owner_name,
  d.dog_name,
  t.treatment_name,
  p.professional_name
FROM
  breeds b
  JOIN owners o ON b.breed_id = o.owner_id
  JOIN dogs d ON o.owner_id = d.owner_id
  JOIN treatments t ON d.dog_id = t.dog_id
  JOIN professionals p ON t.treatment_id = p.professional_id;
Exact Match: ❌
Execution: ❌ (Error: no such column: o.owner_name...)
--------------------------------------------------------------------------------

Example 780/1034:
Database: cre_Doc_Template_Mgt
Question (KO): 이름이 'Customer reviews'인 문서의 문단 텍스트는 무엇입니까?
Gold SQL: SELECT T1.paragraph_text FROM Paragraphs AS T1 JOIN Documents AS T2 ON T1.document_id  =  T2.document_id WHERE T2.document_name  =  "Customer reviews"
Generated SQL: SELECT
  T1.Template_ID,
  T1.Template_Type_Code,
  T1.Template_Type_Description,
  T1.Version_Number,
  T1.Date_Effective_From,
  T1.Date_Effective_To,
  T1.Template_Details,
  T2.Document_ID,
  T2.Document_Name,
  T2.Document_Description,
  T2.Other_Details
FROM
  Templates T1
  JOIN Documents T2 ON T1.Template_ID = T2.Template_ID
WHERE
  T1.Template_Type_Code = 'Customer reviews'
  AND T1.Date_Effective_From = '2023-01-
Exact Match: ❌
Execution: ❌ (Error: unrecognized token: "'2023-01-"...)
--------------------------------------------------------------------------------

Example 781/1034:
Database: car_1
Question (KO): 볼보 모델 자동차의 평균 edispl은 얼마입니까?
Gold SQL: SELECT avg(T2.edispl) FROM CAR_NAMES AS T1 JOIN CARS_DATA AS T2 ON T1.MakeId  =  T2.Id WHERE T1.Model  =  'volvo';
Generated SQL: SELECT
  AVG(edispl)
FROM
  car_data
WHERE
  make = 'Volvo'
Exact Match: ❌
Execution: ❌ (Error: no such table: car_data...)
--------------------------------------------------------------------------------

Example 782/1034:
Database: flight_2
Question (KO): "JetBlue Airways" 항공사는 어느 나라에 속합니까?
Gold SQL: SELECT Country FROM AIRLINES WHERE Airline  =  "JetBlue Airways"
Generated SQL: SELECT a.airline, a.airport_name, a.country, f.flight_no, f.source_airport, f.dest_airport
FROM airlines a
JOIN airports ap ON a.airport_code = ap.airport_code
JOIN flights f ON a.airline = f.airline
WHERE a.airline = 'JetBlue Airways';
Exact Match: ❌
Execution: ❌ (Error: no such column: a.airport_name...)
--------------------------------------------------------------------------------

Example 783/1034:
Database: tvshow
Question (KO): 영어를 사용하는 TV 채널은 몇 개인가요?
Gold SQL: SELECT count(*) FROM TV_Channel WHERE LANGUAGE = "English";
Generated SQL: 아래 스키마와 질문을 바탕으로 SQL 쿼리를 생성해줘.

[스키마]:
테이블: TV_Channel
컬럼:
  - id (text) (기본 키)
  - series_name (text)
  - country (text)
  - language (text)
  - content (text)
  - pixel_aspect_ratio (text)
  - hight_definition (text)
  - pay_per_view (text)
  - package_option (text)

테이블: TV_Series
컬럼:
  - id (number) (기본 키)
  - episode (text)
  - air_date (text)
  - rating (text)
  - share (number
Exact Match: ❌
Execution: ❌ (Error: near "아래": syntax error...)
--------------------------------------------------------------------------------

Example 784/1034:
Database: orchestra
Question (KO): 나이순으로 정렬된 지휘자들의 이름은 무엇입니까?
Gold SQL: SELECT Name FROM conductor ORDER BY Age ASC
Generated SQL: 아래 스키마와 질문을 바탕으로 SQL 쿼리를 생성해줘.

[스키마]:
테이블: conductor
컬럼:
  - Conductor_ID (number) (기본 키)
  - Name (text)
  - Age (number)
  - Nationality (text)
  - Year_of_Work (number)

테이블: orchestra
컬럼:
  - Orchestra_ID (number) (기본 키)
  - Orchestra (text)
  - Conductor_ID (number)

테이블: performance
컬럼:
  - Performance_ID (number) (기본 키)
  - Orchestra_ID (number)
  - Conductor_ID (number)
  - Type
Exact Match: ❌
Execution: ❌ (Error: near "아래": syntax error...)
--------------------------------------------------------------------------------

Example 785/1034:
Database: course_teach
Question (KO): 교사들의 다양한 고향과 각 고향 출신 교사의 수를 보여주십시오.
Gold SQL: SELECT Hometown ,  COUNT(*) FROM teacher GROUP BY Hometown
Generated SQL: SELECT c.Course_ID, t.Teacher_ID, c.Grade
FROM course c
JOIN course_arrange ca ON c.Course_ID = ca.Course_ID
JOIN teacher t ON ca.Teacher_ID = t.Teacher_ID
WHERE c.Grade > 80 AND t.Hometown = 'New York';
Exact Match: ❌
Execution: ❌ (Error: no such column: c.Grade...)
--------------------------------------------------------------------------------

Example 786/1034:
Database: student_transcripts_tracking
Question (KO): 석사 학생과 학사 학생이 모두 등록한 학기를 찾으세요.
Gold SQL: SELECT DISTINCT T2.semester_id FROM Degree_Programs AS T1 JOIN Student_Enrolment AS T2 ON T1.degree_program_id  =  T2.degree_program_id WHERE degree_summary_name  =  'Master' INTERSECT SELECT DISTINCT T2.semester_id FROM Degree_Programs AS T1 JOIN Student_Enrolment AS T2 ON T1.degree_program_id  =  T2.degree_program_id WHERE degree_summary_name  =  'Bachelor'
Generated SQL: SELECT
  student_id,
  student_name,
  student_email,
  student_phone,
  student_address,
  student_enrolment_id,
  student_course_id,
  student_transcript_id
FROM
  student_enrolment
WHERE
  student_id = 123
  AND student_name = 'John Doe'
  AND student_email = 'john.doe@example.com'
  AND student_phone = '123-456-7890'
  AND student_address = '123 Main St, Anytown, USA'
  AND student_enrolment_id = 456
  AND student_course_id = 789
Exact Match: ❌
Execution: ❌ (Error: no such column: student_name...)
--------------------------------------------------------------------------------

Example 787/1034:
Database: world_1
Question (KO): 영어를 사용하지 않는 국가들의 국가 코드를 반환하세요.
Gold SQL: SELECT CountryCode FROM countrylanguage EXCEPT SELECT CountryCode FROM countrylanguage WHERE LANGUAGE  =  "English"
Generated SQL: SELECT country_code
FROM country
WHERE name = 'United States';
Exact Match: ❌
Execution: ❌ (Error: no such column: country_code...)
--------------------------------------------------------------------------------

Example 788/1034:
Database: network_1
Question (KO): 어떤 학년이 4명 이상의 고등학생을 가지고 있나요?
Gold SQL: SELECT grade FROM Highschooler GROUP BY grade HAVING count(*)  >=  4
Generated SQL: SELECT h.name, h.grade, f.name, f.grade
FROM Highschooler h
JOIN Friend f
ON h.id = f.id
WHERE h.grade > 4;
Exact Match: ❌
Execution: ❌ (Error: no such column: f.name...)
--------------------------------------------------------------------------------

Example 789/1034:
Database: course_teach
Question (KO): 각 교사의 이름과 그들이 가르치는 과정은 무엇입니까?
Gold SQL: SELECT T3.Name ,  T2.Course FROM course_arrange AS T1 JOIN course AS T2 ON T1.Course_ID  =  T2.Course_ID JOIN teacher AS T3 ON T1.Teacher_ID  =  T3.Teacher_ID
Generated SQL: SELECT T1.Name, T1.Age, T2.Name, T2.Age
FROM teacher T1
JOIN course T2
ON T1.Teacher_ID = T2.Teacher_ID
WHERE T1.Name = 'John Doe';
Exact Match: ❌
Execution: ❌ (Error: no such column: T2.Name...)
--------------------------------------------------------------------------------

Example 790/1034:
Database: employee_hire_evaluation
Question (KO): 모든 상점의 최소 및 최대 제품 수를 찾아주세요.
Gold SQL: SELECT min(Number_products) ,  max(Number_products) FROM shop
Generated SQL: SELECT e.Employee_ID, e.Name, s.Shop_ID, s.Name
FROM employee e
JOIN shop s
ON e.Employee_ID = s.Employee_ID
WHERE e.Age > 30
AND s.Location = 'New York'
AND e.Manager_name = 'John Doe'
AND s.Number_products > 100
AND e.Start_from > '2020-01-01'
AND s.District = 'Manhattan'
AND e.Is_full_time = TRUE;
Exact Match: ❌
Execution: ❌ (Error: no such column: e.Manager_name...)
--------------------------------------------------------------------------------

Example 791/1034:
Database: dog_kennels
Question (KO): 일시적으로 개를 소유하지 않은 소유자들은 몇 명입니까?
Gold SQL: SELECT count(*) FROM Owners WHERE owner_id NOT IN ( SELECT owner_id FROM Dogs )
Generated SQL: SELECT
  b.breed_code,
  b.breed_name,
  c.charge_id,
  c.charge_type,
  c.charge_amount,
  s.size_code,
  s.size_description,
  t.treatment_type_code,
  t.treatment_type_description,
  o.owner_id,
  o.first_name,
  o.last_name,
  o.street,
  o.city,
  o.state,
  o.zip_code,
  o.email_address,
  o.home_phone,
  o.cell_number,
  d.dog_id,
  d.name,
  d.age,
  d.date_of_birth,
  d
Exact Match: ❌
Execution: ❌ (Error: no such column: b.breed_code...)
--------------------------------------------------------------------------------

Example 792/1034:
Database: car_1
Question (KO): 각 제조업체별로 몇 개의 자동차 모델이 생산되었습니까? 수와 제조업체 전체 이름만 나열하세요.
Gold SQL: select count(*) ,  t2.fullname from model_list as t1 join car_makers as t2 on t1.maker  =  t2.id group by t2.id;
Generated SQL: SELECT m.Maker, m.Model, c.Continent
FROM car_makers m
JOIN countries c
ON m.Country = c.Country
WHERE m.Year = 2023;
Exact Match: ❌
Execution: ❌ (Error: no such column: m.Model...)
--------------------------------------------------------------------------------

Example 793/1034:
Database: flight_2
Question (KO): Aberdeen에서 출발하는 항공편 수를 반환하세요.
Gold SQL: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.SourceAirport  =  T2.AirportCode WHERE T2.City  =  "Aberdeen"
Generated SQL: SELECT a.airline, f.flight_no, f.source_airport, f.dest_airport
FROM airlines a
JOIN flights f ON a.uid = f.airline
WHERE a.airline = 'Aberdeen';
Exact Match: ❌
Execution: ❌ (Error: no such column: f.flight_no...)
--------------------------------------------------------------------------------

Example 794/1034:
Database: tvshow
Question (KO): "Ben Jones"가 감독한 모든 만화를 나열하세요.
Gold SQL: SELECT Title FROM Cartoon WHERE Directed_by = "Ben Jones";
Generated SQL: SELECT series_name
FROM TV_Channel
WHERE id IN (
  SELECT id
  FROM TV_Channel
  WHERE series_name = 'Ben Jones'
);
Exact Match: ❌
Execution Match: ❌
--------------------------------------------------------------------------------

Example 795/1034:
Database: course_teach
Question (KO): 모든 교사의 나이와 고향은 무엇입니까?
Gold SQL: SELECT Age ,  Hometown FROM teacher
Generated SQL: SELECT T2.Name, T2.Age, T2.Hometown
FROM course_arrange T1
JOIN teacher T2
ON T1.Teacher_ID = T2.Teacher_ID
WHERE T1.Course_ID = 1;
Exact Match: ❌
Execution Match: ❌
--------------------------------------------------------------------------------

Example 796/1034:
Database: world_1
Question (KO): 가장 많은 국가에서 사용되는 언어는 무엇입니까?
Gold SQL: SELECT LANGUAGE FROM countrylanguage GROUP BY LANGUAGE ORDER BY count(*) DESC LIMIT 1
Generated SQL: SELECT language
FROM countrylanguage
WHERE countrycode = 'USA'
AND language = 'English';
Exact Match: ❌
Execution Match: ✅
--------------------------------------------------------------------------------

Example 797/1034:
Database: student_transcripts_tracking
Question (KO): 2개 미만의 섹션이 있는 모든 과정의 이름과 ID는 무엇입니까?
Gold SQL: SELECT T1.course_name ,  T1.course_id FROM Courses AS T1 JOIN Sections AS T2 ON T1.course_id  =  T2.course_id GROUP BY T1.course_id HAVING count(*)  <=  2
Generated SQL: SELECT
  student_id,
  course_id,
  semester_id,
  degree_program_id,
  transcript_id,
  transcript_date,
  other_details
FROM
  student_enrolment_courses
WHERE
  student_id = 1
  AND course_id = 2
  AND semester_id = 3
  AND degree_program_id = 4
  AND transcript_id = 5
  AND transcript_date = '2023-02-15'
  AND other_details = 'This is a test';
Exact Match: ❌
Execution: ❌ (Error: no such column: student_id...)
--------------------------------------------------------------------------------

Example 798/1034:
Database: poker_player
Question (KO): 이름의 알파벳 오름차순으로 정렬된 사람들의 이름과 생년월일을 나열하세요.
Gold SQL: SELECT Name ,  Birth_Date FROM people ORDER BY Name ASC
Generated SQL: SELECT p.name, p.birth_date, p.height
FROM poker_player p
JOIN people pe ON p.people_id = pe.people_id
ORDER BY p.name;
Exact Match: ❌
Execution: ❌ (Error: no such column: p.name...)
--------------------------------------------------------------------------------

Example 799/1034:
Database: car_1
Question (KO): 8개의 실린더를 가졌거나 1980년 전에 생산된 자동차의 최대 갤런당 마일은 얼마입니까?
Gold SQL: select max(mpg) from cars_data where cylinders  =  8 or year  <  1980
Generated SQL: SELECT
  c.ContId,
  c.ContName,
  c.Continent,
  c.CountryId,
  c.CountryName,
  c.MakerId,
  c.MakerName,
  c.ModelId,
  c.ModelName
FROM
  continents c
JOIN
  countries cc ON c.Continent = cc.Continent
JOIN
  car_makers cm ON cc.CountryId = cm.CountryId
JOIN
  cars_data cd ON cm.MakerId = cd.MakerId
WHERE
  c.Continent = 'Europe' AND
  cc.CountryName = 'France' AND
Exact Match: ❌
Execution: ❌ (Error: incomplete input...)
--------------------------------------------------------------------------------

Example 800/1034:
Database: car_1
Question (KO): 프랑스에서 케어 제조업체의 수는 몇 개입니까?
Gold SQL: SELECT count(*) FROM CAR_MAKERS AS T1 JOIN COUNTRIES AS T2 ON T1.Country  =  T2.CountryId WHERE T2.CountryName  =  'france';
Generated SQL: SELECT
  c.Continent,
  c.CountryName,
  m.Maker,
  m.FullName,
  m.Year,
  m.Horsepower,
  m.Weight,
  m.Accelerate
FROM
  car_makers m
  JOIN car_names c ON m.Id = c.Id
WHERE
  c.Continent = 'Europe';
Exact Match: ❌
Execution: ❌ (Error: no such column: c.Continent...)
--------------------------------------------------------------------------------

Example 801/1034:
Database: pets_1
Question (KO): 각 종류의 반려동물에 대한 최대 체중과 종류를 나열하세요.
Gold SQL: SELECT max(weight) ,  petType FROM pets GROUP BY petType
Generated SQL: SELECT p.pet_type, s.sex, s.age
FROM Student s
JOIN Has_Pet hp ON s.stu_id = hp.stu_id
JOIN Pet p ON hp.pet_id = p.pet_id
WHERE p.weight > (SELECT AVG(weight) FROM Pet)
AND s.age > (SELECT AVG(age) FROM Student)
AND s.sex = 'M';
Exact Match: ❌
Execution: ❌ (Error: no such table: Pet...)
--------------------------------------------------------------------------------

Example 802/1034:
Database: flight_2
Question (KO): 미국의 항공사 수를 반환하세요.
Gold SQL: SELECT count(*) FROM AIRLINES WHERE Country  =  "USA"
Generated SQL: SELECT A.airline, A.abbreviation, A.country
FROM airlines A
JOIN flights F ON A.airline = F.airline
WHERE F.source_airport = 'LAX' AND F.dest_airport = 'SFO';
Exact Match: ❌
Execution: ❌ (Error: no such column: F.source_airport...)
--------------------------------------------------------------------------------

Example 803/1034:
Database: poker_player
Question (KO): 수입을 기준으로 내림차순 정렬된 포커 플레이어들의 이름을 반환하세요.
Gold SQL: SELECT T1.Name FROM people AS T1 JOIN poker_player AS T2 ON T1.People_ID  =  T2.People_ID ORDER BY T2.Earnings DESC
Generated SQL: SELECT p.name, p.nationality, p.birth_date, p.height, p.earnings
FROM poker_player p
JOIN people p2 ON p.poker_player_id = p2.people_id
ORDER BY p.earnings DESC;
Exact Match: ❌
Execution: ❌ (Error: no such column: p.name...)
--------------------------------------------------------------------------------

Example 804/1034:
Database: car_1
Question (KO): 연도별 평균 무게와 연도는?
Gold SQL: SELECT avg(Weight) ,  YEAR FROM CARS_DATA GROUP BY YEAR;
Generated SQL: 아래 스키마와 질문을 바탕으로 SQL 쿼리를 생성해줘.

[스키마]:
테이블: continents
컬럼:
  - ContId (number) (기본 키)
  - ContName (text)
  - Country (text)
  - Maker (text)
  - Model (text)

테이블: countries
컬럼:
  - CountryId (number) (기본 키)
  - CountryName (text)
  - Continent (number)
  - Maker (text)
  - Model (text)

테이블: car_makers
컬럼:
  - MakerId (number) (기본 키)
  - MakerName (text)
Exact Match: ❌
Execution: ❌ (Error: near "아래": syntax error...)
--------------------------------------------------------------------------------

Example 805/1034:
Database: poker_player
Question (KO): 모든 포커 플레이어들의 파이널 테이블 진출 횟수와 최고 성적은 무엇인가요?
Gold SQL: SELECT Final_Table_Made ,  Best_Finish FROM poker_player
Generated SQL: SELECT p.Poker_Player_ID, p.People_ID, p.Final_Table_Made, p.Best_Finish, p.Money_Rank, p.Earnings, p.Height, p.Nationality
FROM poker_player p
JOIN people pe ON p.People_ID = pe.People_ID
WHERE p.Birth_Date = (SELECT Birth_Date FROM people WHERE Name = 'John Doe');
Exact Match: ❌
Execution: ❌ (Error: no such column: p.Height...)
--------------------------------------------------------------------------------

Example 806/1034:
Database: poker_player
Question (KO): 모든 포커 플레이어들의 평균 수입을 반환하세요.
Gold SQL: SELECT avg(Earnings) FROM poker_player
Generated SQL: SELECT AVG(Earnings)
FROM poker_player
WHERE Nationality = 'USA';
Exact Match: ❌
Execution: ❌ (Error: no such column: Nationality...)
--------------------------------------------------------------------------------

Example 807/1034:
Database: dog_kennels
Question (KO): 치료를 받지 않은 개들의 수를 알려주세요.
Gold SQL: select count(*) from dogs where dog_id not in ( select dog_id from treatments )
Generated SQL: SELECT
  b.breed_code,
  b.breed_name,
  c.charge_id,
  c.charge_type,
  c.charge_amount,
  s.size_code,
  s.size_description,
  t.treatment_type_code,
  t.treatment_type_description,
  o.owner_id,
  o.first_name,
  o.last_name,
  o.street,
  o.city,
  o.state,
  o.zip_code,
  o.email_address,
  o.home_phone,
  o.cell_number,
  d.dog_id,
  d.name,
  d.age,
  d.weight
Exact Match: ❌
Execution: ❌ (Error: no such column: b.breed_code...)
--------------------------------------------------------------------------------

Example 808/1034:
Database: car_1
Question (KO): 대륙별로 각 ID, 이름 및 포함된 국가 수를 나열하세요.
Gold SQL: SELECT T1.ContId ,  T1.Continent ,  count(*) FROM CONTINENTS AS T1 JOIN COUNTRIES AS T2 ON T1.ContId  =  T2.Continent GROUP BY T1.ContId;
Generated SQL: SELECT
  c.Continent,
  c.CountryName,
  m.Maker,
  m.FullName,
  m.Year,
  m.MPG,
  m.Cylinders,
  m.Weight,
  m.Accelerate
FROM
  cars_data c
  JOIN car_makers m ON c.Id = m.Id
ORDER BY
  c.Continent,
  c.CountryName,
  m.Maker,
  m.FullName,
  m.Year;
Exact Match: ❌
Execution: ❌ (Error: no such column: c.Continent...)
--------------------------------------------------------------------------------

Example 809/1034:
Database: pets_1
Question (KO): 고양이를 반려동물로 소유하지 않은 학생들의 ID는 무엇인가요?
Gold SQL: SELECT stuid FROM student EXCEPT SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat'
Generated SQL: SELECT s.StuID, s.LName, p.PetID, p.PetType
FROM Student s
JOIN Has_Pet hp ON s.StuID = hp.StuID
JOIN Pet p ON hp.PetID = p.PetID
WHERE p.PetType = 'dog';
Exact Match: ❌
Execution: ❌ (Error: no such table: Pet...)
--------------------------------------------------------------------------------

Example 810/1034:
Database: cre_Doc_Template_Mgt
Question (KO): 모든 문서의 문서 ID, 문서 이름 및 문서 설명을 나열해주세요.
Gold SQL: SELECT document_id ,  document_name ,  document_description FROM Documents
Generated SQL: SELECT
  D.Document_ID,
  D.Document_Name,
  D.Document_Description,
  P.Paragraph_ID,
  P.Paragraph_Text,
  T.Template_ID,
  T.Template_Type_Code,
  T.Template_Type_Description,
  T.Version_Number,
  T.Date_Effective_From,
  T.Date_Effective_To
FROM
  Documents D
  JOIN Paragraphs P ON D.Document_ID = P.Document_ID
  JOIN Templates T ON P.Paragraph_ID = T.Paragraph_ID
WHERE
  T.Template_Type_Code = 'T' AND
  T.Template_Type_Description = 'Text' AND
Exact Match: ❌
Execution: ❌ (Error: incomplete input...)
--------------------------------------------------------------------------------

Example 811/1034:
Database: dog_kennels
Question (KO): 자신의 강아지들을 위해 총액으로 가장 많은 돈을 지불한 소유자는 누구인가요? 소유자 ID와 우편번호를 보여주세요.
Gold SQL: SELECT T1.owner_id ,  T1.zip_code FROM Owners AS T1 JOIN Dogs AS T2 ON T1.owner_id  =  T2.owner_id JOIN Treatments AS T3 ON T2.dog_id  =  T3.dog_id GROUP BY T1.owner_id ORDER BY sum(T3.cost_of_treatment) DESC LIMIT 1
Generated SQL: SELECT
  b.breed_code,
  b.breed_name,
  c.charge_id,
  c.charge_type,
  c.charge_amount,
  s.size_code,
  s.size_description,
  d.dog_id,
  d.owner_id,
  d.date_of_birth,
  d.weight,
  p.professional_id,
  p.role_code,
  t.treatment_id,
  t.treatment_type_code,
  t.treatment_amount
FROM
  breeds b
  JOIN charges c ON b.breed_code = c.breed_code
  JOIN sizes s ON b.breed_code = s.breed_code
  JOIN dogs d ON b
Exact Match: ❌
Execution: ❌ (Error: no such column: p.professional_id...)
--------------------------------------------------------------------------------

Example 812/1034:
Database: employee_hire_evaluation
Question (KO): 어떤 상점이 가장 많은 직원을 고용했습니까? 상점 이름을 알려주세요.
Gold SQL: SELECT t2.name FROM hiring AS t1 JOIN shop AS t2 ON t1.shop_id  =  t2.shop_id GROUP BY t1.shop_id ORDER BY count(*) DESC LIMIT 1
Generated SQL: SELECT e.Employee_ID, s.Shop_ID, e.Name, s.Name
FROM employee e

,index,db_id,question_ko,gold_sql,generated_sql,exact_match,execution_match,execution_error
0,427,museum_visit,2010년 후에 개관한 박물관을 방문하지 않은 방문자 수를 찾으세요.,SELECT count(*) FROM visitor WHERE id NOT IN (...,"SELECT v.Name, v.Num_of_Staff, m.Name, m.Num_o...",False,False,no such column: v.Name
1,23,concert_singer,각 경기장에서 몇 개의 콘서트가 열리나요?,"SELECT T2.name , count(*) FROM concert AS T1 ...","SELECT s.Name, c.concert_Name, c.Year, s.Count...",False,False,no such column: c.Singer_ID
2,74,pets_1,각 종류의 반려동물별 평균 체중은 얼마인가요?,"SELECT avg(weight) , pettype FROM pets GROUP ...","SELECT p.pet_type, AVG(p.weight) \nFROM pets p...",False,False,no such table: students
3,323,cre_Doc_Template_Mgt,템플릿 유형 코드가 PP 또는 PPT인 템플릿의 ID는 무엇입니까?,SELECT template_id FROM Templates WHERE templa...,"SELECT \n T1.Template_Type_Code,\n T1.Templa...",False,False,no such column: T2
4,489,wta_1,각 핸드 타입별 선수 수를 찾으세요.,"SELECT count(*) , hand FROM players GROUP BY ...","SELECT \n p.player_id,\n p.first_name,\n p....",False,False,no such column: p.player_id
...,...,...,...,...,...,...,...,...
1029,727,world_1,아시아나 유럽의 국가들이 차지하는 총 표면적을 알려주세요.,SELECT sum(SurfaceArea) FROM country WHERE Con...,"SELECT c1.Name, c2.Name\nFROM city c1\nJOIN co...",False,False,None
1030,282,employee_hire_evaluation,평가를 한 번도 받지 않은 직원들의 이름은 무엇입니까?,SELECT name FROM employee WHERE Employee_ID NO...,"SELECT e.Name, s.Name\nFROM employee e\nJOIN h...",False,False,None
1031,223,flight_2,어떤 도시가 가장 많은 출발 항공편을 가지고 있습니까?,SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHT...,"SELECT a.city, COUNT(f.flight_no) as flight_co...",False,False,no such column: a.city
1032,1013,singer,각 국적별로 그 나라 출신 가수가 몇 명인가요?,"SELECT Citizenship , COUNT(*) FROM singer GRO...","SELECT s.Name, s.Birth_Year, s.Net_Worth_Milli...",False,False,None
1033,447,wta_1,2013년과 2016년 모두에서 경기한 모든 승자의 이름을 나열하세요.,SELECT winner_name FROM matches WHERE YEAR = ...,"SELECT \n p1.first_name, \n p1.last_name, \n...",False,False,incomplete input