# Spider ë°ì´í„°ì…‹(translated korean question)ì— ëŒ€í•œ Llama 3.1 ì›ë³¸ ëª¨ë¸ ì„±ëŠ¥ í…ŒìŠ¤íŠ¸

In [1]:
# Google Drive ì—°ê²°
from google.colab import drive
drive.mount('/content/drive')

# ê²½ë¡œ ì„¤ì • (Spider ë°ì´í„°ì…‹ì´ ì €ì¥ëœ ê²½ë¡œë¡œ ìˆ˜ì •í•˜ì„¸ìš”)
SPIDER_DIR = '/content/drive/MyDrive/spider/spider_data'  # í•„ìš”ì— ë”°ë¼ ìˆ˜ì •
DATASET_PATH = '/content/drive/MyDrive/spider/spider_data/spider_train_translations_final.csv'  # í•„ìš”ì— ë”°ë¼ ìˆ˜ì •

Mounted at /content/drive

In [2]:

!pip uninstall unsloth triton -y
#!pip install triton vllm unsloth tqdm pandas bitsandbytes
!pip install "unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git"
!pip install --no-deps "xformers<0.0.27" "trl<0.9.0" peft accelerate bitsandbytes

WARNING: Skipping unsloth as it is not installed.
Found existing installation: triton 3.2.0
Uninstalling triton-3.2.0:
  Successfully uninstalled triton-3.2.0
Collecting unsloth@ git+https://github.com/unslothai/unsloth.git (from unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Cloning https://github.com/unslothai/unsloth.git to /tmp/pip-install-cmrtfzur/unsloth_e6069b52cbe1404a898086bb5f2950b1
  Running command git clone --filter=blob:none --quiet https://github.com/unslothai/unsloth.git /tmp/pip-install-cmrtfzur/unsloth_e6069b52cbe1404a898086bb5f2950b1
  Resolved https://github.com/unslothai/unsloth.git to commit c1b73fa8836aa7e8b9ee13d748369f8f61e1fac5
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting unsloth_zoo>=2025.5.11 (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading unsloth_zoo-2025.6.1-py3-none-any.whl.metadata (8.1 kB)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (24.2)
Collecting tyro (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading tyro-0.9.24-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: transformers!=4.47.0,!=4.52.0,!=4.52.1,!=4.52.2,>=4.51.3 in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (4.52.4)
Collecting datasets>=3.4.1 (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading datasets-3.6.0-py3-none-any.whl.metadata (19 kB)
Requirement already satisfied: sentencepiece>=0.2.0 in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.2.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (4.67.1)
Requirement already satisfied: psutil in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (5.9.5)
Requirement already satisfied: wheel>=0.42.0 in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.45.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.0.2)
Collecting protobuf<4.0.0 (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading protobuf-3.20.3-py2.py3-none-any.whl.metadata (720 bytes)
Requirement already satisfied: huggingface_hub in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.32.4)
Requirement already satisfied: hf_transfer in /usr/local/lib/python3.11/dist-packages (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.1.9)
Collecting bitsandbytes>=0.45.5 (from unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading bitsandbytes-0.46.0-py3-none-manylinux_2_24_x86_64.whl.metadata (10 kB)
Requirement already satisfied: torch<3,>=2.2 in /usr/local/lib/python3.11/dist-packages (from bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.6.0+cu124)
Requirement already satisfied: filelock in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.18.0)
Requirement already satisfied: pyarrow>=15.0.0 in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (18.1.0)
Requirement already satisfied: dill<0.3.9,>=0.3.0 in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.3.7)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.2.2)
Requirement already satisfied: requests>=2.32.2 in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.32.3)
Requirement already satisfied: xxhash in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.5.0)
Requirement already satisfied: multiprocess<0.70.17 in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.70.15)
Collecting fsspec<=2025.3.0,>=2023.1.0 (from fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading fsspec-2025.3.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.11/dist-packages (from datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (6.0.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.11/dist-packages (from huggingface_hub->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (4.14.0)
Requirement already satisfied: hf-xet<2.0.0,>=1.1.2 in /usr/local/lib/python3.11/dist-packages (from huggingface_hub->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (1.1.2)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.11/dist-packages (from transformers!=4.47.0,!=4.52.0,!=4.52.1,!=4.52.2,>=4.51.3->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2024.11.6)
Requirement already satisfied: tokenizers<0.22,>=0.21 in /usr/local/lib/python3.11/dist-packages (from transformers!=4.47.0,!=4.52.0,!=4.52.1,!=4.52.2,>=4.51.3->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.21.1)
Requirement already satisfied: safetensors>=0.4.3 in /usr/local/lib/python3.11/dist-packages (from transformers!=4.47.0,!=4.52.0,!=4.52.1,!=4.52.2,>=4.51.3->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.5.3)
Collecting triton>=3.0.0 (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading triton-3.3.1-cp311-cp311-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (1.5 kB)
Requirement already satisfied: accelerate>=0.34.1 in /usr/local/lib/python3.11/dist-packages (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (1.7.0)
Collecting trl!=0.15.0,!=0.9.0,!=0.9.1,!=0.9.2,!=0.9.3,>=0.7.9 (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading trl-0.18.1-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: peft!=0.11.0,>=0.7.1 in /usr/local/lib/python3.11/dist-packages (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.15.2)
Collecting cut_cross_entropy (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading cut_cross_entropy-25.1.1-py3-none-any.whl.metadata (9.3 kB)
Requirement already satisfied: pillow in /usr/local/lib/python3.11/dist-packages (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (11.2.1)
Collecting msgspec (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading msgspec-0.19.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.9 kB)
Requirement already satisfied: docstring-parser>=0.15 in /usr/local/lib/python3.11/dist-packages (from tyro->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.16)
Requirement already satisfied: rich>=11.1.0 in /usr/local/lib/python3.11/dist-packages (from tyro->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (13.9.4)
Collecting shtab>=1.5.6 (from tyro->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading shtab-1.7.2-py3-none-any.whl.metadata (7.4 kB)
Requirement already satisfied: typeguard>=4.0.0 in /usr/local/lib/python3.11/dist-packages (from tyro->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (4.4.2)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /usr/local/lib/python3.11/dist-packages (from fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.11.15)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2025.4.26)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.11/dist-packages (from rich>=11.1.0->tyro->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.11/dist-packages (from rich>=11.1.0->tyro->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.19.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.11/dist-packages (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.5)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.11/dist-packages (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (3.1.6)
Collecting nvidia-cuda-nvrtc-cu12==12.4.127 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cuda_nvrtc_cu12-12.4.127-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cuda-runtime-cu12==12.4.127 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cuda_runtime_cu12-12.4.127-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cuda-cupti-cu12==12.4.127 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cuda_cupti_cu12-12.4.127-py3-none-manylinux2014_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cudnn-cu12==9.1.0.70 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cudnn_cu12-9.1.0.70-py3-none-manylinux2014_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cublas-cu12==12.4.5.8 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cublas_cu12-12.4.5.8-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cufft-cu12==11.2.1.3 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cufft_cu12-11.2.1.3-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-curand-cu12==10.3.5.147 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_curand_cu12-10.3.5.147-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cusolver-cu12==11.6.1.9 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cusolver_cu12-11.6.1.9-py3-none-manylinux2014_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cusparse-cu12==12.3.1.170 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_cusparse_cu12-12.3.1.170-py3-none-manylinux2014_x86_64.whl.metadata (1.6 kB)
Requirement already satisfied: nvidia-cusparselt-cu12==0.6.2 in /usr/local/lib/python3.11/dist-packages (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (0.6.2)
Requirement already satisfied: nvidia-nccl-cu12==2.21.5 in /usr/local/lib/python3.11/dist-packages (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.21.5)
Requirement already satisfied: nvidia-nvtx-cu12==12.4.127 in /usr/local/lib/python3.11/dist-packages (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (12.4.127)
Collecting nvidia-nvjitlink-cu12==12.4.127 (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading nvidia_nvjitlink_cu12-12.4.127-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting triton>=3.0.0 (from unsloth_zoo>=2025.5.11->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git)
  Downloading triton-3.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.4 kB)
Requirement already satisfied: sympy==1.13.1 in /usr/local/lib/python3.11/dist-packages (from torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (1.13.1)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /usr/local/lib/python3.11/dist-packages (from sympy==1.13.1->torch<3,>=2.2->bitsandbytes>=0.45.5->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (1.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2025.2)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (2.6.1)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (1.3.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (25.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (1.6.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.11/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets>=3.4.1->unsloth@ git+https://github.com/unslothai/unsloth.git->unsloth[colab-new]@ git+https://github.com/unslothai/unsloth.git) (6.4.4)

Collecting xformers<0.0.27
  Downloading xformers-0.0.26.post1-cp311-cp311-manylinux2014_x86_64.whl.metadata (1.0 kB)
Collecting trl<0.9.0
  Downloading trl-0.8.6-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: peft in /usr/local/lib/python3.11/dist-packages (0.15.2)
Requirement already satisfied: accelerate in /usr/local/lib/python3.11/dist-packages (1.7.0)
Requirement already satisfied: bitsandbytes in /usr/local/lib/python3.11/dist-packages (0.46.0)
Downloading xformers-0.0.26.post1-cp311-cp311-manylinux2014_x86_64.whl (222.8 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 222.8/222.8 MB 4.7 MB/s eta 0:00:00
Downloading trl-0.8.6-py3-none-any.whl (245 kB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 245.2/245.2 kB 28.4 MB/s eta 0:00:00
Installing collected packages: xformers, trl
  Attempting uninstall: trl
    Found existing installation: trl 0.18.1
    Uninstalling trl-0.18.1:
      Successfully uninstalled trl-0.18.1
Successfully installed trl-0.8.6 xformers-0.0.26.post1

## 3. ëª¨ë¸ ë° í† í¬ë‚˜ì´ì € ë¡œë“œ

In [4]:
from unsloth import FastLanguageModel
import torch

# ëª¨ë¸ êµ¬ì„±
max_seq_length = 2048  # í•„ìš”ì— ë”°ë¼ ì¡°ì •
dtype = None  # ìë™ ê°ì§€
load_in_4bit = True
model_name = "unsloth/Meta-Llama-3.1-8B-Instruct-bnb-4bit"

# ëª¨ë¸ ë° í† í¬ë‚˜ì´ì € ë¡œë“œ
print("Loading model and tokenizer...")
model, tokenizer = FastLanguageModel.from_pretrained(
    model_name=model_name,
    max_seq_length=max_seq_length,
    dtype=dtype,
    load_in_4bit=load_in_4bit,
)

Unsloth: Patching Xformers to fix some performance issues.
ğŸ¦¥ Unsloth: Will patch your computer to enable 2x faster free finetuning.

WARNING:xformers:WARNING[XFORMERS]: xFormers can't load C++/CUDA extensions. xFormers was built for:
    PyTorch 2.3.0+cu121 with CUDA 1201 (you have 2.6.0+cu124)
    Python  3.11.9 (you have 3.11.13)
  Please reinstall xformers (see https://github.com/facebookresearch/xformers#installing-xformers)
  Memory-efficient attention, SwiGLU, sparse and more won't be available.
  Set XFORMERS_MORE_DETAILS=1 for more details

ğŸ¦¥ Unsloth Zoo will now patch everything to make training faster!
Loading model and tokenizer...
==((====))==  Unsloth 2025.6.1: Fast Llama patching. Transformers: 4.52.4.
   \\   /|    NVIDIA L4. Num GPUs = 1. Max memory: 22.161 GB. Platform: Linux.
O^O/ \_/ \    Torch: 2.6.0+cu124. CUDA: 8.9. CUDA Toolkit: 12.4. Triton: 3.2.0
\        /    Bfloat16 = TRUE. FA [Xformers = None. FA2 = False]
 "-____-"     Free license: http://github.com/unslothai/unsloth
Unsloth: Fast downloading is enabled - ignore downloading bars which are red colored!

model.safetensors:   0%|          | 0.00/5.70G [00:00<?, ?B/s]

generation_config.json:   0%|          | 0.00/239 [00:00<?, ?B/s]

tokenizer_config.json:   0%|          | 0.00/55.5k [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/454 [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/17.2M [00:00<?, ?B/s]

Unsloth 2025.6.1 patched 32 layers with 32 QKV layers, 32 O layers and 32 MLP layers.

In [20]:

# ==============================================================================
# 1. ë¼ì´ë¸ŒëŸ¬ë¦¬ ì„í¬íŠ¸
# ==============================================================================
import json
import os
import sqlite3
import re
import random
from tqdm import tqdm
import pandas as pd
import torch
from unsloth import FastLanguageModel
from IPython.display import display

# ==============================================================================
# 2. ê²½ë¡œ ë° ê¸°ë³¸ ì„¤ì •
# ==============================================================================
# !!! ì¤‘ìš”: ì´ ê²½ë¡œë¥¼ ì‹¤ì œ Spider ë°ì´í„°ì…‹ì´ ìˆëŠ” ë””ë ‰í† ë¦¬ë¡œ ë³€ê²½í•˜ì„¸ìš” !!!
SPIDER_DIR = '/content/drive/MyDrive/spider/spider_data'  # ì˜ˆ: '/content/spider' ë˜ëŠ” 'data/spider'

# ì‚¬ìš©í•  ëª¨ë¸ì˜ Hugging Face ê²½ë¡œ
# ì˜ˆ: "unsloth/llama-3.1-8b-Instruct-bnb-4bit"
MODEL_NAME = "unsloth/llama-3.1-8b-Instruct-bnb-4bit"


# ==============================================================================
# 3. ë°ì´í„° ë¡œë”© ë° ìŠ¤í‚¤ë§ˆ ì²˜ë¦¬ í—¬í¼ í•¨ìˆ˜
# ==============================================================================
def load_tables_data(tables_file):
    """tables.json íŒŒì¼ì—ì„œ í…Œì´ë¸” ìŠ¤í‚¤ë§ˆ ì •ë³´ë¥¼ ë¡œë“œí•©ë‹ˆë‹¤."""
    if not os.path.exists(tables_file):
        print(f"ì˜¤ë¥˜: '{tables_file}' íŒŒì¼ì„ ì°¾ì„ ìˆ˜ ì—†ìŠµë‹ˆë‹¤!")
        return None
    with open(tables_file, 'r', encoding='utf-8') as f:
        return json.load(f)

def create_schema_mapping(tables_data):
    """db_idë¥¼ í‚¤ë¡œ í•˜ëŠ” ìŠ¤í‚¤ë§ˆ ì •ë³´ ë”•ì…”ë„ˆë¦¬ë¥¼ ìƒì„±í•©ë‹ˆë‹¤."""
    schema_mapping = {}
    for item in tables_data:
        db_id = item["db_id"]
        tables = item["table_names_original"]
        columns = {tbl: [] for tbl in tables}
        column_types = {tbl: {} for tbl in tables}

        for i, (table_id, col_name) in enumerate(item["column_names_original"]):
            if table_id >= 0:
                table_name = tables[table_id]
                columns[table_name].append(col_name)
                column_types[table_name][col_name] = item["column_types"][i]

        primary_keys = []
        for pk_col_idx in item.get("primary_keys", []):
            table_id, col_name = item["column_names_original"][pk_col_idx]
            if table_id >= 0:
                primary_keys.append(f"{tables[table_id]}.{col_name}")

        schema_mapping[db_id] = {
            "tables": tables,
            "columns": columns,
            "column_types": column_types,
            "primary_keys": primary_keys,
        }
    return schema_mapping

def get_schema_text(db_id, schema_mapping):
    """ì£¼ì–´ì§„ db_idì— ëŒ€í•œ í…ìŠ¤íŠ¸ í˜•ì‹ì˜ ìŠ¤í‚¤ë§ˆë¥¼ ìƒì„±í•©ë‹ˆë‹¤."""
    if db_id not in schema_mapping:
        return "Schema information not available"

    schema = schema_mapping[db_id]
    schema_text_parts = []

    for table_name in schema["tables"]:
        schema_text_parts.append(f"í…Œì´ë¸”: {table_name}")
        cols_info = []
        for col_name in schema["columns"].get(table_name, []):
            col_type = schema["column_types"][table_name][col_name]
            pk_marker = " (ê¸°ë³¸ í‚¤)" if f"{table_name}.{col_name}" in schema["primary_keys"] else ""
            cols_info.append(f"  - {col_name} ({col_type}){pk_marker}")
        schema_text_parts.append("ì»¬ëŸ¼:\n" + "\n".join(cols_info))

    return "\n".join(schema_text_parts)

# ==============================================================================
# 4. í•µì‹¬ ë¡œì§: SQL ìƒì„± í•¨ìˆ˜
# ==============================================================================
def generate_sql(model, tokenizer, schema_info, question_ko):
    """
    ëª¨ë¸ì—ê²Œ Markdown ì½”ë“œ ë¸”ë¡ìœ¼ë¡œ ì‘ë‹µí•˜ë„ë¡ ì§€ì‹œí•˜ê³ , í›„ì²˜ë¦¬ë¥¼ í†µí•´ SQLë§Œ ì¶”ì¶œí•©ë‹ˆë‹¤.
    """
    messages = [
        {
            "role": "system",
            "content": "ë‹¹ì‹ ì€ Text-to-SQL ì „ë¬¸ê°€ì…ë‹ˆë‹¤. ì£¼ì–´ì§„ ìŠ¤í‚¤ë§ˆì™€ ì§ˆë¬¸ì— ëŒ€í•œ SQL ì¿¼ë¦¬ë¥¼ ìƒì„±í•˜ì„¸ìš”. ì‘ë‹µì€ ë°˜ë“œì‹œ ```sql ì½”ë“œ ë¸”ë¡ ì•ˆì— ë„£ì–´ì•¼ í•©ë‹ˆë‹¤. ë‹¤ë¥¸ ì–´ë–¤ ì„¤ëª…ë„ ì¶”ê°€í•˜ì§€ ë§ˆì„¸ìš”."
        },
        {
            "role": "user",
            "content": f"ì•„ë˜ ìŠ¤í‚¤ë§ˆì™€ ì§ˆë¬¸ì„ ë°”íƒ•ìœ¼ë¡œ SQL ì¿¼ë¦¬ë¥¼ markdown ì½”ë“œ ë¸”ë¡ìœ¼ë¡œ ì‘ì„±í•´ì¤˜.\n\n[ìŠ¤í‚¤ë§ˆ]:\n{schema_info}\n\n[ì§ˆë¬¸]:\n{question_ko}\n\n[SQL ì¿¼ë¦¬]:"
        }
    ]

    inputs = tokenizer.apply_chat_template(
        messages,
        tokenize=True,
        add_generation_prompt=True,
        return_tensors="pt"
    ).to(model.device)

    outputs = model.generate(
        inputs,
        max_new_tokens=150,
        temperature=0.1,
        do_sample=True,
        pad_token_id=tokenizer.eos_token_id
    )

    full_response = tokenizer.decode(outputs[0][len(inputs[0]):], skip_special_tokens=True)

    # --- í›„ì²˜ë¦¬ ë¡œì§: ```sql ë¸”ë¡ì—ì„œ SQL ì¿¼ë¦¬ ì¶”ì¶œ ---
    match = re.search(r'```sql\s*(.*?)\s*```', full_response, re.DOTALL)

    if match:
        sql_query = match.group(1).strip()
        return sql_query
    else:
        # ëª¨ë¸ì´ ì½”ë“œ ë¸”ë¡ì„ ìƒì„±í•˜ì§€ ì•Šì€ ê²½ìš°ì— ëŒ€í•œ ëŒ€ì²´(Fallback) ë¡œì§
        fallback_match = re.search(r'(?i)(SELECT|WITH|\(SELECT)', full_response)
        if fallback_match:
            return full_response[fallback_match.start():].strip()
        return full_response.strip() # ìµœì•…ì˜ ê²½ìš°, ë””ë²„ê¹…ì„ ìœ„í•´ ê·¸ëŒ€ë¡œ ë°˜í™˜

# ==============================================================================
# 5. í‰ê°€ í—¬í¼ í•¨ìˆ˜
# ==============================================================================
def normalize_sql(sql):
    """SQL ì¿¼ë¦¬ë¥¼ ë¹„êµí•˜ê¸° ì‰½ë„ë¡ ì •ê·œí™”í•©ë‹ˆë‹¤."""
    if not isinstance(sql, str):
        return ""
    sql = sql.lower().strip()
    sql = re.sub(r'\s+', ' ', sql)
    sql = re.sub(r'\s*,\s*', ', ', sql)
    sql = re.sub(r'\s*=\s*', ' = ', sql)
    sql = re.sub(r';+\s*$', '', sql)
    return sql

def execute_sql(db_path, sql):
    """SQLite ë°ì´í„°ë² ì´ìŠ¤ì—ì„œ SQLì„ ì‹¤í–‰í•˜ê³  ê²°ê³¼ë¥¼ ë°˜í™˜í•©ë‹ˆë‹¤."""
    try:
        conn = sqlite3.connect(db_path)
        cursor = conn.cursor()
        cursor.execute(sql)
        results = cursor.fetchall()
        conn.close()
        return True, results
    except Exception as e:
        return False, str(e)

# ==============================================================================
# 6. ë©”ì¸ í‰ê°€ ì‹¤í–‰ í•¨ìˆ˜
# ==============================================================================
def run_evaluation_ko_from_csv(model, tokenizer, n_samples=10, random_seed=42):
    """
    CSV íŒŒì¼ì—ì„œ í•œêµ­ì–´ ì§ˆë¬¸ì„ ì‚¬ìš©í•˜ì—¬ ëª¨ë¸ì„ í‰ê°€í•©ë‹ˆë‹¤.
    """
    try:
        csv_path = os.path.join(SPIDER_DIR, 'spider_validation_final.csv')
        tables_file = os.path.join(SPIDER_DIR, 'tables.json')
        db_dir = os.path.join(SPIDER_DIR, 'database')

        # íŒŒì¼ ì¡´ì¬ í™•ì¸
        for path in [csv_path, tables_file, db_dir]:
            if not os.path.exists(path):
                print(f"âŒ í•„ìˆ˜ íŒŒì¼/ë””ë ‰í† ë¦¬ë¥¼ ì°¾ì„ ìˆ˜ ì—†ìŠµë‹ˆë‹¤: {path}")
                print(f"SPIDER_DIR ('{SPIDER_DIR}') ê²½ë¡œê°€ ì˜¬ë°”ë¥¸ì§€ í™•ì¸í•˜ì„¸ìš”.")
                return

        print(f"âœ… ë°ì´í„°ì…‹ íŒŒì¼ í™•ì¸ ì™„ë£Œ.")
        print(f"Loading CSV file from {csv_path}â€¦")
        df = pd.read_csv(csv_path)

        # ìŠ¤í‚¤ë§ˆ ì •ë³´ ë¡œë“œ
        tables_data = load_tables_data(tables_file)
        schema_dict = create_schema_mapping(tables_data)

        # ëœë¤ ìƒ˜í”Œ ì„ íƒ
        random.seed(random_seed)
        sample_indices = random.sample(range(len(df)), min(n_samples, len(df)))
        sampled_df = df.iloc[sample_indices]

        print(f"\nğŸš€ ì´ {len(sampled_df)}ê°œ ëœë¤ ìƒ˜í”Œì— ëŒ€í•œ í‰ê°€ë¥¼ ì‹œì‘í•©ë‹ˆë‹¤â€¦\n" + "="*80)

        results = []

        for i, (idx, row) in enumerate(sampled_df.iterrows()):
            db_id = row['db_id']
            question_ko = row['question_ko']
            gold_sql = row['query']

            print(f"\nExample {i+1}/{len(sampled_df)}:")
            print(f"Database: {db_id}")
            print(f"Question (KO): {question_ko}")
            print(f"Gold SQL: {gold_sql}")

            schema_info = get_schema_text(db_id, schema_dict)
            pred_sql = generate_sql(model, tokenizer, schema_info, question_ko)

            print(f"Generated SQL: {pred_sql}")

            # ì •í™•í•œ ì¼ì¹˜(Exact Match) í‰ê°€
            exact_match = normalize_sql(gold_sql) == normalize_sql(pred_sql)
            print(f"Exact Match: {'âœ…' if exact_match else 'âŒ'}")

            # ì‹¤í–‰ ì •í™•ë„(Execution Accuracy) í‰ê°€
            db_path = os.path.join(db_dir, db_id, f"{db_id}.sqlite")
            execution_match = False
            execution_error = None

            if os.path.exists(db_path):
                gold_success, gold_result = execute_sql(db_path, gold_sql)
                pred_success, pred_result = execute_sql(db_path, pred_sql)

                if not pred_success:
                    execution_error = pred_result
                    print(f"Execution: âŒ (Error: {str(execution_error)[:100]}...)")
                elif not gold_success:
                     print(f"Execution: âš ï¸ (Gold SQL ì‹¤í–‰ ì˜¤ë¥˜)")
                else:
                    execution_match = (set(gold_result) == set(pred_result))
                    print(f"Execution Match: {'âœ…' if execution_match else 'âŒ'}")
            else:
                execution_error = "DB file not found"
                print(f"Execution: âš ï¸ (DB íŒŒì¼ì„ ì°¾ì„ ìˆ˜ ì—†ìŒ)")

            print("-" * 80)

            results.append({
                'index': idx, 'db_id': db_id, 'question_ko': question_ko,
                'gold_sql': gold_sql, 'generated_sql': pred_sql,
                'exact_match': exact_match, 'execution_match': execution_match,
                'execution_error': execution_error
            })

        # ìµœì¢… ê²°ê³¼ ìš”ì•½
        total = len(results)
        em_count = sum(r['exact_match'] for r in results)
        ex_count = sum(r['execution_match'] for r in results)

        print(f"\n{'='*80}\nğŸ“Š ìµœì¢… í‰ê°€ ìš”ì•½ (ì´ {total}ê°œ ì˜ˆì œ):\n{'='*80}")
        print(f"  - ì™„ì „ ì¼ì¹˜ (EM): {em_count} / {total} ({em_count/total:.2%})")
        print(f"  - ì‹¤í–‰ ì •í™•ë„ (EX): {ex_count} / {total} ({ex_count/total:.2%})")
        print(f"{'='*80}")

        return pd.DataFrame(results)

    except Exception as e:
        print(f"ğŸš¨ í‰ê°€ ì¤‘ ì‹¬ê°í•œ ì˜¤ë¥˜ ë°œìƒ: {e}")
        import traceback
        traceback.print_exc()
        return None

# ==============================================================================
# 7. ìŠ¤í¬ë¦½íŠ¸ ì‹¤í–‰
# ==============================================================================
if __name__ == '__main__':

    # í‰ê°€ ì‹¤í–‰
    # n_samples: í‰ê°€í•  ìƒ˜í”Œ ìˆ˜. ì „ì²´(1034ê°œ)ë¥¼ í‰ê°€í•˜ë ¤ë©´ 1034ë¡œ ì„¤ì •
    evaluation_results_df = run_evaluation_ko_from_csv(
        model,
        tokenizer,
        n_samples=1034, # í…ŒìŠ¤íŠ¸ë¥¼ ìœ„í•´ 10ê°œë§Œ ì‹¤í–‰, ì „ì²´ëŠ” 1034ë¡œ ë³€ê²½
        random_seed=15
    )

    # ê²°ê³¼ ë°ì´í„°í”„ë ˆì„ ì¶œë ¥
    if evaluation_results_df is not None:
        print("\n\nğŸ“‹ ìƒì„¸ í‰ê°€ ê²°ê³¼ í…Œì´ë¸”:")
        display(evaluation_results_df)

ìŠ¤íŠ¸ë¦¬ë° ì¶œë ¥ ë‚´ìš©ì´ ê¸¸ì–´ì„œ ë§ˆì§€ë§‰ 5000ì¤„ì´ ì‚­ì œë˜ì—ˆìŠµë‹ˆë‹¤.
Generated SQL: SELECT
  b.breed_name,
  o.owner_name,
  d.dog_name,
  t.treatment_name,
  p.professional_name
FROM
  breeds b
  JOIN owners o ON b.breed_id = o.owner_id
  JOIN dogs d ON o.owner_id = d.owner_id
  JOIN treatments t ON d.dog_id = t.dog_id
  JOIN professionals p ON t.treatment_id = p.professional_id;
Exact Match: âŒ
Execution: âŒ (Error: no such column: o.owner_name...)
--------------------------------------------------------------------------------

Example 780/1034:
Database: cre_Doc_Template_Mgt
Question (KO): ì´ë¦„ì´ 'Customer reviews'ì¸ ë¬¸ì„œì˜ ë¬¸ë‹¨ í…ìŠ¤íŠ¸ëŠ” ë¬´ì—‡ì…ë‹ˆê¹Œ?
Gold SQL: SELECT T1.paragraph_text FROM Paragraphs AS T1 JOIN Documents AS T2 ON T1.document_id  =  T2.document_id WHERE T2.document_name  =  "Customer reviews"
Generated SQL: SELECT
  T1.Template_ID,
  T1.Template_Type_Code,
  T1.Template_Type_Description,
  T1.Version_Number,
  T1.Date_Effective_From,
  T1.Date_Effective_To,
  T1.Template_Details,
  T2.Document_ID,
  T2.Document_Name,
  T2.Document_Description,
  T2.Other_Details
FROM
  Templates T1
  JOIN Documents T2 ON T1.Template_ID = T2.Template_ID
WHERE
  T1.Template_Type_Code = 'Customer reviews'
  AND T1.Date_Effective_From = '2023-01-
Exact Match: âŒ
Execution: âŒ (Error: unrecognized token: "'2023-01-"...)
--------------------------------------------------------------------------------

Example 781/1034:
Database: car_1
Question (KO): ë³¼ë³´ ëª¨ë¸ ìë™ì°¨ì˜ í‰ê·  edisplì€ ì–¼ë§ˆì…ë‹ˆê¹Œ?
Gold SQL: SELECT avg(T2.edispl) FROM CAR_NAMES AS T1 JOIN CARS_DATA AS T2 ON T1.MakeId  =  T2.Id WHERE T1.Model  =  'volvo';
Generated SQL: SELECT
  AVG(edispl)
FROM
  car_data
WHERE
  make = 'Volvo'
Exact Match: âŒ
Execution: âŒ (Error: no such table: car_data...)
--------------------------------------------------------------------------------

Example 782/1034:
Database: flight_2
Question (KO): "JetBlue Airways" í•­ê³µì‚¬ëŠ” ì–´ëŠ ë‚˜ë¼ì— ì†í•©ë‹ˆê¹Œ?
Gold SQL: SELECT Country FROM AIRLINES WHERE Airline  =  "JetBlue Airways"
Generated SQL: SELECT a.airline, a.airport_name, a.country, f.flight_no, f.source_airport, f.dest_airport
FROM airlines a
JOIN airports ap ON a.airport_code = ap.airport_code
JOIN flights f ON a.airline = f.airline
WHERE a.airline = 'JetBlue Airways';
Exact Match: âŒ
Execution: âŒ (Error: no such column: a.airport_name...)
--------------------------------------------------------------------------------

Example 783/1034:
Database: tvshow
Question (KO): ì˜ì–´ë¥¼ ì‚¬ìš©í•˜ëŠ” TV ì±„ë„ì€ ëª‡ ê°œì¸ê°€ìš”?
Gold SQL: SELECT count(*) FROM TV_Channel WHERE LANGUAGE = "English";
Generated SQL: ì•„ë˜ ìŠ¤í‚¤ë§ˆì™€ ì§ˆë¬¸ì„ ë°”íƒ•ìœ¼ë¡œ SQL ì¿¼ë¦¬ë¥¼ ìƒì„±í•´ì¤˜.

[ìŠ¤í‚¤ë§ˆ]:
í…Œì´ë¸”: TV_Channel
ì»¬ëŸ¼:
  - id (text) (ê¸°ë³¸ í‚¤)
  - series_name (text)
  - country (text)
  - language (text)
  - content (text)
  - pixel_aspect_ratio (text)
  - hight_definition (text)
  - pay_per_view (text)
  - package_option (text)

í…Œì´ë¸”: TV_Series
ì»¬ëŸ¼:
  - id (number) (ê¸°ë³¸ í‚¤)
  - episode (text)
  - air_date (text)
  - rating (text)
  - share (number
Exact Match: âŒ
Execution: âŒ (Error: near "ì•„ë˜": syntax error...)
--------------------------------------------------------------------------------

Example 784/1034:
Database: orchestra
Question (KO): ë‚˜ì´ìˆœìœ¼ë¡œ ì •ë ¬ëœ ì§€íœ˜ìë“¤ì˜ ì´ë¦„ì€ ë¬´ì—‡ì…ë‹ˆê¹Œ?
Gold SQL: SELECT Name FROM conductor ORDER BY Age ASC
Generated SQL: ì•„ë˜ ìŠ¤í‚¤ë§ˆì™€ ì§ˆë¬¸ì„ ë°”íƒ•ìœ¼ë¡œ SQL ì¿¼ë¦¬ë¥¼ ìƒì„±í•´ì¤˜.

[ìŠ¤í‚¤ë§ˆ]:
í…Œì´ë¸”: conductor
ì»¬ëŸ¼:
  - Conductor_ID (number) (ê¸°ë³¸ í‚¤)
  - Name (text)
  - Age (number)
  - Nationality (text)
  - Year_of_Work (number)

í…Œì´ë¸”: orchestra
ì»¬ëŸ¼:
  - Orchestra_ID (number) (ê¸°ë³¸ í‚¤)
  - Orchestra (text)
  - Conductor_ID (number)

í…Œì´ë¸”: performance
ì»¬ëŸ¼:
  - Performance_ID (number) (ê¸°ë³¸ í‚¤)
  - Orchestra_ID (number)
  - Conductor_ID (number)
  - Type
Exact Match: âŒ
Execution: âŒ (Error: near "ì•„ë˜": syntax error...)
--------------------------------------------------------------------------------

Example 785/1034:
Database: course_teach
Question (KO): êµì‚¬ë“¤ì˜ ë‹¤ì–‘í•œ ê³ í–¥ê³¼ ê° ê³ í–¥ ì¶œì‹  êµì‚¬ì˜ ìˆ˜ë¥¼ ë³´ì—¬ì£¼ì‹­ì‹œì˜¤.
Gold SQL: SELECT Hometown ,  COUNT(*) FROM teacher GROUP BY Hometown
Generated SQL: SELECT c.Course_ID, t.Teacher_ID, c.Grade
FROM course c
JOIN course_arrange ca ON c.Course_ID = ca.Course_ID
JOIN teacher t ON ca.Teacher_ID = t.Teacher_ID
WHERE c.Grade > 80 AND t.Hometown = 'New York';
Exact Match: âŒ
Execution: âŒ (Error: no such column: c.Grade...)
--------------------------------------------------------------------------------

Example 786/1034:
Database: student_transcripts_tracking
Question (KO): ì„ì‚¬ í•™ìƒê³¼ í•™ì‚¬ í•™ìƒì´ ëª¨ë‘ ë“±ë¡í•œ í•™ê¸°ë¥¼ ì°¾ìœ¼ì„¸ìš”.
Gold SQL: SELECT DISTINCT T2.semester_id FROM Degree_Programs AS T1 JOIN Student_Enrolment AS T2 ON T1.degree_program_id  =  T2.degree_program_id WHERE degree_summary_name  =  'Master' INTERSECT SELECT DISTINCT T2.semester_id FROM Degree_Programs AS T1 JOIN Student_Enrolment AS T2 ON T1.degree_program_id  =  T2.degree_program_id WHERE degree_summary_name  =  'Bachelor'
Generated SQL: SELECT
  student_id,
  student_name,
  student_email,
  student_phone,
  student_address,
  student_enrolment_id,
  student_course_id,
  student_transcript_id
FROM
  student_enrolment
WHERE
  student_id = 123
  AND student_name = 'John Doe'
  AND student_email = 'john.doe@example.com'
  AND student_phone = '123-456-7890'
  AND student_address = '123 Main St, Anytown, USA'
  AND student_enrolment_id = 456
  AND student_course_id = 789
Exact Match: âŒ
Execution: âŒ (Error: no such column: student_name...)
--------------------------------------------------------------------------------

Example 787/1034:
Database: world_1
Question (KO): ì˜ì–´ë¥¼ ì‚¬ìš©í•˜ì§€ ì•ŠëŠ” êµ­ê°€ë“¤ì˜ êµ­ê°€ ì½”ë“œë¥¼ ë°˜í™˜í•˜ì„¸ìš”.
Gold SQL: SELECT CountryCode FROM countrylanguage EXCEPT SELECT CountryCode FROM countrylanguage WHERE LANGUAGE  =  "English"
Generated SQL: SELECT country_code
FROM country
WHERE name = 'United States';
Exact Match: âŒ
Execution: âŒ (Error: no such column: country_code...)
--------------------------------------------------------------------------------

Example 788/1034:
Database: network_1
Question (KO): ì–´ë–¤ í•™ë…„ì´ 4ëª… ì´ìƒì˜ ê³ ë“±í•™ìƒì„ ê°€ì§€ê³  ìˆë‚˜ìš”?
Gold SQL: SELECT grade FROM Highschooler GROUP BY grade HAVING count(*)  >=  4
Generated SQL: SELECT h.name, h.grade, f.name, f.grade
FROM Highschooler h
JOIN Friend f
ON h.id = f.id
WHERE h.grade > 4;
Exact Match: âŒ
Execution: âŒ (Error: no such column: f.name...)
--------------------------------------------------------------------------------

Example 789/1034:
Database: course_teach
Question (KO): ê° êµì‚¬ì˜ ì´ë¦„ê³¼ ê·¸ë“¤ì´ ê°€ë¥´ì¹˜ëŠ” ê³¼ì •ì€ ë¬´ì—‡ì…ë‹ˆê¹Œ?
Gold SQL: SELECT T3.Name ,  T2.Course FROM course_arrange AS T1 JOIN course AS T2 ON T1.Course_ID  =  T2.Course_ID JOIN teacher AS T3 ON T1.Teacher_ID  =  T3.Teacher_ID
Generated SQL: SELECT T1.Name, T1.Age, T2.Name, T2.Age
FROM teacher T1
JOIN course T2
ON T1.Teacher_ID = T2.Teacher_ID
WHERE T1.Name = 'John Doe';
Exact Match: âŒ
Execution: âŒ (Error: no such column: T2.Name...)
--------------------------------------------------------------------------------

Example 790/1034:
Database: employee_hire_evaluation
Question (KO): ëª¨ë“  ìƒì ì˜ ìµœì†Œ ë° ìµœëŒ€ ì œí’ˆ ìˆ˜ë¥¼ ì°¾ì•„ì£¼ì„¸ìš”.
Gold SQL: SELECT min(Number_products) ,  max(Number_products) FROM shop
Generated SQL: SELECT e.Employee_ID, e.Name, s.Shop_ID, s.Name
FROM employee e
JOIN shop s
ON e.Employee_ID = s.Employee_ID
WHERE e.Age > 30
AND s.Location = 'New York'
AND e.Manager_name = 'John Doe'
AND s.Number_products > 100
AND e.Start_from > '2020-01-01'
AND s.District = 'Manhattan'
AND e.Is_full_time = TRUE;
Exact Match: âŒ
Execution: âŒ (Error: no such column: e.Manager_name...)
--------------------------------------------------------------------------------

Example 791/1034:
Database: dog_kennels
Question (KO): ì¼ì‹œì ìœ¼ë¡œ ê°œë¥¼ ì†Œìœ í•˜ì§€ ì•Šì€ ì†Œìœ ìë“¤ì€ ëª‡ ëª…ì…ë‹ˆê¹Œ?
Gold SQL: SELECT count(*) FROM Owners WHERE owner_id NOT IN ( SELECT owner_id FROM Dogs )
Generated SQL: SELECT
  b.breed_code,
  b.breed_name,
  c.charge_id,
  c.charge_type,
  c.charge_amount,
  s.size_code,
  s.size_description,
  t.treatment_type_code,
  t.treatment_type_description,
  o.owner_id,
  o.first_name,
  o.last_name,
  o.street,
  o.city,
  o.state,
  o.zip_code,
  o.email_address,
  o.home_phone,
  o.cell_number,
  d.dog_id,
  d.name,
  d.age,
  d.date_of_birth,
  d
Exact Match: âŒ
Execution: âŒ (Error: no such column: b.breed_code...)
--------------------------------------------------------------------------------

Example 792/1034:
Database: car_1
Question (KO): ê° ì œì¡°ì—…ì²´ë³„ë¡œ ëª‡ ê°œì˜ ìë™ì°¨ ëª¨ë¸ì´ ìƒì‚°ë˜ì—ˆìŠµë‹ˆê¹Œ? ìˆ˜ì™€ ì œì¡°ì—…ì²´ ì „ì²´ ì´ë¦„ë§Œ ë‚˜ì—´í•˜ì„¸ìš”.
Gold SQL: select count(*) ,  t2.fullname from model_list as t1 join car_makers as t2 on t1.maker  =  t2.id group by t2.id;
Generated SQL: SELECT m.Maker, m.Model, c.Continent
FROM car_makers m
JOIN countries c
ON m.Country = c.Country
WHERE m.Year = 2023;
Exact Match: âŒ
Execution: âŒ (Error: no such column: m.Model...)
--------------------------------------------------------------------------------

Example 793/1034:
Database: flight_2
Question (KO): Aberdeenì—ì„œ ì¶œë°œí•˜ëŠ” í•­ê³µí¸ ìˆ˜ë¥¼ ë°˜í™˜í•˜ì„¸ìš”.
Gold SQL: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.SourceAirport  =  T2.AirportCode WHERE T2.City  =  "Aberdeen"
Generated SQL: SELECT a.airline, f.flight_no, f.source_airport, f.dest_airport
FROM airlines a
JOIN flights f ON a.uid = f.airline
WHERE a.airline = 'Aberdeen';
Exact Match: âŒ
Execution: âŒ (Error: no such column: f.flight_no...)
--------------------------------------------------------------------------------

Example 794/1034:
Database: tvshow
Question (KO): "Ben Jones"ê°€ ê°ë…í•œ ëª¨ë“  ë§Œí™”ë¥¼ ë‚˜ì—´í•˜ì„¸ìš”.
Gold SQL: SELECT Title FROM Cartoon WHERE Directed_by = "Ben Jones";
Generated SQL: SELECT series_name
FROM TV_Channel
WHERE id IN (
  SELECT id
  FROM TV_Channel
  WHERE series_name = 'Ben Jones'
);
Exact Match: âŒ
Execution Match: âŒ
--------------------------------------------------------------------------------

Example 795/1034:
Database: course_teach
Question (KO): ëª¨ë“  êµì‚¬ì˜ ë‚˜ì´ì™€ ê³ í–¥ì€ ë¬´ì—‡ì…ë‹ˆê¹Œ?
Gold SQL: SELECT Age ,  Hometown FROM teacher
Generated SQL: SELECT T2.Name, T2.Age, T2.Hometown
FROM course_arrange T1
JOIN teacher T2
ON T1.Teacher_ID = T2.Teacher_ID
WHERE T1.Course_ID = 1;
Exact Match: âŒ
Execution Match: âŒ
--------------------------------------------------------------------------------

Example 796/1034:
Database: world_1
Question (KO): ê°€ì¥ ë§ì€ êµ­ê°€ì—ì„œ ì‚¬ìš©ë˜ëŠ” ì–¸ì–´ëŠ” ë¬´ì—‡ì…ë‹ˆê¹Œ?
Gold SQL: SELECT LANGUAGE FROM countrylanguage GROUP BY LANGUAGE ORDER BY count(*) DESC LIMIT 1
Generated SQL: SELECT language
FROM countrylanguage
WHERE countrycode = 'USA'
AND language = 'English';
Exact Match: âŒ
Execution Match: âœ…
--------------------------------------------------------------------------------

Example 797/1034:
Database: student_transcripts_tracking
Question (KO): 2ê°œ ë¯¸ë§Œì˜ ì„¹ì…˜ì´ ìˆëŠ” ëª¨ë“  ê³¼ì •ì˜ ì´ë¦„ê³¼ IDëŠ” ë¬´ì—‡ì…ë‹ˆê¹Œ?
Gold SQL: SELECT T1.course_name ,  T1.course_id FROM Courses AS T1 JOIN Sections AS T2 ON T1.course_id  =  T2.course_id GROUP BY T1.course_id HAVING count(*)  <=  2
Generated SQL: SELECT
  student_id,
  course_id,
  semester_id,
  degree_program_id,
  transcript_id,
  transcript_date,
  other_details
FROM
  student_enrolment_courses
WHERE
  student_id = 1
  AND course_id = 2
  AND semester_id = 3
  AND degree_program_id = 4
  AND transcript_id = 5
  AND transcript_date = '2023-02-15'
  AND other_details = 'This is a test';
Exact Match: âŒ
Execution: âŒ (Error: no such column: student_id...)
--------------------------------------------------------------------------------

Example 798/1034:
Database: poker_player
Question (KO): ì´ë¦„ì˜ ì•ŒíŒŒë²³ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬ëœ ì‚¬ëŒë“¤ì˜ ì´ë¦„ê³¼ ìƒë…„ì›”ì¼ì„ ë‚˜ì—´í•˜ì„¸ìš”.
Gold SQL: SELECT Name ,  Birth_Date FROM people ORDER BY Name ASC
Generated SQL: SELECT p.name, p.birth_date, p.height
FROM poker_player p
JOIN people pe ON p.people_id = pe.people_id
ORDER BY p.name;
Exact Match: âŒ
Execution: âŒ (Error: no such column: p.name...)
--------------------------------------------------------------------------------

Example 799/1034:
Database: car_1
Question (KO): 8ê°œì˜ ì‹¤ë¦°ë”ë¥¼ ê°€ì¡Œê±°ë‚˜ 1980ë…„ ì „ì— ìƒì‚°ëœ ìë™ì°¨ì˜ ìµœëŒ€ ê°¤ëŸ°ë‹¹ ë§ˆì¼ì€ ì–¼ë§ˆì…ë‹ˆê¹Œ?
Gold SQL: select max(mpg) from cars_data where cylinders  =  8 or year  <  1980
Generated SQL: SELECT
  c.ContId,
  c.ContName,
  c.Continent,
  c.CountryId,
  c.CountryName,
  c.MakerId,
  c.MakerName,
  c.ModelId,
  c.ModelName
FROM
  continents c
JOIN
  countries cc ON c.Continent = cc.Continent
JOIN
  car_makers cm ON cc.CountryId = cm.CountryId
JOIN
  cars_data cd ON cm.MakerId = cd.MakerId
WHERE
  c.Continent = 'Europe' AND
  cc.CountryName = 'France' AND
Exact Match: âŒ
Execution: âŒ (Error: incomplete input...)
--------------------------------------------------------------------------------

Example 800/1034:
Database: car_1
Question (KO): í”„ë‘ìŠ¤ì—ì„œ ì¼€ì–´ ì œì¡°ì—…ì²´ì˜ ìˆ˜ëŠ” ëª‡ ê°œì…ë‹ˆê¹Œ?
Gold SQL: SELECT count(*) FROM CAR_MAKERS AS T1 JOIN COUNTRIES AS T2 ON T1.Country  =  T2.CountryId WHERE T2.CountryName  =  'france';
Generated SQL: SELECT
  c.Continent,
  c.CountryName,
  m.Maker,
  m.FullName,
  m.Year,
  m.Horsepower,
  m.Weight,
  m.Accelerate
FROM
  car_makers m
  JOIN car_names c ON m.Id = c.Id
WHERE
  c.Continent = 'Europe';
Exact Match: âŒ
Execution: âŒ (Error: no such column: c.Continent...)
--------------------------------------------------------------------------------

Example 801/1034:
Database: pets_1
Question (KO): ê° ì¢…ë¥˜ì˜ ë°˜ë ¤ë™ë¬¼ì— ëŒ€í•œ ìµœëŒ€ ì²´ì¤‘ê³¼ ì¢…ë¥˜ë¥¼ ë‚˜ì—´í•˜ì„¸ìš”.
Gold SQL: SELECT max(weight) ,  petType FROM pets GROUP BY petType
Generated SQL: SELECT p.pet_type, s.sex, s.age
FROM Student s
JOIN Has_Pet hp ON s.stu_id = hp.stu_id
JOIN Pet p ON hp.pet_id = p.pet_id
WHERE p.weight > (SELECT AVG(weight) FROM Pet)
AND s.age > (SELECT AVG(age) FROM Student)
AND s.sex = 'M';
Exact Match: âŒ
Execution: âŒ (Error: no such table: Pet...)
--------------------------------------------------------------------------------

Example 802/1034:
Database: flight_2
Question (KO): ë¯¸êµ­ì˜ í•­ê³µì‚¬ ìˆ˜ë¥¼ ë°˜í™˜í•˜ì„¸ìš”.
Gold SQL: SELECT count(*) FROM AIRLINES WHERE Country  =  "USA"
Generated SQL: SELECT A.airline, A.abbreviation, A.country
FROM airlines A
JOIN flights F ON A.airline = F.airline
WHERE F.source_airport = 'LAX' AND F.dest_airport = 'SFO';
Exact Match: âŒ
Execution: âŒ (Error: no such column: F.source_airport...)
--------------------------------------------------------------------------------

Example 803/1034:
Database: poker_player
Question (KO): ìˆ˜ì…ì„ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ëœ í¬ì»¤ í”Œë ˆì´ì–´ë“¤ì˜ ì´ë¦„ì„ ë°˜í™˜í•˜ì„¸ìš”.
Gold SQL: SELECT T1.Name FROM people AS T1 JOIN poker_player AS T2 ON T1.People_ID  =  T2.People_ID ORDER BY T2.Earnings DESC
Generated SQL: SELECT p.name, p.nationality, p.birth_date, p.height, p.earnings
FROM poker_player p
JOIN people p2 ON p.poker_player_id = p2.people_id
ORDER BY p.earnings DESC;
Exact Match: âŒ
Execution: âŒ (Error: no such column: p.name...)
--------------------------------------------------------------------------------

Example 804/1034:
Database: car_1
Question (KO): ì—°ë„ë³„ í‰ê·  ë¬´ê²Œì™€ ì—°ë„ëŠ”?
Gold SQL: SELECT avg(Weight) ,  YEAR FROM CARS_DATA GROUP BY YEAR;
Generated SQL: ì•„ë˜ ìŠ¤í‚¤ë§ˆì™€ ì§ˆë¬¸ì„ ë°”íƒ•ìœ¼ë¡œ SQL ì¿¼ë¦¬ë¥¼ ìƒì„±í•´ì¤˜.

[ìŠ¤í‚¤ë§ˆ]:
í…Œì´ë¸”: continents
ì»¬ëŸ¼:
  - ContId (number) (ê¸°ë³¸ í‚¤)
  - ContName (text)
  - Country (text)
  - Maker (text)
  - Model (text)

í…Œì´ë¸”: countries
ì»¬ëŸ¼:
  - CountryId (number) (ê¸°ë³¸ í‚¤)
  - CountryName (text)
  - Continent (number)
  - Maker (text)
  - Model (text)

í…Œì´ë¸”: car_makers
ì»¬ëŸ¼:
  - MakerId (number) (ê¸°ë³¸ í‚¤)
  - MakerName (text)
Exact Match: âŒ
Execution: âŒ (Error: near "ì•„ë˜": syntax error...)
--------------------------------------------------------------------------------

Example 805/1034:
Database: poker_player
Question (KO): ëª¨ë“  í¬ì»¤ í”Œë ˆì´ì–´ë“¤ì˜ íŒŒì´ë„ í…Œì´ë¸” ì§„ì¶œ íšŸìˆ˜ì™€ ìµœê³  ì„±ì ì€ ë¬´ì—‡ì¸ê°€ìš”?
Gold SQL: SELECT Final_Table_Made ,  Best_Finish FROM poker_player
Generated SQL: SELECT p.Poker_Player_ID, p.People_ID, p.Final_Table_Made, p.Best_Finish, p.Money_Rank, p.Earnings, p.Height, p.Nationality
FROM poker_player p
JOIN people pe ON p.People_ID = pe.People_ID
WHERE p.Birth_Date = (SELECT Birth_Date FROM people WHERE Name = 'John Doe');
Exact Match: âŒ
Execution: âŒ (Error: no such column: p.Height...)
--------------------------------------------------------------------------------

Example 806/1034:
Database: poker_player
Question (KO): ëª¨ë“  í¬ì»¤ í”Œë ˆì´ì–´ë“¤ì˜ í‰ê·  ìˆ˜ì…ì„ ë°˜í™˜í•˜ì„¸ìš”.
Gold SQL: SELECT avg(Earnings) FROM poker_player
Generated SQL: SELECT AVG(Earnings)
FROM poker_player
WHERE Nationality = 'USA';
Exact Match: âŒ
Execution: âŒ (Error: no such column: Nationality...)
--------------------------------------------------------------------------------

Example 807/1034:
Database: dog_kennels
Question (KO): ì¹˜ë£Œë¥¼ ë°›ì§€ ì•Šì€ ê°œë“¤ì˜ ìˆ˜ë¥¼ ì•Œë ¤ì£¼ì„¸ìš”.
Gold SQL: select count(*) from dogs where dog_id not in ( select dog_id from treatments )
Generated SQL: SELECT
  b.breed_code,
  b.breed_name,
  c.charge_id,
  c.charge_type,
  c.charge_amount,
  s.size_code,
  s.size_description,
  t.treatment_type_code,
  t.treatment_type_description,
  o.owner_id,
  o.first_name,
  o.last_name,
  o.street,
  o.city,
  o.state,
  o.zip_code,
  o.email_address,
  o.home_phone,
  o.cell_number,
  d.dog_id,
  d.name,
  d.age,
  d.weight
Exact Match: âŒ
Execution: âŒ (Error: no such column: b.breed_code...)
--------------------------------------------------------------------------------

Example 808/1034:
Database: car_1
Question (KO): ëŒ€ë¥™ë³„ë¡œ ê° ID, ì´ë¦„ ë° í¬í•¨ëœ êµ­ê°€ ìˆ˜ë¥¼ ë‚˜ì—´í•˜ì„¸ìš”.
Gold SQL: SELECT T1.ContId ,  T1.Continent ,  count(*) FROM CONTINENTS AS T1 JOIN COUNTRIES AS T2 ON T1.ContId  =  T2.Continent GROUP BY T1.ContId;
Generated SQL: SELECT
  c.Continent,
  c.CountryName,
  m.Maker,
  m.FullName,
  m.Year,
  m.MPG,
  m.Cylinders,
  m.Weight,
  m.Accelerate
FROM
  cars_data c
  JOIN car_makers m ON c.Id = m.Id
ORDER BY
  c.Continent,
  c.CountryName,
  m.Maker,
  m.FullName,
  m.Year;
Exact Match: âŒ
Execution: âŒ (Error: no such column: c.Continent...)
--------------------------------------------------------------------------------

Example 809/1034:
Database: pets_1
Question (KO): ê³ ì–‘ì´ë¥¼ ë°˜ë ¤ë™ë¬¼ë¡œ ì†Œìœ í•˜ì§€ ì•Šì€ í•™ìƒë“¤ì˜ IDëŠ” ë¬´ì—‡ì¸ê°€ìš”?
Gold SQL: SELECT stuid FROM student EXCEPT SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat'
Generated SQL: SELECT s.StuID, s.LName, p.PetID, p.PetType
FROM Student s
JOIN Has_Pet hp ON s.StuID = hp.StuID
JOIN Pet p ON hp.PetID = p.PetID
WHERE p.PetType = 'dog';
Exact Match: âŒ
Execution: âŒ (Error: no such table: Pet...)
--------------------------------------------------------------------------------

Example 810/1034:
Database: cre_Doc_Template_Mgt
Question (KO): ëª¨ë“  ë¬¸ì„œì˜ ë¬¸ì„œ ID, ë¬¸ì„œ ì´ë¦„ ë° ë¬¸ì„œ ì„¤ëª…ì„ ë‚˜ì—´í•´ì£¼ì„¸ìš”.
Gold SQL: SELECT document_id ,  document_name ,  document_description FROM Documents
Generated SQL: SELECT
  D.Document_ID,
  D.Document_Name,
  D.Document_Description,
  P.Paragraph_ID,
  P.Paragraph_Text,
  T.Template_ID,
  T.Template_Type_Code,
  T.Template_Type_Description,
  T.Version_Number,
  T.Date_Effective_From,
  T.Date_Effective_To
FROM
  Documents D
  JOIN Paragraphs P ON D.Document_ID = P.Document_ID

,index,db_id,question_ko,gold_sql,generated_sql,exact_match,execution_match,execution_error
0,427,museum_visit,2010ë…„ í›„ì— ê°œê´€í•œ ë°•ë¬¼ê´€ì„ ë°©ë¬¸í•˜ì§€ ì•Šì€ ë°©ë¬¸ì ìˆ˜ë¥¼ ì°¾ìœ¼ì„¸ìš”.,SELECT count(*) FROM visitor WHERE id NOT IN (...,"SELECT v.Name, v.Num_of_Staff, m.Name, m.Num_o...",False,False,no such column: v.Name
1,23,concert_singer,ê° ê²½ê¸°ì¥ì—ì„œ ëª‡ ê°œì˜ ì½˜ì„œíŠ¸ê°€ ì—´ë¦¬ë‚˜ìš”?,"SELECT T2.name , count(*) FROM concert AS T1 ...","SELECT s.Name, c.concert_Name, c.Year, s.Count...",False,False,no such column: c.Singer_ID
2,74,pets_1,ê° ì¢…ë¥˜ì˜ ë°˜ë ¤ë™ë¬¼ë³„ í‰ê· ì²´ì¤‘ì€ ì–¼ë§ˆì¸ê°€ìš”?,"SELECT avg(weight) , pettype FROM pets GROUP ...","SELECT p.pet_type, AVG(p.weight) \nFROM pets p...",False,False,no such table: students
3,323,cre_Doc_Template_Mgt,í…œí”Œë¦¿ ìœ í˜• ì½”ë“œê°€ PP ë˜ëŠ” PPTì¸ í…œí”Œë¦¿ì˜ IDëŠ” ë¬´ì—‡ì…ë‹ˆê¹Œ?,SELECT template_id FROM Templates WHERE templa...,"SELECT \n T1.Template_Type_Code,\n T1.Templa...",False,False,no such column: T2
4,489,wta_1,ê° í•¸ë“œ íƒ€ì…ë³„ ì„ ìˆ˜ ìˆ˜ë¥¼ ì°¾ìœ¼ì„¸ìš”.,"SELECT count(*) , hand FROM players GROUP BY ...","SELECT \n p.player_id,\n p.first_name,\n p....",False,False,no such column: p.player_id
...,...,...,...,...,...,...,...,...
1029,727,world_1,ì•„ì‹œì•„ë‚˜ ìœ ëŸ½ì˜ êµ­ê°€ë“¤ì´ ì°¨ì§€í•˜ëŠ” ì´ í‘œë©´ì ì„ ì•Œë ¤ì£¼ì„¸ìš”.,SELECT sum(SurfaceArea) FROM country WHERE Con...,"SELECT c1.Name, c2.Name\nFROM city c1\nJOIN co...",False,False,None
1030,282,employee_hire_evaluation,í‰ê°€ë¥¼ í•œ ë²ˆë„ ë°›ì§€ ì•Šì€ ì§ì›ë“¤ì˜ ì´ë¦„ì€ ë¬´ì—‡ì…ë‹ˆê¹Œ?,SELECT name FROM employee WHERE Employee_ID NO...,"SELECT e.Name, s.Name\nFROM employee e\nJOIN h...",False,False,None
1031,223,flight_2,ì–´ë–¤ ë„ì‹œê°€ ê°€ì¥ ë§ì€ ì¶œë°œ í•­ê³µí¸ì„ ê°€ì§€ê³ ìˆìŠµë‹ˆê¹Œ?,SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHT...,"SELECT a.city, COUNT(f.flight_no) as flight_co...",False,False,no such column: a.city
1032,1013,singer,ê° êµ­ì ë³„ë¡œ ê·¸ ë‚˜ë¼ ì¶œì‹ ê°€ìˆ˜ê°€ ëª‡ ëª…ì¸ê°€ìš”?,"SELECT Citizenship , COUNT(*) FROM singer GRO...","SELECT s.Name, s.Birth_Year, s.Net_Worth_Milli...",False,False,None
1033,447,wta_1,2013ë…„ê³¼ 2016ë…„ ëª¨ë‘ì—ì„œ ê²½ê¸°í•œ ëª¨ë“ ìŠ¹ìì˜ ì´ë¦„ì„ ë‚˜ì—´í•˜ì„¸ìš”.,SELECT winner_name FROM matches WHERE YEAR = ...,"SELECT \n p1.first_name, \n p1.last_name, \n...",False,False,incomplete input